<template>
    <div class="col-md-6">
        <b-card class="mt-3" header="Thêm / Sửa cấu hình">
            <loading :active.sync="isLoading"
                     :height="35"
                     :width="35"
                     :color="color"
                     :is-full-page="fullPage"></loading>
            <b-form class="form-horizontal">
                <b-form-group label="Tên cấu hình" label-for="input-1">
                    <b-form-input id="input-1"
                                  v-model="objRequest.ConfigName"
                                  type="text"
                                  required
                                  placeholder="Tên cấu hình"></b-form-input>
                </b-form-group>
                <b-form-group label="ConfigGroupKey">
                    <b-form-input v-model="objRequest.ConfigGroupKey" placeholder="ConfigGroupKey" required></b-form-input>
                </b-form-group>
                <b-form-group label="ConfigLabel">
                    <b-form-input v-model="objRequest.ConfigLabel" placeholder="ConfigLabel" required></b-form-input>
                </b-form-group>
                <b-form-group label="ConfigValueType">
                    <b-form-select v-model="objRequest.ConfigValueType" :options="ConfigValueTypes" required></b-form-select>
                </b-form-group>
                <b-form-group label="Page">
                    <b-form-input v-model="objRequest.Page" required placeholder="Page"></b-form-input>
                </b-form-group>
                <b-form-group label="LanguageCode">
                    <b-form-select v-model="objRequest.LanguageCode" :options="LanguageCodes" required></b-form-select>
                </b-form-group>

                <b-button type="button" @click="DoAddEdit()" variant="primary">
                    <i class="fa fa-save"></i> Cập nhật
                </b-button>
                <b-button type="button" @click="DoRefesh()" variant="danger">
                    <i class="fa fa-refresh"></i> Làm mới
                </b-button>
            </b-form>
        </b-card>

    </div>
</template>


<script>
    import "vue-loading-overlay/dist/vue-loading.css";
    import msgNotify from "./../../common/constant";
    import { mapGetters, mapActions } from "vuex";
    import Loading from "vue-loading-overlay";
    // Import component

    export default {
        name: "configedit",
        data() {
            return {
                isLoading: false,
                fullPage: false,
                color: "#007bff",
                objRequest: {
                    Id: 0,
                    Type: 0,
                    IsEnable: false
                },
                LanguageCodes: [
                    { value: "", text: "Chọn ngôn ngữ" },
                    { value: "VN", text: "Tiếng Việt" },
                    { value: "EN", text: "Tiếng Anh" }
                ],
                ConfigValueTypes: [
                    { value: 0, text: "Chọn loại cấu hình" },
                    { value: 1, text: "Loại 1" },
                    { value: 2, text: "Loại 2" }
                ]
            };
        },
        created: {},
        components: {
            Loading
        },

        mounted() {
            if (this.$route.params.id > 0) {
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getLocation(this.$route.params.id).then(respose => {
                    this.objRequest = respose.Data;
                });
                this.isLoading = false;
            }
        },

        computed: {
            ...mapGetters(["location"]),

        },

        methods: {
            ...mapActions(["updateConfig", "addConfig", "getConfig"]),
            DoAddEdit() {
                this.isLoading = true;
                if (this.objRequest.Id > 0) {
                    this.updateConfig(this.objRequest)
                        .then(response => {
                            if (response.Success == true) {
                                this.$toast.success(response.Message, {});
                                this.isLoading = false;
                            }
                            else {
                                this.$toast.error(response.Message, {});
                                this.isLoading = false;
                            }

                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                } else {
                    this.addConfig(this.objRequest)
                        .then(response => {
                            if (response.Success == true) {
                                this.$toast.success(response.Message, {});
                                this.isLoading = false;
                            }
                            else {
                                this.$toast.error(response.Message, {});
                                this.isLoading = false;
                            }
                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                }
            }
        }
    };
</script>
<style>
</style>
