<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
 
    @*<environment names="Staging,ProductAtArticleion">
            <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
        </environment>*@
</head>

<body>
    @RenderBody()
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
