﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using JanHome.Web.Services.Zone.ViewModal
@using JanHome.Web.Services.Zone.Repository
@using Microsoft.AspNetCore.Http
@using JanHome.Web.Utility
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;
    var isHome = false;
    var path = Context.Request.Path.ToString();
    var expland = "un-expand";
    var dm_style = "";
    if (path.Split('/').Count() == 2)
    {
        isHome = true;
        expland = "";
        dm_style = "height: auto;";
    }

    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var location_id = HttpContextAccessor.HttpContext.Session.GetInt32("_LocationId");
    var location_name = HttpContextAccessor.HttpContext.Session.GetString("_LocationName");
}
@inject IViewLocalizer _localizer

<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=vietnamese"
          rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/bootstrap.min.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/0f84ce1997.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/vendor/swiper.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendor/animate.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/dev.css" asp-append-version="true">
    @RenderSection("Styles", required: false)
</head>

<body>
    @*<h1>@culture</h1>
        <h1>@culture_code</h1>*@
    @*header*@
    <section class="header">
        <div class="nav-top ">
            <a href="javascript:void(0)">
                <img src="~/images/change/banner.jpg" title="@domain" class="w-100 img-fluid" />
            </a>
        </div>
        @if (isHome == true)
        {
            <div class="list-location-top">
                <div class="container position-relative px-md-4">
                    <div class="swiper-container ">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <a href="">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Hà nội
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Hồ chí minh
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Hải phòng
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Hải dương
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Nam định
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Thái bình
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Thanh hóa
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Hà nội
                                </a>
                            </div>
                        </div>


                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
                    <div class="swiper-button-next text-right"><i class="fas fa-chevron-right"></i></div>
                </div>
            </div>
        }


        <div class=" nav-center">
            <div class="container">
                <nav class="navbar navbar-expand-md py-md-2 px-0 ">
                    <a class="navbar-brand " href="@base_uri_culture" title="">
                        <img src="~/images/logo.png" alt=""
                             class="img-fluid" />
                    </a>
                    <button class="navbar-toggler " type="button" data-toggle="collapse"
                            onclick="$('.collapse').toggle(100, 'swing');">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse w-100 align-self-center">
                        <ul class=" navbar-nav ml-auto mt-4 mt-md-0 w-100 justify-content-xl-around">
                            <li class="nav-item mr-md-3 align-self-center  d-none d-md-block  ">
                                <button type="button" class="btn btn-local " data-placement="bottom" data-toggle="modal"
                                        data-target="#modal-khu-vuc">
                                    <div class=" d-flex">
                                        <div class="align-self-center mr-2" style="width: 18px;">
                                            <img src="~/images/Location.svg"
                                                 class="img-fluid" />
                                        </div>
                                        <div class="align-self-center small text-left">
                                            <label class="mb-0">Khu vực:</label>
                                            <div class="local" id="current-local" data-id="@location_id" data-name="@location_name">
                                                @location_name
                                                <i class="fas fa-angle-down small ml-1"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="onhover">
                                        <div class="font-weight-bold">Bạn ở đâu?</div>
                                        <div style="color: #828282;">Bạn hãy chọn tỉnh thành nhé...</div>
                                    </div>
                                </button>
                            </li>
                            <li class="nav-item mr-md-3 align-self-center">
                                <div class="input-group form-search flex-nowrap mb-1 ">
                                    <input type="text" class="form-control" placeholder="Tìm sản phẩm....">
                                    <div class="input-group-append">
                                        <button class="btn btn-search">
                                            <img src="~/images/search.svg" class="img-fluid" />
                                        </button>
                                    </div>
                                </div>
                                @if (isHome == true)
                                {
                                    <div class=" d-none d-lg-block" style="font-size: 11px; line-height: 1;">
                                        Từ khóa liên quan :<a href="" class="btn-link"> Sàn gỗ xương cá</a>, <a href="" class="btn-link">sàn gỗ thanh lý</a>,...
                                    </div>
                                }

                            </li>
                            <li class="nav-item mr-md-3  align-self-md-center  d-flex mb-md-0">
                                <img src="~/images/tag.svg" class="img-fluid mr-2 icon-nav" />
                                <div class="align-self-center">
                                    <a href="" class="d-none d-md-block">
                                        Chương trình<br />
                                        khuyến mại
                                    </a>
                                    <a href="" class="d-md-none">
                                        Chương trình
                                        khuyến mại
                                    </a>

                                </div>
                            </li>
                            <li class="nav-item mr-md-3 align-self-md-center  d-flex mb-md-0 cart">
                                <div class="icon mr-2">
                                    <img src="~/images/cart-icon.svg" class="img-fluid mr-2 icon-nav" />
                                    <div class="amount">
                                        9+
                                    </div>
                                </div>
                                <div class="align-self-center">
                                    <a href="" class="color-DA251D">Giỏ hàng</a>
                                </div>
                            </li>
                            <li class="nav-item mr-md-3  align-self-md-center d-flex d-sm-none d-lg-flex"
                                style="white-space: nowrap;">
                                <img src="~/images/hot-line-red-icon.svg"
                                     class="img-fluid mr-2 icon-nav align-self-center wow tada infinite " />
                                <div>
                                    <a href="">
                                        Hotline:
                                        <div class="small"><span class=" color-EE7D22 font-weight-bold h5">1800 0022</span> (Miễn phí) </div>
                                    </a>
                                </div>
                            </li>

                            <li class=" nav-item align-self-md-center ">
                                <div class=" nav-link dropdown">
                                    <a class="btn dropdown-toggle p-0" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <img src="~/images/226-united-states.svg" class="img-fluid " />
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="/vi">
                                            <img src="~/images/226-united-states.svg"
                                                 class="img-fluid mr-1" />
                                            Việt Nam
                                        </a>
                                        <a class="dropdown-item" href="/en">
                                            <img src="~/images/226-united-states.svg"
                                                 class="img-fluid mr-1" />
                                            English
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>

                </nav>
            </div>

        </div>
        <div class="local-mobile container d-flex d-md-none small py-2" style="background: #ffdaba;">
            <div><i class="fas fa-map-marker-alt mr-2"></i>Bạn đang xem sản phẩm tại TP.Hồ Chí Minh</div>
            <a href="" class="btn-link ml-auto" data-toggle="modal" data-target="#modal-khu-vuc">Đổi</a>
        </div>
        <section>
            <section class="bg-fff  pb-1">
                <div class="menu-fix home">
                    <div class="container position-relative">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-12">
                                <ul class="list-group list-menu-cate d-none d-md-block @expland " style="@dm_style">
                                    <li class="list-group-item active">
                                        <a href="javascript:;" class="link">
                                            <img src="~/images/listView.svg"
                                                 class="img-fluid mr-2" />@_localizer["Categories"]
                                            </a>
                                        </li>
                                        @await Component.InvokeAsync("ProductMenu")
                                        @*<cache expires-after="@TimeSpan.FromMinutes(20)">

                                                @await Component.InvokeAsync("ProductMenu")

                                            </cache>*@
                                    </ul>
                                    <ul class="menu-cate-mobile d-flex d-md-none">

                                        <a href="" class="btn btn-cate">
                                            Sàn gỗ
                                            <div class="nowrap">công nghiệp</div>
                                        </a>
                                        <a href="" class="btn btn-cate">
                                            Sàn gỗ
                                            <div class="nowrap">tự nhiên</div>
                                        </a>
                                        <a href="" class="btn btn-cate">
                                            Sàn gỗ
                                            <div class="nowrap">ngoài trời</div>
                                        </a>
                                        <a href="" class="btn btn-cate">
                                            Sàn nhựa
                                        </a>
                                        <a href="" class="btn btn-cate">
                                            Trang trí
                                            <div class="nowrap">ngoại thất</div>
                                        </a>
                                        <a href="" class="btn btn-cate">
                                            Trang trí
                                            <div class="nowrap">
                                                nội thất
                                            </div>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-9 col-md-8 col-12 pl-md-0">
                                    <div class="menu-ngang d-flex justify-content-between small">
                                        <div>
                                            <a href="javascrip:;" class="btn-sm btn-link" onclick="spvx() ">
                                                <img src="~/images/spvx-ic.svg"
                                                     class="img-fluid icon mr-2" />Sản phẩm vừa
                                                xem
                                            </a>

                                        </div>
                                        <div>
                                            <a href="" class="btn-sm btn-link">
                                                <img src="~/images/location-icn.svg"
                                                     class="img-fluid icon mr-2" />Hệ thống
                                                <span class="px-1 font-weight-bold" style="color:#007DFF;">38</span>
                                                Showroom
                                            </a>
                                        </div>
                                        <div>
                                            <a href="" class="btn-sm btn-link">
                                                <img src="~/images/spvx-ic3.svg"
                                                     class="img-fluid icon mr-2" />Tải
                                                Categories
                                            </a>
                                        </div>

                                        <div>
                                            <a href="" class="btn-sm btn-link" data-toggle="modal"
                                               data-target="#modal-lien-he">
                                                <img src="~/images/spvx-ic4.svg"
                                                     class="img-fluid icon mr-2" />Liên hệ bảo
                                                hành
                                            </a>
                                        </div>
                                        <div>
                                            <a href="" class="btn-sm btn-link">
                                                <img src="~/images/spvx-ic5.svg"
                                                     class="img-fluid icon mr-2" />Dự toán công
                                                trình
                                            </a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="spvx " style="">
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class=" py-2 px-3 mb-0">Sản phẩm bạn đã xem</h6>
                                    </div>
                                </div>
                                <div class="row no-gutters h-100 ">
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                                        <div class="item-product">
                                            <div class="tag-1">
                                                Trả góp 0% - Trả trước 0đ
                                            </div>
                                            <div class="image">
                                                <a href=""><img src="~/images/change/image 4x4.png" class="img-fluid" /></a>
                                                <div class="tag-2">
                                                    <img src="~/images/change/tag-2-2.png" class="img-fluid " />
                                                </div>
                                            </div>

                                            <div class="">
                                                <h5 class="title">
                                                    <a href="" title="">
                                                        Sàn gỗ JanHome siêu chịu nước
                                                    </a>
                                                </h5>
                                                <div class="price-new">
                                                    225,000 đ/m2
                                                </div>
                                                <div class="price-old">
                                                    225,000đ
                                                </div>
                                                <div class="size small mb-1">
                                                    KT: 602 x 30 x 34 mm
                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        4.5/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        135 đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                                        <div class="item-product">
                                            <div class="tag-1">
                                                Trả góp 0% - Trả trước 0đ
                                            </div>
                                            <div class="image">
                                                <a href=""><img src="~/images/change/image 4x4.png" class="img-fluid" /></a>
                                                <div class="tag-2">
                                                    <img src="~/images/change/tag-2-2.png" class="img-fluid " />
                                                </div>
                                            </div>

                                            <div class="">
                                                <h5 class="title">
                                                    <a href="" title="">
                                                        Sàn gỗ JanHome siêu chịu nước
                                                    </a>
                                                </h5>
                                                <div class="price-new">
                                                    225,000 đ/m2
                                                </div>
                                                <div class="price-old">
                                                    225,000đ
                                                </div>
                                                <div class="size small mb-1">
                                                    KT: 602 x 30 x 34 mm
                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        4.5/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        135 đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                                        <div class="item-product">
                                            <div class="tag-1">
                                                Trả góp 0% - Trả trước 0đ
                                            </div>
                                            <div class="image">
                                                <a href=""><img src="~/images/change/image 4x4.png" class="img-fluid" /></a>
                                                <div class="tag-2">
                                                    <img src="~/images/change/tag-2-2.png" class="img-fluid " />
                                                </div>
                                            </div>

                                            <div class="">
                                                <h5 class="title">
                                                    <a href="" title="">
                                                        Sàn gỗ JanHome siêu chịu nước
                                                    </a>
                                                </h5>
                                                <div class="price-new">
                                                    225,000 đ/m2
                                                </div>
                                                <div class="price-old">
                                                    225,000đ
                                                </div>
                                                <div class="size small mb-1">
                                                    KT: 602 x 30 x 34 mm
                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        4.5/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        135 đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                                        <div class="item-product">
                                            <div class="tag-1">
                                                Trả góp 0% - Trả trước 0đ
                                            </div>
                                            <div class="image">
                                                <a href=""><img src="~/images/change/image 4x4.png" class="img-fluid" /></a>
                                                <div class="tag-2">
                                                    <img src="~/images/change/tag-2-2.png" class="img-fluid " />
                                                </div>
                                            </div>

                                            <div class="">
                                                <h5 class="title">
                                                    <a href="" title="">
                                                        Sàn gỗ JanHome siêu chịu nước
                                                    </a>
                                                </h5>
                                                <div class="price-new">
                                                    225,000 đ/m2
                                                </div>
                                                <div class="price-old">
                                                    225,000đ
                                                </div>
                                                <div class="size small mb-1">
                                                    KT: 602 x 30 x 34 mm
                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        4.5/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        135 đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                                        <div class="item-product">
                                            <div class="tag-1">
                                                Trả góp 0% - Trả trước 0đ
                                            </div>
                                            <div class="image">
                                                <a href=""><img src="~/images/change/image 4x4.png" class="img-fluid" /></a>
                                                <div class="tag-2">
                                                    <img src="~/images/change/tag-2-2.png" class="img-fluid " />
                                                </div>
                                            </div>

                                            <div class="">
                                                <h5 class="title">
                                                    <a href="" title="">
                                                        Sàn gỗ JanHome siêu chịu nước
                                                    </a>
                                                </h5>
                                                <div class="price-new">
                                                    225,000 đ/m2
                                                </div>
                                                <div class="price-old">
                                                    225,000đ
                                                </div>
                                                <div class="size small mb-1">
                                                    KT: 602 x 30 x 34 mm
                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        4.5/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        135 đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                                        <div class="item-product">
                                            <div class="tag-1">
                                                Trả góp 0% - Trả trước 0đ
                                            </div>
                                            <div class="image">
                                                <a href=""><img src="~/images/change/image 4x4.png" class="img-fluid" /></a>
                                                <div class="tag-2">
                                                    <img src="~/images/change/tag-2-2.png" class="img-fluid " />
                                                </div>
                                            </div>

                                            <div class="">
                                                <h5 class="title">
                                                    <a href="" title="">
                                                        Sàn gỗ JanHome siêu chịu nước
                                                    </a>
                                                </h5>
                                                <div class="price-new">
                                                    225,000 đ/m2
                                                </div>
                                                <div class="price-old">
                                                    225,000đ
                                                </div>
                                                <div class="size small mb-1">
                                                    KT: 602 x 30 x 34 mm
                                                </div>
                                                <div class="review d-flex">
                                                    <div class="color-FFAB1B mr-2">
                                                        4.5/5<i class="fas fa-star ml-1"></i>
                                                    </div>
                                                    <div class="color-828282">
                                                        135 đánh giá
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </section>

            </section>
        </section>
        @RenderBody()
        @*footer*@
        <footer class="footer">
            <div class="container">
                <div class="row justify-content-center ">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 col-12">
                        <h4 class="title-menu">JANHOME</h4>
                        <ul class="footer-menu ">
                            <li><a href="">Giới thiệu</a></li>
                            <li><a href="">Hệ thống trung tâm</a></li>
                            <li><a href="">Tuyển dụng</a></li>
                            <li><a href="">Liên hệ & Góp ý</a></li>
                        </ul>


                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                        <h4 class="title-menu">Hỗ trợ khách hàng</h4>
                        <ul class="footer-menu ">
                            <li><a href="">Chính sách & Quy định</a></li>
                            <li><a href="">Bảo hành - bảo dưỡng</a></li>
                            <li><a href="">Quy định thanh toán</a></li>
                            <li><a href="">Chính sách bảo mật</a></li>
                            <li><a href="">Chính sách đổi trả hàng</a></li>
                        </ul>


                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                        <h4 class="title-menu">Câu hỏi thường gặp</h4>
                        <ul class="footer-menu ">
                            <li><a href="">Cách tạo yêu cầu hỗ trợ</a></li>
                            <li><a href="">Hướng dẫn kiểm tra đơn hàng</a></li>
                            <li><a href="">Lưu ý khi mua hàng </a></li>
                            <li><a href="">Hỏi đáp về bảo quản</a></li>
                        </ul>


                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-12">
                        <h4 class="title-menu">Đăng ký nhận thông tin</h4>
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn input-group-text  ">Đăng ký</button>
                            </div>
                        </div>
                        <h4 class="title-menu mb-4">Kết nối với chúng tôi</h4>
                        <div class="social">
                            <a href="" title="Facebook">
                                <img src="~/images/fb-cir-ic.svg" class="img-fluid mr-2" />
                            </a>
                            <a href="" title="Twitter">
                                <img src="~/images/twitter-ic.svg" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 border-bottom p-3 mb-3" style="border-color: #7F7D7D!important;">

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12  ">
                        <div class="font-weight-bold mb-2">Trụ sở tại miền Bắc</div>
                        <div class="mb-2">
                            Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.
                        </div>
                        <div class="font-weight-bold mb-2">Trụ sở tại miền Bắc</div>
                        <div class="mb-4">
                            QQ18 Ba Vì, Cư xá Bắc Hải, Phường 15, Quận 10, Hồ Chí Minh
                        </div>
                        <div class="mb-4">
                            <div class="d-lg-inline-block mb-2 mb-lg-0">
                                <a href=""><i class="fas fa-phone-alt mr-2"></i>Hotline: 1800 0022</a>
                            </div>
                            <div class="d-lg-inline-block ml-lg-5">
                                <a href=""><i class="fas fa-envelope mr-2"></i>Email: info@janco.com.vn</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-4  text-center">
                        <img src="~/images/logoCCDV.png" class="img-fluid " />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-4  text-center">
                        <img src="~/images/logoSaleNoti.png" class="img-fluid" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-4 text-center">
                        <img src="~/images/dmca.png" class="img-fluid" />
                    </div>

                </div>

            </div>
            <div class="bottom-footer py-3 text-right">
                <div class="container">
                    <a href="">
                        <img src="~/images/visa-ic.svg" class="img-fluid" />
                    </a>
                    <a href="">
                        <img src="~/images/paypal-ic.svg" class="img-fluid" />
                    </a>
                    <a href="">
                        <img src="~/images/master-ic.svg" class="img-fluid" />
                    </a>
                    <a href="">
                        <img src="~/images/express-ic.svg" class="img-fluid" />
                    </a>
                </div>
            </div>

        </footer>
        <!--Modal chọn khu vực-->
        <div class="modal jan-modal fade" id="modal-khu-vuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h6 class="modal-title font-weight-bold">Khu vực</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @await Component.InvokeAsync("LocationList")
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-save save-location" data-dismiss="modal" data-toggle="modal"
                                data-target="#modal-xn">
                            Xác nhận
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal jan-modal fade" id="modal-xn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="mb-3">
                            <img src="~/images/logo.png" class="img-fluid" />
                        </div>
                        <h5 class="mb-3 font-weight-bold">Xách nhận thành công!</h5>
                        <div>
                            <img src="~/images/check.svg" class="img-fluid" />
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center border-0">
                        <button type="button" class="btn btn-save px-lg-5" data-dismiss="modal">Hoàn tất</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal liên hệ -->
        <div class="modal jan-modal fade" id="modal-lien-he" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h6 class="modal-title font-weight-bold">Liên hệ bảo hành</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Họ và tên (bắt buộc)" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Số điện thoại)" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Yêu cầu" />
                        </div>
                        <div class="form-group">
                            <textarea type="text" rows="5" class="form-control" placeholder="Nội dung chi tiết"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-save" data-dismiss="modal" data-toggle="modal"
                                data-target="#modal-xn">
                            Xác nhận
                        </button>
                    </div>
                </div>
            </div>
        </div>


        @if (isHome == true)
        {
            <div class="banner-fixed-left">
                <a href="">
                    <img src="~/images/change/2.jpg" class="img-fluid w-100" />
                </a>
            </div>
            <div class="banner-fixed-right">
                <a href="">
                    <img src="~/images/change/1.png" class="img-fluid w-100" />
                </a>
            </div>

        }

        <div class="btn-fixed">
            <div class="text-center mb-3">
                <a href="javascript:;" onclick=" topFunction() " class="">
                    <img src="~/images/scroll.svg" class="img-fluid " />
                </a>
            </div>
            <div class="text-center">
                <a href="" class="">
                    <img src="~/images/messenger.svg" class="img-fluid  " />
                </a>
            </div>
        </div>




        <script type="text/javascript" src="~/vendor/jquery-3.3.1.min.js" asp-append-version="true"></script>
        <script>
            $(document).ready(function () {
                //save local storage for location
                var location_id = $('#current-local').data('id');
                var location_name = $('#current-local').data('name');
                if (localStorage.getItem("_LocationId") == null) {
                    localStorage.setItem("_LocationId", location_id);
                    localStorage.setItem("_LocationName", location_name);
                }
                console.log(localStorage.getItem("_LocationId"));
                console.log(localStorage.getItem("_LocationName"));
                //Check

            })
            $('.save-location').off('click').on('click', function () {
                var currentUrl = window.location.href;
                var location_id = $('#location-selectbox').val();
                var location_name = $('#location-selectbox option:selected').html();
                localStorage.setItem("_LocationId", location_id);
                localStorage.setItem("_LocationName", location_name);
                var params = {
                    location_id: localStorage.getItem("_LocationId"),
                    location_name: localStorage.getItem("_LocationName"),
                    currentUrl: currentUrl
                }
                $.post('/vi/Session/ChangeCurrentLocation', params, function () {
                    console.log(100);
                    location.reload(true);
                })
            })
        </script>
        <script type="text/javascript" src="~/vendor/popper.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/vendor/bootstrap.min.js" asp-append-version="true"></script>

        <script type="text/javascript" src="~/vendor/swiper.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/vendor/wow.min.js" asp-append-version="true"></script>


        <script type="text/javascript" src="~/js/app.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/core/core.js" asp-append-version="true"></script>
        <script src="~/js/libs/yall-js/dist/yall.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", yall);
        </script>

        @RenderSection("Scripts", required: false)

    </body>

</html>