<template>
    <div class="list-data">
        <b-card header-tag="header" class="card-filter" footer-tag="footer">
            <div>
                <b-col md="12">
                    <b-row class="form-group">
                        <b-col md="4">
                            <b-form-input type="text" v-model="searchTitle" v-on:keyup.enter="onChangePaging()"
                                          placeholder="Tìm kiếm theo tên"></b-form-input>
                        </b-col>
                        <b-col md="2">
                            <b-button variant="outline-primary" @click="this.onChangePaging">Tìm kiếm</b-button>
                        </b-col>
                    </b-row>
                </b-col>
            </div>
        </b-card>
        <b-card>
        </b-card>
        <b-card>
            <div role="toolbar" aria-label="Toolbar with button groups and dropdown menu" class="mb-2">
                <div role="group" class="mx-1 btn-group">
                    <router-link :to="{ path: 'add' }">
                        <b-button class="btn btn-success" v-b-tooltip.hover title="Thêm mới nhà cung cấp">
                            <i class="fa fa-plus"></i> Thêm mới
                        </b-button>
                    </router-link>
                </div>
                <div class="mx-1 btn-group mi-paging">
                    <b-pagination class="pagination b-pagination pagination-md" v-model="currentPage"
                                  :total-rows="this.totalRow"
                                  :per-page="pageSize"></b-pagination>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-centered table-nowrap">
                    <thead class="thead-dark table table-centered table-nowrap">
                    <tr>
                        <th v-for="field in fields"
                            @click="field.sortable ? sortor(field.key) : null"
                            class="text-center"
                            style="max-width:150px"
                            scope="col">{{field.label}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in this.items">
                        <td class="text-center" scope="row">{{item.id}}</td>
                        <td class="text-center">{{item.name}}</td>
                        <td class="text-center">{{item.url}}</td>
                        <td class="text-center">
                            <router-link :to="{path: 'edit/'+item.id}">
                                <b-button class="btn btn-warning" v-b-tooltip.hover title="Sửa nhà cung cấp">
                                    <i class="fa fa-edit"></i>
                                </b-button>
                            </router-link>
                            <b-button class="btn btn-xs btn-danger" v-b-tooltip.hover title="Hạ nhà cung cấp"
                                      @click="remove(item)">
                                <i class="fa fa-trash-o"></i>
                            </b-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </b-card>

    </div>
</template>
<script>
    import "vue-loading-overlay/dist/vue-loading.css";
    import Loading from "vue-loading-overlay";
    import Treeselect from '@riophae/vue-treeselect'
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'

    import manufacturersRepository from "../../repository/manufacturer/manufacturerRepository";

    const fields = [
        {key: "Id", label: "Id"},
        {key: "Title", label: "Tiêu đề", sortable: true},
        {key: "Url", label: "Url", sortable: true},
        {key: "Action", label: "Thao tác"}
    ];
    export default {
        name: "Manufacturers",
        components: {
            Loading
        },
        data() {
            return {
                isLoading: false,
                fields,
                searchTitle: "",
                searchStatus: 0,
                searchType: 0,
                messager: "",
                currentSort: "Id",
                currrentSortDir: "asc",
                currentPage: 1,
                pageSize: 10,
                totalRow:null,
                loading: true,
                bootstrapPaginationClasses: {
                    ul: "pagination",
                    li: "page-item",
                    liActive: "active",
                    liDisable: "disabled",
                    button: "page-link"
                },
                customLabels: {
                    first: "First",
                    prev: "Previous",
                    next: "Next",
                    last: "Last"
                },
                listManufacturer: null,
                items:null
            };
        },
        methods: {
            async onChangePaging() {
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.listManufacturer = await manufacturersRepository.getPageManufacturers({
                    initial: initial,
                    pageIndex: this.currentPage,
                    pageSize: this.pageSize,
                    title: this.searchTitle,
                });
                console.log(this.listManufacturer);
                this.totalRow=this.listManufacturer.totalRow;
                this.items=this.listManufacturer.items;
                this.isLoading = false;
            },
        },
        watch: {
            currentPage: function (val) {
                this.onChangePaging();
            }
        },
        created() {
            this.onChangePaging();
        },
        components: {
            Treeselect
        }

    }
</script>
