<template>
    <div class="row productedit">
        <div class="col-sm-12 col-md-9">
            <div class="card">

                <div class="card-header">
                    Chọn Combo sản phẩm
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <div style="display:flex;width:100%">
                                        <div class="col-md-6" style="padding-left:0px">
                                            <v-select></v-select>
                                        </div>
                                        <div class="input-group" style="display:flex;width:50%">
                                            <input type="text" autocomplete="off" v-model="keyword" placeholder="Tìm kiếm sản phẩm" v-on:keyup.enter="onLoadProduct()" class="form-control"> <span class="input-group-addon bg-primary" style="cursor: pointer; width: 45px;"><i class="fa fa-search" style="padding-top: 10px; padding-left: 15px;"></i></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-body">
                                    <div class="slimScrollDiv" style="position: relative; overflow-x: scroll; width: auto; height: 300px;">
                                        <div class="row" style="width: auto; height: 300px;">
                                            <ul style="padding:20px;padding-left:10px ;width:100%">
                                                <li v-for="item in ListProduct" @click="changeValueLeft(item.id)" :class="{'active':(activeLeft.indexOf(item.id) >= 0)}">
                                                    <a class="thumb"><img :src="item.avatar" width="30"></a>
                                                    <p style="font-size:13px;overflow:hidden">  {{item.name}}</p>
                                                    <p class="text-muted">Giá bản {{item.price}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <b-pagination v-model="currentPage"
                                                  :total-rows="total"
                                                  :per-page="pageSize"></b-pagination>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="padding-top:30px">
                            <button class="btn btn-primary btn-block mb-2" title="Thêm sản phẩm" @click="onetoRight">&rsaquo;</button>
                            <button class="btn btn-danger btn-block mb-2" title="Xóa sản phẩm" @click="onetoRemove">&Delta;</button>
                        </div>
                        <div class="col-md-5">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    Danh sách sản phẩm đã chọn
                                </div>
                                <div class="panel-body">
                                    <div class="slimScrollDiv" style="position: relative; overflow-x: scroll; width: auto; height: 300px;">
                                        <div class="row" style="width: auto; height: 300px;">
                                            <ul style="padding:20px;padding-left:10px ;width:100%">
                                                <li v-for="item in ListValue" @click="changeValueRight(item.id)" :class="{'active':(activeRight.indexOf(item.id) >= 0)}">
                                                    <a class="thumb"><img :src="item.avatar" width="30"></a>
                                                    <p style="font-size:13px;overflow:hidden">  {{item.name}}</p>
                                                    <p class="text-muted">Giá bản {{item.price}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-header">
                    Thao tác
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-info btn-submit-form col-md-12 btncus" type="submit" @click="Add()">
                                <i class="fa fa-save"></i> Cập nhật
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success col-md-12 btncus" type="button" @click="DoRefesh()">
                                <i class="fa fa-refresh"></i> Làm mới
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>

<script>

    import { mapActions } from "vuex";



    // Import component

    export default {
        name: "comboproduct",
        components: {

        },
        props: {
            productId: {
                type: Number,
                required: false,
                default: 0
            },
            actions: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        data() {
            return {
                ListProduct: [],
                ListValue: [],
                keyword: "",
                activeLeft: [],
                activeRight: [],

                pageSize: 20,
                currentPage: 1,
                total: 0,
            };
        },
        created: {},
        components: {

        },

        mounted() {

        },

        computed: {
            //...mapGetters(["product"], ["fileName"]),
        },



        methods: {
            ...mapActions(["getProductForCombo", "addCombo", "getComboById"]),
            toggleActive(item) {
                if (this.activeItem[item.id]) {
                    this.removeActiveItem(item);

                    return;
                }

                this.addActiveItem(item);
            },
            addActiveItem(item) {
                this.activeItem = Object.assign({},
                    this.activeItem ? [item.id] : item,
                );
            },
            removeActiveItem(item) {
                delete this.activeItem[item.id];
                this.activeItem = Object.assign({}, this.activeItem);
            },
            onLoadProduct() {
                this.activeLeft = [];
                this.activeRight = [];
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getProductForCombo({
                    keyword: this.keyword,
                    idZone: 0,
                    pageSize: this.pageSize,
                    pageIndex: this.currentPage,

                }).then(respose => {
                    debugger
                    this.ListProduct = respose.listData;
                    this.total = respose.total;
                    //this.ListValue = respose.listObj2;
                })
            },
            onLoadProductCombo() {
                this.activeLeft = [];
                this.activeRight = [];
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getComboById(this.productId).then(respose => {
                    this.ListValue = respose.listData;

                    //this.ListValue = respose.listObj2;
                })
            },
            Add: function () {

                this.addCombo({
                    Id: this.productId,
                    Products: this.ListValue
                }).then(response => {
                    if (response.Success == true) {
                        this.$toast.success(response.message, {});

                    } else {
                        this.$toast.error(response.message, {});

                    }

                }).catch(e => {
                    this.$toast.error("Lỗi hệ thống");

                });;
            },
            alltoRight: function () {
                this.activeLeft = 0;
                for (let i = 0; i < this.ListLocation.length; i++) {
                    this.ListValue.push(this.ListLocation[i]);
                }

                this.ListLocation = [];
            },
            onetoRight: function () {
                if (this.activeLeft.length > 0) {
                    let vm = this;
                    this.activeLeft.forEach(function (item) {
                        var obj = vm.ListProduct.filter(word => word.id === item);
                        vm.ListValue.push(obj[0]);
                    });
                    this.activeLeft = [];
                }
            },
            onetoRemove: function () {
                if (this.activeRight.length > 0) {
                    let vm = this;
                    this.activeRight.forEach(function (item) {
                        var obj = vm.ListValue.filter(word => word.id === item);
                        vm.ListValue.splice(obj[0], 1);
                    });
                    this.activeRight = [];
                }
            },

            changeValueLeft: function (id) {
                var indexOf = this.activeLeft.indexOf(id);
                if (indexOf >= 0) {
                    this.activeLeft.splice(indexOf, 1);
                } else {
                    this.activeLeft.push(id);
                }
            },
            changeValueRight: function (id) {
                var indexOf = this.activeRight.indexOf(id);
                if (indexOf >= 0) {
                    this.activeRight.splice(indexOf, 1);
                } else {
                    this.activeRight.push(id);
                }

            },
            ExistId(id) {

            },
        },
        watch: {
            actions: function (newVal) {
                debugger
                if (newVal == true) {
                    this.onLoadProduct();
                    this.onLoadProductCombo();
                }
            },
            currentPage: function (newVal) {
                debugger
                this.currentPage = newVal;
                this.onLoadProduct();

            }
        }
    };
</script>

