<template>
    <div>
        <b-tabs content-class="mt-3" justified>

            <b-tab title="Vị trí sản phẩm">
                <locationinproduct :productId="Id" :actions="actionLocation">
                </locationinproduct>
            </b-tab>
            <b-tab title="Combo sản phẩm" @click="loadCombo()">
                <comboproduct :productId="Id" :actions="actionCombo">
                </comboproduct>
            </b-tab>
            <b-tab title="Khuyến mại">

            </b-tab>
            <b-tab title="ProductInRegion">

            </b-tab>
            <b-tab title="ProductInRegion">

            </b-tab>
        </b-tabs>
    </div>

</template>


<script>
    import "vue-loading-overlay/dist/vue-loading.css";
    import { mapGetters, mapActions } from "vuex";
    import Loading from "vue-loading-overlay";
    import locationinproduct from "./location";
    import comboproduct from "./comboproduct";

    // Import component
    export default {
        name: "mainproductextend",
        components: {

        },
        data() {
            return {

                actionLocation: false,
                actionCombo: false,

                isLoading: false,

                Id: 0,

                bootstrapPaginationClasses: {
                    ul: "pagination",
                    li: "page-item",
                    liActive: "active",
                    liDisable: "disabled",
                    button: "page-link"
                },
                customLabels: {
                    first: "First",
                    prev: "Previous",
                    next: "Next",
                    last: "Last"
                }
            };
        },
        created: {},
        components: {
            Loading,
            locationinproduct,
            comboproduct
        },
        computed: {

        },

        methods: {
            //changeTab() {
            //    this.actionLocation = true;
            //},
            loadCombo() {
                this.actionCombo = true;
            }
        },
        computed: {
            ...mapGetters(["product", "dataproductsearch", "fileName"]),

        },
        mounted() {
            if (this.$route.params.id > 0) {
                this.isLoading = true;
                this.Id = parseInt(this.$route.params.id);
                this.actionLocation = true;
                this.isLoading = false;
            }

        },
        watch: {

        }
    };
</script>
<style>
    .productedit .form-control {
    }


    .panel-body ul li .thumb {
        float: left;
        height: 30px;
        margin-right: 10px;
        overflow: hidden;
        width: 30px;
        border: 1px solid #ddd;
    }

    .panel-body ul li p.text-muted {
        font-size: 11px;
        line-height: 15px;
    }

    .panel-body ul li p {
        margin-bottom: 0px;
    }

    .panel-body ul li {
        border-bottom: 1px solid #e6e6fa;
        cursor: pointer;
        list-style-type: none;
        padding: 4px 0;
        padding-left: 10px;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .row ul li.active, #rlist .row ul li.active {
        background: #f1f7fd;
    }

    [class^="icon-"], [class*=" icon-"] {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        min-width: 1em;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        vertical-align: middle;
        position: relative;
        top: -1px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .pagination .page-item .page-link{
        font-size:12px;
    }
    .pagination {
        margin-top:10px
    }

</style>
