<template>
    <div class="row productedit">
        <div class="col-sm-4 col-md-9">
            <div class="card">

                <div class="card-header">
                    Giá sản phẩm theo khu vực
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div style="display:flex;width:100%;border-bottom:none">
                                <div style="display:flex;width:20%;padding-top:8px">Tìm kiếm: </div>
                                <div style="display:flex;width:80%">
                                    <div class="input-group">
                                        <input type="text" autocomplete="off" class="form-control" placeholder="Tìm kiếm địa chỉ" id="myInput" v-on:keyup="filterFunction()">
                                        <span class="input-group-addon bg-primary" style="cursor: pointer;width:45px"><i style="padding-top:10px;padding-left:15px" @click="filterFunction()" class="fa fa-search"></i></span>
                                    </div>
                                    <!--<input type="text" placeholder="Tìm kiếm" >-->
                                </div>
                            </div>
                            <div class="dropdown-menu" id="list-1" style="display:block;position:unset;width:100%;height:300px;overflow-x:scroll">
                                <button v-for="item in ListPromotion" @click="changeValueLeft(item.locationId)" class="dropdown-item">{{item.ten}}</button>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary btn-block mb-2" @click="alltoRight">&raquo;</button>
                            <button class="btn btn-primary btn-block mb-2" @click="onetoRight">&rsaquo;</button>
                            <button class="btn btn-primary btn-block mb-2" @click="onetoLeft">&lsaquo;</button>
                            <button class="btn btn-primary btn-block mb-2" @click="alltoLeft">&laquo;</button>
                        </div>
                        <div class="col-md-6">
                            <div style="display:flex;width:100%;border:1px solid #ccc;border-bottom:none">
                                <div class="col-md-4 text-center">Khu vực</div>
                                <div class="col-md-4  text-center">Giá </div>
                                <div class="col-md-4  text-center">Giá giảm</div>
                            </div>
                            <div class="dropdown-menu" style="display:block;position:unset;width:100%;margin-top:0">
                                <button class="dropdown-item" @click="changeValueRight(item.locationId)" v-for="item in ListValue">
                                    <div style="display:flex;width:100%">
                                        <div class="col-md-4">
                                            {{item.ten}}
                                        </div>
                                        <div class="col-md-4">
                                            <input style="height:20px" class="form-control" v-model="item.price" />
                                        </div>
                                        <div class="col-md-4">
                                            <input style="height:20px" class="form-control" v-model="item.salePrice" />
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-header">
                    Thao tác
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-info btn-submit-form col-md-12 btncus" type="submit" @click="Add()">
                                <i class="fa fa-save"></i> Cập nhật
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success col-md-12 btncus" type="button" @click="DoRefesh()">
                                <i class="fa fa-refresh"></i> Làm mới
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>

<script>

    import { mapActions } from "vuex";


    // Import component

    export default {
        name: "promotion",
        components: {

        },
        props: {
            productId: {
                type: Number,
                required: false,
                default: 0
            },
            actions: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        data() {
            return {

                ListPromotion: [],
                ListValue: [],

                activeLeft: 0,
                activeRight: 0,
            };
        },
        created: {},
        components: {

        },

        mounted() {

        },

        computed: {
            //...mapGetters(["product"], ["fileName"]),
        },

        methods: {
            ...mapActions(["getPromotionByProducts", "updateLocations"]),

            onLoadLocation(id) {
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getPromotionByProducts(id).then(respose => {
                    this.ListPromotion = respose.listObj1;
                    this.ListValue = respose.listObj2;
                })
            },
            Add: function () {
                debugger
                this.updateLocations({
                    Id: this.productId,
                    PriceInLocation: this.ListValue
                }).then(response => {
                    if (response.Success == true) {
                        this.$toast.success(response.message, {});

                    } else {
                        this.$toast.error(response.message, {});

                    }

                }).catch(e => {
                    this.$toast.error("Lỗi hệ thống");

                });;
            },
            alltoRight: function () {
                this.activeLeft = 0;
                for (let i = 0; i < this.ListPromotion.length; i++) {
                    this.ListValue.push(this.ListPromotion[i]);
                }

                this.ListPromotion = [];
            },
            onetoRight: function () {
                debugger
                if (this.activeLeft > 0) {
                    debugger
                    var obj = this.ListPromotion.filter(word => word.locationId === this.activeLeft);
                    this.ListValue.push(obj[0]);

                    this.ListPromotion = this.ListPromotion.filter(word => word.locationId != this.activeLeft);
                    this.activeLeft = 0;
                }

            },
            alltoLeft: function () {
                this.activeRight = 0;

                for (let i = 0; i < this.ListValue.length; i++) {
                    this.ListPromotion.push(this.ListValue[i]);
                }

                this.ListValue = [];

            },
            onetoLeft: function () {
                debugger
                if (this.activeRight > 0) {
                    debugger
                    var obj = this.ListValue.filter(word => word.locationId === this.activeRight);
                    this.ListPromotion.push(obj[0]);
                    this.ListValue = this.ListValue.filter(word => word.locationId !== this.activeRight);
                    this.activeRight = 0;
                }

            },
            changeValueLeft: function (id) {
                this.activeLeft = id;
            },
            changeValueRight: function (id) {
                this.activeRight = id;
            },
            filterFunction: function () {
                var input, filter, i, a, div;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                div = document.getElementById("list-1");
                a = div.getElementsByTagName("button");
                for (i = 0; i < a.length; i++) {
                    debugger
                    var txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";
                    }
                }
            }

        },
        watch: {
            productId: function (newVal) {
                debugger
                if (newVal > 0) {
                    this.onLoadLocation(newVal);
                }
            }
        }
    };
</script>
<style>
    .productedit .form-control {
    }
</style>
