﻿@using JanHome.Web.Services.Product.ViewModel;
@using Utils;
@model List<ProductMinify>;
@{
    var size = ViewBag.Total;
    var item_left = 2;
    var item_right = 3;
    var item_in_row = item_left + item_right;
    var number_of_page = size / item_in_row + 1;
}

@{
    var list_product = Model;
    var id = ViewBag.Id;
    var list_cutted = new List<List<ProductMinify>>();

    for (int i = 0; i < number_of_page; i++)
    {
        var r = Model.Skip(i * item_in_row).Take(item_in_row).ToList();
        list_cutted.Add(r);
    }
}
    
@if (list_cutted != null)
{
    foreach (var item_root in list_cutted)
    {
        var cut_left_item = item_root.Skip(0).Take(item_left);
        var cut_right_item = item_root.Skip(item_left).Take(item_right);
        <div class="row no-gutters mb-3 mb-md-0 clone-row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="row no-gutters">
                    @foreach (var item in cut_left_item)
                    {
                        var link_tar = Url.Action("ProductDetail","Product", new { product_id = item.ProductId });
                        <div class="col-md-6 col-sm-6 col-6">
                            <div class="item-product px-lg-4">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href="@link_tar">
                                        <img src="~/images/change/image 4x4.png"
                                             class="img-fluid  w-100" alt="@item.Title" />
                                    </a>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>
                                </div>

                                <h5 class="title">
                                    <a href="@link_tar" title="@item.Title">
                                        @item.Title
                                    </a>
                                </h5>
                                <div class="text-left">
                                    <div class="price-new">
                                        @UIHelper.FormatNumber(item.SalePrice)
                                    </div>
                                    <div class="price-old">
                                        @UIHelper.FormatNumber(item.Price)
                                    </div>

                                </div>
                                <div class="size small mb-1">
                                    KT: 602 x 30 x 34 mm
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        @System.Math.Round(item.Rate,1)/5<i class="fas fa-star ml-1"></i>
                                    </div>
                                    <div class="color-828282">
                                        135 đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="row no-gutters h-100 ">
                    @foreach (var item in cut_right_item)
                    {

                        var link_tar = Url.Action("ProductDetail","Product", new { product_id = item.ProductId });
                        <div class="col-md-4 col-sm-4 col-6">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href="@link_tar">
                                        <img src="~/images/change/image 4x4.png"
                                             class="img-fluid  w-100" alt="@item.Title" />
                                    </a>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                    </div>
                                </div>

                                <h5 class="title">
                                    <a href="@link_tar" title="@item.Title">
                                        @item.Title
                                    </a>
                                </h5>
                                <div class="text-left">
                                    <div class="price-new">
                                        @UIHelper.FormatNumber(item.SalePrice)
                                    </div>
                                    <div class="price-old">
                                        @UIHelper.FormatNumber(item.Price)
                                    </div>

                                </div>
                                <div class="size small mb-1">
                                    KT: 602 x 30 x 34 mm
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        @System.Math.Round(item.Rate,1)/5<i class="fas fa-star ml-1"></i>
                                    </div>
                                    <div class="color-828282">
                                        135 đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
