﻿@using JanHome.Web.Services.Product.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var detail = ViewBag.Infomation as ProductDetail;
    var setification_detail = ViewBag.Spectification as List<ProductSpectificationDetail>;
    var product_same_zone = ViewBag.SameZone as List<ProductMinify>;
    var same_total = ViewBag.SameTotal;
    var zone_id = ViewBag.ZoneId;
}

@inject IViewLocalizer _localizer

<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Sàn gỗ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sàn gỗ công nghiệp</li>
        </ol>
    </nav>
</div>

<section class="product-detail">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-9 col-md-9 col-12 align-self-center">
                <h1 class="title mb-3 mb-lg-0 d-inline-block mr-4 ">@detail.Title </h1>
                <div class="review d-inline-block ">
                    <div class=" d-inline-block pr-2 ">
                        @for (int i = 0; i < detail.RateAVG; i++)
                        {
                            <i class="fas fa-star"></i>
                        }

                    </div>
                    <div class="d-inline-block text-primary">@detail.TotalRate @_localizer["Rate"]</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 text-right facebook-btn">
                <button class="btn mr-2"><i class="fas fa-thumbs-up mr-1"></i>@_localizer["Like"] <span>1.4K</span></button>
                <button href="" class="btn">@_localizer["Share"]</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-12 col-12 pr-lg-0 ">
                        <div class="slide-product-detail mb-4">
                            <div class="swiper-container gallery-top">
                                <div class="swiper-wrapper">
                                    @{//Cat chuoi anh
                                        var avatar_array = detail.AvatarArray.Split(',');
                                        foreach (var item in avatar_array)
                                        {
                                            <div class="swiper-slide">
                                                <div class="sp-wrap image">
                                                    <a href="~/@item">
                                                        <img src="~/@item" class="img-fluid" alt="@detail.Title">
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    }
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img src="~/images/change/product-detail-01.jpg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>


                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img src="~/images/change/product-detail-01.jpg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>

                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img src="~/images/change/product-detail-01.jpg" class=" img-fluid w-100 "
                                                 alt="" />
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="text-center">
                                <button class="btn btn-link  btn-sm mb-2" data-toggle="modal"
                                        data-target="#modal-slide-imge">
                                    Xem kích thước lớn
                                </button>
                            </div>
                            <div class="swiper-container gallery-thumbs px-3">
                                <div class="swiper-wrapper">
                                    @foreach (var item in avatar_array)
                                    {
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img src="~/@item" class="img-fluid w-100 "
                                                     alt="@detail.Title" />
                                            </div>
                                        </div>
                                    }
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <img src="~/images/download-con-thumb.svg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                        Download Brochure
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <img src="~/images/change/360do-icon-thumb.svg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                        Hình 360 độ
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image p-3">
                                            <img src="~/images/youtube-icon-thumb.svg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                        Video
                                    </div>
                                </div>
                                <div class="swiper-button-prev" tabindex="0" role="button"
                                     aria-label="Previous slide">
                                    <button class="btn btn-link color-828282">
                                        <i class="fas fa-chevron-left"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="swiper-button-next" tabindex="0" role="button"
                                     aria-label="Previous slide">
                                    <button class="btn btn-link color-828282 ">
                                        <i class="fas fa-chevron-right"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-12 col-12 pl-lg-5">
                        <label style="font-size: 14px;" class="d-inline-block">Giá tại</label>
                        <div class="dropdown d-inline-block select-local">
                            <a class="btn btn-link dropdown-toggle" href="javascript:;" role="button"
                               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                TP: Hồ Chí Minh
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="javascript:;">TP: Hồ Chí Minh</a>
                                <a class="dropdown-item" href="javascript:;">TP: Hà Nội</a>
                                <a class="dropdown-item" href="javascript:;">TP: Hồ Chí Minh</a>
                            </div>
                        </div>
                        <div class="price-product-detail">
                            <span class="new">
                                225,000 đ/m2
                            </span>
                            <span class="old">
                                225,000đ
                            </span>
                            <span class="tag">Trả góp 0% - Trả trước 0đ</span>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="font-weight-600 text-uppercase align-self-center mr-3">
                                Còn hàng
                            </div>
                            <div class="group-amount d-flex align-self-center">
                                <button class="btn " type="button">
                                    <i class="fas fa-minus" aria-hidden="true"></i>
                                </button>
                                <input type="text" class="form-control mx-2" value="1">
                                <button class="btn " type="button">
                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>


                        </div>
                        <div class="box-km mb-3">
                            <h6 class="font-weight-600 mb-3">Khuyến mại</h6>
                            <label class="label-checkbox">
                                <div>Mua online thêm quà:</div>
                                <div>Giảm ngay 200.000₫</div>
                                <div>Nhận phiếu mua hàng 200,000đ</div>

                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <label class="label-checkbox">
                                Lì xì ưu đãi 200,000đ ( <a href="" class="btn-link">xem chi tiết</a>)

                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="mr-2">
                                <img src="~/images/change/caculator-icon.svg" class="img-fluid" />
                            </div>
                            <div class="">
                                <div>Lát sàn gỗ nhà bạn chi phí hết bao nhiêu? </div>
                                <a href="du-toan-cong-trinh.html" class="btn-link font-weight-600">Tính toán chi phí dự kiến ngay</a>
                            </div>
                        </div>

                        <div class="area_order mb-3">
                            <div class="row">
                                <div class="col-12 px-2">
                                    <a href="" class="btn btn-order w-100 py-3 mb-3">
                                        <img src="~/images/Cart.svg"
                                             class="img-fluid mr-2" />MUA HÀNG NGAY
                                    </a>
                                </div>
                                <div class="col-6 px-2">
                                    <a href="" class="btn btn-order-2 w-100 py-3 mb-3">Liên hệ</a>
                                </div>
                                <div class="col-6 px-2">
                                    <a href="" class="btn btn-order-2 w-100 py-3 mb-3">Tư vấn trả góp</a>
                                </div>
                            </div>
                        </div>
                        <div class="box-km product-suggest mb-3">
                            <h6 class="font-weight-600 mb-3 text-uppercase">Thường được mua cùng</h6>
                            <label class="label-checkbox d-flex">
                                <div class="image-product mr-2">
                                    <img src="~/images/change/Livestream.jpg" class="" />
                                </div>
                                <div class="align-self-center mr-2">Phào nhựa Janmi jm02</div>
                                <div class="align-self-center font-weight-600 ml-auto nowrap">225,000 đ/m2</div>

                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <label class="label-checkbox d-flex">
                                <div class="image-product mr-2">
                                    <img src="~/images/change/Livestream.jpg" class="" />
                                </div>
                                <div class="align-self-center mr-2">Xốp bạc lót sàn gỗ</div>
                                <div class="align-self-center font-weight-600 ml-auto nowrap">225,000 đ/m2</div>

                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <label class="label-checkbox d-flex">
                                <div class="image-product mr-2">
                                    <img src="~/images/change/Livestream.jpg" class="" />
                                </div>
                                <div class="align-self-center mr-2">Nẹp nối sàn</div>
                                <div class="align-self-center font-weight-600 ml-auto nowrap">225,000 đ/m2</div>

                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <div class="text-right">
                                <div class="mb-3">Tổng dự toán:<span class="font-weight-600 color-EE7D22 mx-2">1.180.000đ</span></div>
                                <button role="button" class="btn btn-save ">Thêm 4 sản phẩm vào giỏ hàng</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12 col-12">
                <button type="button" class="btn border btn-sm w-100 mb-3 py-2">
                    <i class="fas fa-map-marker-alt mr-2" style="color: #007DFF;"></i>Xem siêu thị có hàng trưng bày
                </button>
                <div class="policy-new border border-r-4 py-2 px-3 mb-3">
                    <div class="item">
                        <div class="icon"><img src="~/images/icon-de-1.svg" class="img-fluid" /></div>
                        <div class="text">Giá bán tại kho chưa bao gồm lắp đặt và vận chuyển</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="~/images/icon-de-2.svg" class="img-fluid" /></div>
                        <div class="text">Nhập khẩu và phân phối trực tiếp - Hàng có sẵn tại kho</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="~/images/icon-de-3.svg" class="img-fluid" /></div>
                        <div class="text">Hệ thống trung tâm JanHome trên toàn quốc</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="~/images/icon-de-4.svg" class="img-fluid" /></div>
                        <div class="text">Đội ngũ tư vấn JanHome có trên 10 năm kinh nghiệm</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="~/images/icon-de-5.svg" class="img-fluid" /></div>
                        <div class="text">Sản phẩm tại JanHome được đảm bảo nguồn gốc rõ ràng</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="~/images/icon-de-6.svg" class="img-fluid" /></div>
                        <div class="text">
                            Chính sách bảo hành tốt nhất - Bảo hành sản phẩm bất kỳ trên toàn hệ thống
                            JanHome
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!--Sản phẩm tương tự-->
        <div class="mb-4">
            <div class="row mb-3  ">
                <div class="col-8">
                    <a href="" class="h5 font-weight-bold ">@_localizer["Similar Product"]</a>
                </div>
                @if (same_total > 6)
                {
                    <div class="col-4 text-right">
                        <a href="" class="link-view-more">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"
                                        aria-hidden="true"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="row no-gutters">
                @if (product_same_zone != null)
                {
                    foreach (var item in product_same_zone)
                    {
                        var link_tar = Url.Action("ProductDetail","Product", new { product_id = item.ProductId, zone_id = zone_id });
                        <div class="col-xl-2 col-md-4 col-sm-4 col-6">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href="@link_tar"><img src="~/@item.Avatar" class="img-fluid" alt="@item.Title"></a>
                                    <div class="tag-2">
                                        <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="@link_tar" title="@item.Title">
                                            @item.Title
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        @UIHelper.FormatNumber(item.SalePrice) đ/m2
                                    </div>
                                    <div class="price-old">
                                        @UIHelper.FormatNumber(item.Price)
                                    </div>
                                    <div class="size small mb-1">
                                        @item.SpecName: @item.SpecValue
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                        </div>
                                        <div class="color-828282">
                                            @item.CountRate đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <!--Sản phẩm tương tự end-->
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12">
                <div class="product-description">
                    <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                        Mô tả sản phẩm
                    </div>

                    <div class="content">
                        @Html.Raw(detail.Content)

                    </div>

                </div>
                <div class="text-center my-4">
                    <button class="btn btn-outline-view-more" onclick="expandProductDes()">
                        Xem thêm<i class="fas fa-chevron-down ml-2 "></i>
                    </button>
                </div>

                <!--Phụ kiện đi kèm-->
                <div class="row mb-3  ">
                    <div class="col-8">
                        <a href="" class="h5 font-weight-bold ">Phụ kiện đi kèm</a>
                    </div>
                    <div class="col-4 text-right">
                        <a href="" class="link-view-more">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"
                                        aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="row no-gutters mb-4">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                        <div class="item-product">
                            <div class="tag-1">
                                Trả góp 0% - Trả trước 0đ
                            </div>
                            <div class="image">
                                <a href=""><img src="~/images/change/image 4x4.png" class="img-fluid"></a>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                </div>
                            </div>

                            <div class="">
                                <h5 class="title">
                                    <a href="" title="">
                                        Sàn gỗ JanHome siêu chịu nước
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000 đ/m2
                                </div>
                                <div class="price-old">
                                    225,000đ
                                </div>
                                <div class="size small mb-1">
                                    KT: 602 x 30 x 34 mm
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                    </div>
                                    <div class="color-828282">
                                        135 đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                        <div class="item-product">
                            <div class="tag-1">
                                Trả góp 0% - Trả trước 0đ
                            </div>
                            <div class="image">
                                <a href=""><img src="~/images/change/image 4x4.png" class="img-fluid"></a>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                </div>
                            </div>

                            <div class="">
                                <h5 class="title">
                                    <a href="" title="">
                                        Sàn gỗ JanHome siêu chịu nước
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000 đ/m2
                                </div>
                                <div class="price-old">
                                    225,000đ
                                </div>
                                <div class="size small mb-1">
                                    KT: 602 x 30 x 34 mm
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                    </div>
                                    <div class="color-828282">
                                        135 đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                        <div class="item-product">
                            <div class="tag-1">
                                Trả góp 0% - Trả trước 0đ
                            </div>
                            <div class="image">
                                <a href=""><img src="~/images/change/image 4x4.png" class="img-fluid"></a>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                </div>
                            </div>

                            <div class="">
                                <h5 class="title">
                                    <a href="" title="">
                                        Sàn gỗ JanHome siêu chịu nước
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000 đ/m2
                                </div>
                                <div class="price-old">
                                    225,000đ
                                </div>
                                <div class="size small mb-1">
                                    KT: 602 x 30 x 34 mm
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                    </div>
                                    <div class="color-828282">
                                        135 đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                        <div class="item-product">
                            <div class="tag-1">
                                Trả góp 0% - Trả trước 0đ
                            </div>
                            <div class="image">
                                <a href=""><img src="~/images/change/image 4x4.png" class="img-fluid"></a>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                </div>
                            </div>

                            <div class="">
                                <h5 class="title">
                                    <a href="" title="">
                                        Sàn gỗ JanHome siêu chịu nước
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000 đ/m2
                                </div>
                                <div class="price-old">
                                    225,000đ
                                </div>
                                <div class="size small mb-1">
                                    KT: 602 x 30 x 34 mm
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                    </div>
                                    <div class="color-828282">
                                        135 đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Phụ kiện đi kèm end-->
                <!--Đánh giá-->
                <div class="row mb-3">
                    <div class="col-md-8 col-sm-8 col-8 ">
                        <h5 class="font-weight-600 mb-0">Đánh giá sản phẩm</h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 text-right">
                        <button type="button" class="btn btn-save" data-toggle="modal"
                                data-target="#modal-danh-gia">
                            Đánh giá ngay
                        </button>
                    </div>
                </div>

                <!--Rating-->
                <div class="border-r-4 border py-3 mb-4">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                            <div class="star-average p-3 border-right">
                                <h2 class="mb-1 font-weight-600">4.5</h2>
                                <div class="ratingresult mb-2">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>

                                </div>
                                <div><a href="javascript:;" class="btn-link">303 đánh giá</a></div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-12">
                            <aside class="rating-left">
                                <div class="star-line">
                                    <span class="star-type left align-self-center">5 </span>
                                    <div class="star-bar align-self-center">
                                        <div class="star-barsub" style="width: 90%;">
                                        </div>
                                    </div>
                                    <span class="star-type right align-self-center ">90%</span>
                                </div>
                                <div class="star-line">
                                    <span class="star-type left align-self-center">4</span>
                                    <div class="star-bar align-self-center">
                                        <div class="star-barsub" style="width: 20%;">
                                        </div>
                                    </div>
                                    <span class="star-type right align-self-center ">20%</span>
                                </div>
                                <div class="star-line">
                                    <span class="star-type left align-self-center">3</span>
                                    <div class="star-bar align-self-center">
                                        <div class="star-barsub" style="width: 00%;">
                                        </div>
                                    </div>
                                    <span class="star-type right align-self-center ">0%</span>
                                </div>
                                <div class="star-line">
                                    <span class="star-type left align-self-center">2</span>
                                    <div class="star-bar align-self-center">
                                        <div class="star-barsub" style="width: 10%;">
                                        </div>
                                    </div>
                                    <span class="star-type right align-self-center ">10%</span>
                                </div>
                                <div class="star-line">
                                    <span class="star-type left align-self-center">1</span>
                                    <div class="star-bar align-self-center">
                                        <div class="star-barsub" style="width: 0%;">
                                        </div>
                                    </div>
                                    <span class="star-type right align-self-center ">0%</span>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
                <!--Gửi Comment-->
                <div class="row mb-3">
                    <div class="col-md-8 col-sm-8 col-8 ">
                        <h5 class="font-weight-600 mb-0 mt-1">165 Bình luận</h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 text-right">
                        <div class="search-comment">
                            <input class="form-control " type="text" placeholder="Search" />
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
                <form class="border border-r-4 mb-4 ">
                    <textarea class="form-control " rows="5" placeholder="Type your topic here"
                              style="border: 0;"></textarea>
                    <div class="border-top">
                        <div class="form-row p-2 ">
                            <div class="col-xl-2 col-md-2 col-12">
                                <div class="position-relative form-control text-center mb-2 mb-md-0"
                                     style="font-size: 14px;">
                                    <img src="~/images/camera.svg" class="img-fluid" />
                                    <input type="file" class="input-choose-file " accept="image/*">
                                </div>

                            </div>
                            <div class="col-xl-4 col-md-4 col-12">
                                <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0"
                                       placeholder="Tên (bắt buộc)">
                            </div>
                            <div class="col-xl-4 col-md-4 col-12">
                                <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0"
                                       placeholder="Email (bắt buộc)">
                            </div>
                            <div class="col-xl-2 col-md-2 col-12">
                                <button class="btn btn-save px-5 mb-2 mb-md-0">Gửi</button>
                            </div>
                        </div>
                    </div>

                </form>

                <div class="list-comment mb-4">
                    <div class="media mb-3">
                        <img src="~/images/change/ava.jpg" class="img-fluid avatar mr-3" alt="...">
                        <div class="media-body">
                            <h6 class="name">Tomothy Flores</h6>
                            <div class="comment-ct ">
                                Cras sit amet nibh libero, in gravida nulla.
                            </div>
                            <div class="d-flex flex-wrap">
                                <a href="" class="btn-link small mr-3 mb-2">Trả lời</a>
                                <a href="" href="" class="btn-link small mr-3 mb-2">
                                    <i class="fas fa-thumbs-up mr-2"></i>Thích
                                </a>
                                <span class="time small mb-2">10/09/2019 10:46</span>
                            </div>
                            <div class="media sub  mt-3">
                                <a class="" href="#">
                                    <img src="~/images/change/product-detail-01.jpg" class="img-fluid avatar mr-3"
                                         alt="...">
                                </a>
                                <div class="media-body">
                                    <h6 class="name qtv">Media heading</h6>
                                    <div class="qtv">Quản trị viên</div>
                                    <div class="comment-ct">
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin.
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="" class="btn-link small mr-3 mb-2">Trả lời</a>
                                        <a href="" href="" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-up mr-2"></i>Hài lòng
                                        </a>
                                        <a href="" href="" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-down mr-2"></i>Không hài lòng
                                        </a>
                                        <span class="time small mb-2">10/09/2019 10:46</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <img src="~/images/change/ava.jpg" class="img-fluid avatar mr-3" alt="...">
                        <div class="media-body">
                            <h6 class="name">Tomothy Flores</h6>
                            <div class="comment-ct ">
                                Cras sit amet nibh libero, in gravida nulla.
                            </div>
                            <div class="d-flex flex-wrap">
                                <a href="javascrip:;" class="btn-link small mr-3">Trả lời</a>
                                <a href="javascrip:;" class="btn-link small mr-3">
                                    <i class="fas fa-thumbs-up mr-2"></i>Thích
                                </a>
                                <span class="time small">10/09/2019 10:46</span>
                            </div>
                            <div class="media sub  mt-3">
                                <a class="" href="#">
                                    <img src="~/images/change/product-detail-01.jpg" class="img-fluid avatar mr-3"
                                         alt="...">
                                </a>
                                <div class="media-body">
                                    <h6 class="name qtv">Media heading</h6>
                                    <div class="qtv">Quản trị viên</div>
                                    <div class="comment-ct">
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin.
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="javascrip:;" class="btn-link small mr-3 mb-2">Trả lời</a>
                                        <a href="javascrip:;" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-up mr-2"></i>Hài lòng
                                        </a>
                                        <a href="javascrip:;" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-down mr-2"></i>Không hài lòng
                                        </a>
                                        <span class="time small">10/09/2019 10:46</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Đánh giá end-->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 ">
                <!--Chi tiết kỹ thuật-->
                <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                    <i class="far fa-clock mr-2"></i> Chi tiết kỹ thuật
                </div>
                <div class="tech-detail border py-2 border-r-4 px-3 mb-4">
                    <div class="item ">
                        <div class="label text-uppercase font-weight-600">
                            @_localizer["Code"]
                        </div>
                        <div class=" ml-auto text-right">
                            @Html.Raw(detail.Code)
                        </div>
                    </div>
                    <div class="item ">
                        <div class="label text-uppercase font-weight-600">
                            @_localizer["Unit"]
                        </div>
                        <div class="ml-auto  text-right">
                            @Html.Raw(detail.Unit)
                        </div>
                    </div>
                    @if (setification_detail != null)
                    {
                        @foreach (var item in setification_detail)
                        {
                            <div class="item ">
                                <div class="label text-uppercase font-weight-600">
                                    @item.Name
                                </div>
                                <div class="ml-auto  text-right">
                                    @item.Value
                                </div>
                            </div>
                        }
                    }

                </div>
                <!--Tin mới-->
                <div class="lastest-news ">
                    <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                        <img src="~/images/lastest-ic.svg" class="img-fluid mr-2" /> Tin mới
                    </div>
                    <div class="list-right mb-4">
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/lastest-img.jpg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title">
                                        <a href="" title="">Sàn gỗ công nghiệp Thái Lan có chất lượng tốt không?</a>
                                    </h6>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/lastest-img.jpg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title">
                                        <a href="" title="">Sàn gỗ công nghiệp Thái Lan có chất lượng tốt không?</a>
                                    </h6>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/lastest-img.jpg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title">
                                        <a href="" title="">Sàn gỗ công nghiệp Thái Lan có chất lượng tốt không?</a>
                                    </h6>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/lastest-img.jpg"
                                                 class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title">
                                        <a href="" title="">Sàn gỗ công nghiệp Thái Lan có chất lượng tốt không?</a>
                                    </h6>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Sản phẩm ưu chuộng-->
                <div class="list-menu-right">
                    <div class="heading mb-3">
                        <img src="~/images/icon-spuc.svg" class="img-fluid mr-2" />Sản phẩm ưa chuộng
                    </div>
                    <div class="list lastest-news">

                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/spuc-01.jpg" class="img-fluid"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title mb-1">
                                        <a href="" title="">Sàn gỗ JanHome siêu chịu nước</a>
                                    </h6>
                                    <div class="price color-EE7D22 font-weight-bold mb-1" style="font-size: 18px;">
                                        225,000 đ/m2
                                    </div>
                                    <div class="d-flex small">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/spuc-01.jpg" class="img-fluid"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title mb-1">
                                        <a href="" title="">Sàn gỗ JanHome siêu chịu nước</a>
                                    </h6>
                                    <div class="price color-EE7D22 font-weight-bold mb-1" style="font-size: 18px;">
                                        225,000 đ/m2
                                    </div>
                                    <div class="d-flex small">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/spuc-01.jpg" class="img-fluid"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title mb-1">
                                        <a href="" title="">Sàn gỗ JanHome siêu chịu nước</a>
                                    </h6>
                                    <div class="price color-EE7D22 font-weight-bold mb-1" style="font-size: 18px;">
                                        225,000 đ/m2
                                    </div>
                                    <div class="d-flex small">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/spuc-01.jpg" class="img-fluid"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title mb-1">
                                        <a href="" title="">Sàn gỗ JanHome siêu chịu nước</a>
                                    </h6>
                                    <div class="price color-EE7D22 font-weight-bold mb-1" style="font-size: 18px;">
                                        225,000 đ/m2
                                    </div>
                                    <div class="d-flex small">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/spuc-01.jpg" class="img-fluid"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title mb-1">
                                        <a href="" title="">Sàn gỗ JanHome siêu chịu nước</a>
                                    </h6>
                                    <div class="price color-EE7D22 font-weight-bold mb-1" style="font-size: 18px;">
                                        225,000 đ/m2
                                    </div>
                                    <div class="d-flex small">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-menu-right">
                    <div class="heading mb-3">
                        <img src="~/images/sale-tag-icon.svg" class="img-fluid mr-2" />Tags
                    </div>
                    <div class="list  list-tags-right">
                        <div class="item">
                            <a href="">rèm cầu vồng</a>
                        </div>
                        <div class="item">
                            <a href="">rèm cửa</a>
                        </div>
                        <div class="item">
                            <a href=""> sàn gỗ</a>
                        </div>
                        <div class="item">
                            <a href="">sàn nhựa</a>
                        </div>
                        <div class="item">
                            <a href="">san nhua ecost</a>
                        </div>
                        <div class="item">
                            <a href="">rèm cửa</a>
                        </div>
                        <div class="item">
                            <a href="">sàn gỗ</a>
                        </div>
                        <div class="item">
                            <a href=""> rèm cầu vồng</a>
                        </div>
                        <div class="item">
                            <a href="">rèm cửa</a>
                        </div>
                        <div class="item">
                            <a href="">sàn gỗ</a>
                        </div>
                        <div class="item">
                            <a href="">san nhua ecost</a>
                        </div>
                        <div class="item">
                            <a href="">rèm cửa</a>
                        </div>
                        <div class="item">
                            <a href=""> sàn gỗ</a>
                        </div>
                        <div class="item">
                            <a href="">rèm cầu vồng</a>
                        </div>
                        <div class="item">
                            <a href=""> rèm cửa</a>
                        </div>
                        <div class="item">
                            <a href=""> sàn gỗ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-home py-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="~/images/shipment-international.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Vận chuyển</label>
                        <div class="small">
                            Free shipping on all order
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="~/images/professions-man-telecommunicator.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Support 24/7</label>
                        <div class="small">
                            Chúng tôi hỗ trợ bạn 24/7
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="~/images/saving-piggy-dollars.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Dịch vụ đổi trả hàng</label>
                        <div class="small">
                            Đổi trả hàng trong vòng 7 ngày
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

