﻿@using JanHome.Web.Services.Zone.ViewModal
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var zone_tree_view = ViewBag.ZoneTreeView as List<ZoneByTreeViewMinify>;
    var zone_detail = ViewBag.ZoneDetail as ZoneDetail;
}

<section class=" pt-3 pb-4">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-8 col-dm-12 col-12">
                <div id="carouselHome" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/change/slide-cate-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/change/slide-cate-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/change/slide-cate-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/change/slide-cate-1.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <a href="" title="">
                    <img src="~/images/change/round-4.png" class="img-fluid w-100 mb-4" alt="" />
                </a>
                <a href="" title="">
                    <img src="~/images/change/round-42.png" class="img-fluid w-100 mb-3" alt="" />
                </a>
            </div>
        </div>
    </div>
</section>

<div class="container mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
</div>
<div class="container mb-3 client-cate">
    <div class="bg-fff   border-r-4">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-4 col-12 align-self-center ">
                <div class="px-3 py-2" style="font-size: 13px;line-height: 1.1;">Tìm kiếm theo thương hiệu</div>
            </div>
            <div class="col-lg-8 col-md-11 col-10">
                <div class="swiper-container slide-brand">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="border-right border-left py-1 px-3">
                                <img src="~/images/change/client-1.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="border-right border-left py-1 px-3">
                                <img src="~/images/change/client-2.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="border-right border-left py-1 px-3">
                                <img src="~/images/change/client-3.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="border-right border-left py-1 px-3">
                                <img src="~/images/change/client-4.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="border-right border-left py-1 px-3">
                                <img src="~/images/change/client-5.jpg" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-2 text-center">
                <a href="javascript:;" onclick="expandClient()" class="btn btn-sm pt-2 "><i class="fas fa-chevron-down"></i></a>
            </div>
        </div>
        <div class="full-client">
            <div class="row no-gutters">
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border py-1 px-3">
                        <img src="~/images/change/client-1.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="filter-cate">
    <div class="container ">
        <div class="bg-fff border-r-4 px-3 py-2 mb-3">
            <div class="row">
                <div class="col-xl-4 col-md-12 col-sm-12 col-12">
                    <div class="form-group d-flex mb-3 mb-lg-0 small py-2">
                        <label for="formControlRange " class="mb-0 mr-3 ">Tìm kiếm theo</label>
                        <div class="mr-3 align-self-center">0</div>

                        <input type="range" min="0" max="1000000" step="10" value="300" data-orientation="vertical" />
                        <div class="align-self-center"> 10000000</div>
                    </div>
                </div>
                <div class="col-xl-8 col-md-12 col-12 align-self-center">
                    <form>
                        <div class="form-row">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <select class="form-control mb-2 mb-lg-0 ">
                                    <option>Tiêu chuẩn</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <select class="form-control mb-2 mb-lg-0">
                                    <option>Kiểu hèm</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <select class="form-control mb-2 mb-lg-0">
                                    <option>Độ dày</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <select class="form-control mb-2 mb-lg-0">
                                    <option>Xuất xứ</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="dropdown d-inline-block select-local w-100  ">
                                    <button class="btn form-control dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Màu sắc
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex">
                                                <div class="mr-2">
                                                    <img src="~/images/change/Oval-black.svg" class="img-fluid" />
                                                </div>
                                                <div class="align-self-center">
                                                    Đen <span class="color-828282">(70)</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex">
                                                <div class="mr-2">
                                                    <img src="~/images/change/Oval-2.svg" class="img-fluid" />
                                                </div>
                                                <div class="align-self-center">
                                                    Xám <span class="color-828282  ">(50)</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex">
                                                <div class="mr-2">
                                                    <img src="~/images/change/Oval-3.svg" class="img-fluid" />
                                                </div>
                                                <div class="align-self-center">
                                                    Cam <span class="color-828282  ">(50)</span>
                                                </div>
                                            </div>
                                        </a>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="dropdown d-inline-block select-local w-100 ">
                                    <button class="btn form-control dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Giá tăng dần
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="javascript:;">Giá giảm dần</a>
                                        <a class="dropdown-item" href="javascript:;">Bán chạy</a>
                                        <a class="dropdown-item" href="javascript:;">Nổi bật nhất</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*//Bat dau find du lieu vao day*@
<div class="container ">
    <div class="bg-fff p-3 p-xl-4 content-cate-intro mb-3">
        <div class="row flex-row-reverse">
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="image text-center">
                    <img src="~/@zone_detail.Background" class="img-fluid mb-3 mb-md-0" />
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                <div class="detail">
                    <h5 class="title font-weight-bold">Giới thiệu @zone_detail.Name</h5>
                    <div class="review d-inline-block color-EE7D22 mb-3">
                        <div class=" d-inline-block pr-2 ">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    @Html.Raw(zone_detail.Description)
                </div>
            </div>
        </div>

    </div>
    <div class="text-center">
        <a href="javascript:;" class="btn btn-outline-view-more" onclick="expand();">Xem thêm<i class="fas fa-chevron-down ml-2 "></i></a>
    </div>
</div>


@*//Lay Zone theo treeview*@
@{ var list_zone_first = zone_tree_view.Where(r => r.level == 1);
    if (zone_tree_view.Count() == 1)
    {
        list_zone_first = zone_tree_view.Where(r => r.level == 0);
    }
}
@foreach (var item in list_zone_first)
{
    var link_tar_1 = "javascript:void(0)";
    <section class="my-4 san-go-nb">
        <div class="container ">
            <div class="bg-fff pt-3 border-r-4 mb-4">
                <div class="px-3">
                    <div class="row mb-3 no-gutters ">
                        <div class="col-md-3 col-12 mb-2 mb-md-0">
                            <a href="@link_tar_1" class="h5 font-weight-bold ">@item.Name</a>
                        </div>
                        <div class="col-md-9 col-12 text-right d-flex menu-op align-self-center">
                            @{ var list_zone_second = zone_tree_view.Where(r => r.ParentId == item.Id);
                                var zone_second_first = list_zone_second.FirstOrDefault();
                                var zone_query_first = 0;
                                if (list_zone_second.Count() > 0)
                                {
                                    zone_query_first = list_zone_second.First().Id;
                                }
                                else
                                {
                                    zone_query_first = item.Id;
                                }
                            }
                            @foreach (var item_1 in list_zone_second)
                            {
                                var link_tar_2 = "javascript:void(0)";
                                <a href="@link_tar_2" class="link-view-more font-weight-normal mr-3 select-zone" data-id="@item_1.Id">@item_1.Name</a>
                            }

                            @*<a href="" class="link-view-more font-weight-normal mr-3">Sàn gỗ Việt Nam</a>
                                <a href="" class="link-view-more font-weight-normal mr-3">Sàn gỗ Hàn Quốc</a>
                                <a href="" class="link-view-more font-weight-normal mr-3">Sàn gỗ Đức</a>
                                <a href="" class="link-view-more font-weight-normal mr-3">Sàn gỗ cốt xanh</a>*@
                            <a href="javascript:void(0)" class="link-view-more font-weight-normal view-more" data-skip="9" data-size="" data-id="">Xem thêm <span class="tong_so_sp"></span> sản phẩm</a>

                        </div>
                    </div>
                    <div class="_binding_product">
                        @await Component.InvokeAsync("ProductList", new { zone_parent_id = zone_query_first, locationId = 3 })
                    </div>


                </div>

            </div>
            @*<div class="text-center">
                    <a href="" class="btn btn-outline-view-more">Xem thêm<i class="fas fa-chevron-down ml-2 "></i></a>
                </div>*@
        </div>
    </section>

}

<section class="service-home py-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="~/images/shipment-international.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Vận chuyển</label>
                        <div class="small">
                            Free shipping on all order
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="~/images/professions-man-telecommunicator.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Support 24/7</label>
                        <div class="small">
                            Chúng tôi hỗ trợ bạn 24/7
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="~/images/saving-piggy-dollars.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Dịch vụ đổi trả hàng</label>
                        <div class="small">
                            Đổi trả hàng trong vòng 7 ngày
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script type="text/javascript" src="~/js/controller/productController.js" asp-append-version="true"></script>

}

