<template>
    <div style="display:flex;width:100%">

        <loading :active.sync="isLoading"
                 :height="35"
                 :width="35"></loading>
        <div class="col-md-8">
            <b-card class="mt-3" header="Thêm / Sửa phòng ban">
                <b-form class="form-horizontal">
                    <b-form-group label="Tên chiến dịch:" label-for="input-1">
                        <b-form-input id="input-1"
                                      v-model="departmentObj.Name"
                                      type="text"
                                      required
                                      placeholder="Tên phòng ban"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Khu vực">
                        <v-select :options="Locations" v-model="departmentObj.LocationId" :reduce="location => location.Id" label="Name"></v-select>

                    </b-form-group>

                    <b-form-group label="Vị trí">
                        <b-form-input v-model="departmentObj.Address" type="text" required placeholder="Địa chỉ"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Đường dẫn">
                        <b-form-input v-model="departmentObj.Url" type="text" required placeholder="Đường dẫn"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Map">
                        <b-form-input v-model="departmentObj.Map" type="text" required placeholder="Map"></b-form-input>
                    </b-form-group>

                    <b-form-group label="Thứ tự">
                        <b-form-input v-model="departmentObj.SortOrder" type="number" required placeholder="Thứ tự"></b-form-input>
                    </b-form-group>

                    <b-form-group label="Nội dung">
                        <b-form-textarea v-model="departmentObj.Content" placeholder="Nội dung" rows="3" max-rows="6"></b-form-textarea>
                    </b-form-group>

                </b-form>
            </b-card>
        </div>
        <div class="col-md-4">
            <div class="mt-3" style="position:fixed;width:25%">
                <b-card header="Đăng bài">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-info btn-submit-form col-md-12 btncus" type="submit" @click="DoAddEdit()">
                                <i class="fa fa-save"></i> Cập nhật
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success col-md-12 btncus" type="button" @click="DoRefesh()">
                                <i class="fa fa-refresh"></i> Làm mới
                            </button>
                        </div>
                    </div>  
                  

                </b-card>
                <b-card header="Thông tin thêm">
                    <b-form-group label="Ngôn ngữ">
                        <v-select :options="Language" v-model="departmentObj.LanguageCode" :reduce="location => location.LanguageCode" label="Name"></v-select>
                    </b-form-group>
                </b-card>
                
            </div>


        </div>
    </div>
</template>


<script>
    import "vue-loading-overlay/dist/vue-loading.css";
    import msgNotify from "./../../common/constant";
    import { mapGetters, mapActions } from "vuex";
    import Loading from "vue-loading-overlay";


    // Import component

    export default {
        name: "DeparmentEdit",
        data() {
            return {

                preview: '/assets/img/unnamed.jpg',


                isLoading: false,
                fullPage: false,
                color: "#007bff",
                departmentObj: {
                    LocationId: 0,
                    LanguageCode: "vn",

                },
                Locations: [

                ],
                Language: [

                ],
            };
        },
        created: {},
        components: {
            Loading,
    
        },

        mounted() {
            if (this.$route.params.id > 0) {
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getDepartment(this.$route.params.id).then(respose => {
                    this.departmentObj = respose.Data;
                });
                this.isLoading = false;
            }

            this.getAllLocations().then(respose => {
                this.Locations = respose.ListData;

            });
            this.getAllLanguages().then(respose => {
                this.Language = respose.ListData;

            });
        },

        computed: {

        },

        methods: {
            ...mapActions(["getDepartment", "getAllLocations", "getAllLanguages", "addDepartment","editDepartment"]),
            DoAddEdit() {
                this.isLoading = true;
                var fromData = new FormData();
              
                if (this.departmentObj.Id > 0) {
                    this.editDepartment(this.departmentObj)
                        .then(response => {
                            if (response.Success == true) {
                                this.$toast.success(response.Message, {});
                                this.isLoading = false;
                            }
                            else {
                                this.$toast.error(response.Message, {});
                                this.isLoading = false;
                            }

                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                } else {
                    this.addDepartment(this.departmentObj)
                        .then(response => {
                            if (response.Success == true) {
                                this.$toast.success(response.Message, {});
                                this.isLoading = false;
                            }
                            else {
                                this.$toast.error(response.Message, {});
                                this.isLoading = false;
                            }
                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                }
            },
            openUpload() {
                document.getElementById('file-field').click()
            },
            updatePreview(e) {
                console.log('e', e)
                var reader, files = e.target.files
                if (files.length === 0) {
                    console.log('Empty')
                }
                this.selectedFile = files[0];
                reader = new FileReader();
                reader.onload = (e) => {
                    this.preview = e.target.result;

                    console.log(this.selectedFile);
                }
                reader.readAsDataURL(files[0])
            }
        },
        //watch: {
        //    ads: function () {
        //        this.departmentObj = Object.assign({}, this.$store.getters.ads);
        //    }
        //},
    };
</script>
<style>
</style>
