<template>
    <div style="display:flex;width:100%">
        <div class="col-md-8">
            <b-card class="mt-3" header="Thêm / Sửa vị trí">
                <loading :active.sync="isLoading"
                         :height="35"
                         :width="35"
                         :color="color"
                         :is-full-page="fullPage"></loading>
                <b-form class="form-horizontal">
                    <b-form-group label="Tên vị trí" label-for="input-1">
                        <b-form-input id="input-1"
                                      v-model="objRequest.Name"
                                      type="text"
                                      required
                                      placeholder="Tên vị trí"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Mã">
                        <b-form-input v-model="objRequest.Code" placeholder="Mã vị trí" required></b-form-input>
                    </b-form-group>

                    <b-form-group label="Ghi chú">
                        <b-form-input v-model="objRequest.Note" required placeholder="Ghi chú"></b-form-input>
                    </b-form-group>
                </b-form>
            </b-card>

        </div>
        <div class="col-md-4">
            <div class="mt-3" style="position:fixed;width:25%">
                <b-card header="Đăng bài">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-info btn-submit-form col-md-12 btncus" type="submit" @click="DoAddEdit()">
                                <i class="fa fa-save"></i> Cập nhật
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success col-md-12 btncus" type="button" @click="DoRefesh()">
                                <i class="fa fa-refresh"></i> Làm mới
                            </button>
                        </div>
                    </div>


                </b-card>
                <b-card header="Thông tin thêm">
                    <b-form-group label="Ngôn ngữ">
                        <v-select :options="LanguageCodes" v-model="objRequest.LanguageCode" :reduce="location => location.LanguageCode" label="Name"></v-select>
                    </b-form-group>
                </b-card>

            </div>
        </div>
    </div>
</template>


<script>
    import "vue-loading-overlay/dist/vue-loading.css";
    import msgNotify from "./../../common/constant";
    import { mapGetters, mapActions } from "vuex";
    import Loading from "vue-loading-overlay";
    // Import component

    export default {
        name: "locationedit",
        data() {
            return {
                isLoading: false,
                fullPage: false,
                color: "#007bff",
                objRequest: {
                    Id: 0,
                    Name: "",
                    Code: "",
                    Note: "",
                    LanguageCode: ""
                },
                LanguageCodes: [
                ]
            };
        },
        created: {},
        components: {
            Loading
        },

        mounted() {
            if (this.$route.params.id > 0) {
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getLocation(this.$route.params.id).then(respose => {
                    this.objRequest = respose.Data;
                });
                this.isLoading = false;
            }

            this.getAllLanguages().then(respose => {
                this.LanguageCodes = respose.ListData;

            });
        },

        computed: {
            ...mapGetters(["location"]),

        },

        methods: {
            ...mapActions(["updateLocation", "addLocation", "getLocation", "getAllLanguages"]),
            DoAddEdit() {
                this.isLoading = true;
                if (this.objRequest.Id > 0) {
                    this.updateLocation(this.objRequest)
                        .then(response => {
                            if (response.Success == true) {
                                this.$toast.success(response.Message, {});
                                this.isLoading = false;
                            }
                            else {
                                this.$toast.error(response.Message, {});
                                this.isLoading = false;
                            }
                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                } else {
                    this.addLocation(this.objRequest)
                        .then(response => {
                            if (response.Success == true) {
                                this.$toast.success(response.Message, {});
                                this.isLoading = false;
                                window.location.href = '/location/list';
                            }
                            else {
                                this.$toast.error(response.Message, {});
                                this.isLoading = false;
                            }
                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                }
            }
        }
    };
</script>
<style>
</style>
