
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&display=swap&subset=vietnamese');

body {
    font-size:16px;
    font-weight: 500;
    color: #333333;
    background: #F6F8F8;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

h1, h2,h3{font-weight: 600;}

.header{width: 100%;color: #333333;}
.header .navbar-brand {max-width:130px;}
.header .nav-bottom{background:url(../images/bg-header-01.jpg) no-repeat center center;background-size: cover;color: #fff;padding: 0;}
.header .nav-bottom .nav-link{font-weight: 600;padding:.5rem 1rem;font-size: 14px;}
.header .form-search {
    max-width: 100%;
    position: relative;
}
.header .form-search .btn-search{color: #fff;background-color: #1A468F;min-width: 45px;border:1px solid #1A468F}
.header .form-search input{border:1px solid #1A468F;height: 45px;min-width: 120px;font-size: 14px;}

.header .nav-center{border-bottom: 1px solid #E0E0E0;}

.header .nav-link{white-space: nowrap;}
.header .nav-link:hover{color: #FE8837;transition: .3s;}
.header .nav-link img.icon{height: 25px;filter: grayscale(1);}.header .nav-link:hover img.icon{filter: grayscale(0);transition: .3s;}
.header .dropdown.more .btn {color: #FE8837;font-size: 1.2rem;}
.header .dropdown.more .btn::after{display: none;}
.header .dropdown.more:hover .dropdown-menu{display: block;}
.header .dropdown.more .dropdown-menu,.dropdown-menu{border-radius: 0;margin-bottom: 1rem;}
.header .dropdown.more .dropdown-item{padding: .5rem 1.5rem;}
.header .nav-center{background: #fff;color: #333333;white-space: nowrap;font-size: 14px;}
.header .nav-center .nav-item{margin-bottom: .75rem;}
.header .icon-nav{height: 20px;align-self: center;}

.nav-item.cart .icon{position: relative;}
.nav-item.cart .icon .amount{width: 18px ;height: 18px;background: #EE7D22;border-radius: 50%;border:1px solid #fff;font-size: 9px;
color: #fff;text-align: center;top: -4px;position: absolute;right: -5px;padding-top: 1px;}






.footer{padding-top: 3rem ;background:#4F4F4F;font-size: 14px;color: #F2F2F2;}


.footer .title-menu{font-size: 18px;font-weight: 600;margin-bottom: 2rem;color: #fff;text-transform: uppercase;position: relative;}
.footer .title-menu::after{position: absolute;content: "";bottom: -15px;width: 30px;height: 2px;background: #EE7D22;left: 0;}
.footer .footer-menu{margin-bottom: 2rem;}
.footer .footer-menu li{margin-bottom: .75rem;}
.footer .footer-menu li:hover{opacity: .7;transition: .3s;}
.footer .social{font-size: 2rem;color: #3B5998;}
.footer .input-group{border-radius: 3px;overflow: hidden;border: 0;}
.footer .input-group input{background: #fff;}
.footer .input-group .btn{background: #F65D2D;color: #fff;border-radius: 3px;}
.bottom-footer{ background: #333333;}


.service-home{background: #EE7D22;color: #fff;font-size: 15px;}

.blogs-home .item,.lastest-news .item{margin-bottom: 1rem;}
.blogs-home .item .title,.lastest-news .item .title{font-weight: 600;font-size: 15px;}
.blogs-home .item .time,.blogs-home .item .des,.lastest-news .item .time{color: #828282;font-size: 14px; }
.blogs-home .item .title.h5{font-size: 1.25rem;}

.banner-in{color: #fff;text-align: center;font-size:1.5rem ;font-weight: 600;}
.banner-in .large{font-size: 2rem;font-weight: bold;}




.link-view-more{font-weight: 600;color:#007DFF;font-size: 14px;white-space: nowrap;}
.link-view-more:hover{color: #007DFF;}
.link-view-more i{color: #828282;}

.btn-local{background: #1A468F;color: #fff;white-space: nowrap;padding: .2rem .5rem;position: relative;}
.btn-local label{color: #49BCF7;}
.btn-local:hover{color: #fff;}
.btn-local .onhover{position: absolute; top: calc(100% + 0px);color: #333333;padding: 5px 10px ;background-color: #fff;box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);left: 0;border: 1px solid #F2F2F2;border-radius: 3px;font-size: 11px;text-align: left;color: #4F4F4F;opacity: 0;visibility: hidden;}

.color-EE7D22{color: #EE7D22;}
.bg-fff{background: #fff;}

.list-menu-cate{font-size: 14px;white-space: nowrap;width: calc(100% - 30px);position: relative;}
.list-menu-cate .list-group-item{position: unset;}
.list-menu-cate .list-group-item:hover a.link{color: #007DFF;}
.list-menu-cate .list-group-item:hover{background: #DBF2FD;}
.list-menu-cate .list-group-item a.link{position: relative;color: #4F4F4F;display: block;}
.list-menu-cate .list-group-item:first-child {background: #1A468F;}
.list-menu-cate .list-group-item:first-child a.link{color: #fff;}
.list-menu-cate .list-group-item a.link::after{position: absolute;content: "\f105";font-family: "Font Awesome 5 Pro";font-weight: bold;top: 3px;font-size: 11px;transition: .3s;right: 0;}
.list-menu-cate .list-group-item:first-child a.link::after{transform: rotate(90deg);}
.list-menu-cate .list-group-item:hover a.link::after{right: -3px; transition: .3s;}
.list-menu-cate .subcate{position: absolute;left: calc(100% + 5px);top: 3rem;    background: #fff;padding: 1rem;
border: 1px solid #DBDDE0;
box-sizing: border-box;z-index: 9;
box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.04);width: 760px;height: calc(100% - 3rem);overflow: scroll;display: none;
}
.list-menu-cate .list-group-item:hover .subcate{display: block;}
.list-menu-cate .link-view-more{font-weight: 500;}

.menu-ngang{font-size: 14px;padding:  .5rem 0 .5rem 0;white-space: nowrap;overflow-x: scroll;}
.menu-ngang a{display: flex;flex-wrap: nowrap;margin-right: 1rem;color: #333333;}
.menu-ngang a:hover{color: #49BCF7;transition: .2s;}

.carousel-indicators-2{position: static;margin: 0;border: 1px solid #F2F2F2;border-top: 0;}
.carousel-indicators-2 li{text-indent: initial;width: auto;height: auto;text-align: center;padding: .8rem 1rem;margin: 0;border: 0;border-top: 3px solid #fff;font-size: 12px;opacity: 1;}
.carousel-indicators-2 li.active{border: 1px solid #F2F2F2;border-top: 3px solid #EE7D22;font-weight: bold;}

.list-news-right{font-size: 13px;color: #333333;}
.list-news-right .list-group-item{padding: .5rem .65rem;}
.list-news-right .list-group-item.active{background: #fff;color: #1A468F;border: 1px solid rgba(0,0,0,.125);text-transform: uppercase;
font-weight: bold;font-size: 13px;font-weight: bold;}

.menu-ngang-2{font-size: 12px;font-weight: 600;color: #000;}
.menu-ngang-2 .item{text-align: center;background: #F2F2F2;border-radius: 3px;padding: 10px;white-space: nowrap;margin-bottom: 1rem;}

.item-product{padding: 2rem .5rem 1rem;border: .5px solid #F2F2F2;background: #ffffff;position: relative;}
.item-product:hover .image img{transform: scale(.9);transition: .3s;}
.item-product .image img{transition: .3s;}
.item-product .image{margin-bottom: .5rem;position: relative;text-align: center;overflow: hidden;}
.item-product .tag-2{position: absolute;bottom: 0;width: 85%;}
.item-product .tag-1{position: absolute;font-size: 8px;background: #FFAB1B;padding: 1px 4px;border-radius: 2px;top: 1rem;right: .5rem;}
.item-product .title{font-size: 14px;font-weight: 600;}
.item-product .price-new{font-size:18px;font-weight: bold;color: #EE7D22;}
.item-product .price-old{font-size: 14px;color: #828282;margin-bottom: 5px;text-decoration: line-through;}
.item-product .review{font-size: 11px;}

.spvx .item-product .title,.spvx .item-product .price-new, .spvx .item-product .price-old,.spvx .item-product .size,.combo .item-product .title,.combo .item-product .price-new, .combo .item-product .price-old,.combo .item-product .size{font-size: 12px;}

.color-FFAB1B{color: #FFAB1B;}
.color-828282{color: #828282;}
.color-fff{color: #fff;}

.slide-product {position: relative;}
.swiper-button-next, .swiper-button-prev {background: none;z-index: 9;}
.slide-product .swiper-button-next{right:.5rem}
.slide-product .swiper-button-prev{left: 0px;}
.border-r-4{border-radius: 4px;}
.slide-product  .btn-secondary{ background: rgba(153, 153, 153, 1);border-color: rgba(153, 153, 153, 1);}

.timer div{padding: .5rem .65rem;color: #fff;background: #333333;margin: 0 5px;border-radius: 4px;font-size: 14px;}

.item-product{height: 100%;}
.item-product.item-product-large{padding: 0;height: 100%;border: 0;}
.item-product.item-product-large .image img{width: 100%;}

.slide-cate .image{position: relative;}
.slide-cate .image .text{position: absolute;color: #fff;left: 1rem; bottom: 10px;}

.menu-op{display: flex;flex-wrap: wrap ;white-space: nowrap;}
.menu-op .link-view-more{border: 1px solid #f2f2f2;padding: 5px;border-radius: 4px;margin-bottom: .5rem;font-size: 12px;    background: #f2f2f2;}

::-webkit-scrollbar{display: none;}
.jan-modal .btn{font-size: 14px;padding: 0;}
.jan-modal .btn-save, .btn-save,.btn-save:hover{background: #EE7D22;font-size: 14px;color: #fff;box-shadow: 0px 2px 10px rgba(238, 125, 34, 0.44);padding: .375rem 1rem;}
.jan-modal input.form-control,.jan-modal select.form-control {border-color:#E0E0E0 ;height: 48px;}   
  
.menu-cate-mobile{margin: .5rem 0;overflow-x: scroll;}
.menu-cate-mobile .btn-cate{font-size: 14px;border:1px solid #F2F2F2;margin-right: .5rem;white-space: nowrap;background: #F2F2F2;
    color: #333333;padding: .2rem .5rem;cursor: pointer;height: 50px;}
    .menu-cate-mobile .btn-cate:hover{color: #EE7D22;}
.nowrap{white-space: nowrap;}

.btn-fixed{position: fixed;bottom: 2rem;right: 1rem;z-index: 101;}

.btn-outline-view-more,.btn-outline-view-more:hover{border: 1px solid #DBDBDB;color: #007DFF;padding: .5rem  1.5rem;}
.btn-outline-view-more i{color: #333333;font-size: 10px;}

.content-cate-intro .detail{font-size: 14px;height: 300px;overflow: hidden;}
.content-cate-intro.expand .detail{height: auto;}
.jan-breadcrumb{background: none;padding: .5rem 0;font-size: 14px;}
.banner-fixed-left,
.banner-fixed-right{display: none;}

.filter-cate{}
.filter-cate select.form-control,.filter-cate button.form-control{font-size: 12px;border: 1px solid #F2F2F2;width: 100%;}
.filter-cate button.form-control.dropdown-toggle::after{margin-left: 1rem;border-top: .45em solid;vertical-align: middle;}
.filter-cate  .select-local .dropdown-menu{font-size: 14px;border-radius: 4px;border: 0;box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);}
.filter-cate  .select-local .dropdown-menu .dropdown-item img{width: 24px;height: 24px;border-radius: 50%;}

.full-client{height: 0;overflow: hidden;transition: .3s;}
.full-client.expand{height: auto;padding: 1rem;transition: .3s;border-top: 1px solid #F2F2F2;}
.slide-brand{border:1px solid #f2f2f2;}


.product-detail{}
.product-detail .title{font-size: 20px;vertical-align: middle;}
.product-detail .review{font-size: 11px;line-height: 1;}
.product-detail .review i{color: #FFAB1B;}
.facebook-btn .btn{color: #fff;background: #007DFF;padding: 2px 5px;font-size: 11px;font-weight: bold;}

.spvx{width: calc(100% - 30px);position: absolute;background: #fff;border-radius: 8px;overflow: hidden;z-index: 102;border:1px solid #f2f2f2;left: 50%;transform: translateX(-50%);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);top: calc(100% + 10px);opacity: 0;visibility: hidden;
transition: .3s;}
.spvx.show{opacity: 1;visibility: visible;top: calc(100% - 5px);transition: .3s;}

.policy-new{font-size: 14px;color: #4F4F4F;}
.policy-new .item{display: flex;border-bottom: 1px solid #F2F2F2;padding: 10px 0;}
.policy-new .item:last-child{border: 0;}
.policy-new .item .icon{width: 30px;padding-right: 10px;padding-top: 3px;}
.policy-new .item .text{width: calc(100% - 30px);}

.combo{}
.combo .sum{text-align: center;}
.combo .sum .number{font-weight: 600;font-size: 26px;color: #EE7D22;}
.btn-order-combo,.btn-order-combo:hover{background: #EE7D22;box-shadow: 0px 2px 10px rgba(238, 125, 34, 0.44);border-radius: 4px;color: #fff;font-size: 14px;
text-transform: uppercase;}
.font-weight-600{font-weight: 600;}

.product-detail .content{color: #4f4f4f;font-size: 1rem;padding-bottom: 1rem;margin-bottom: 1.5rem;}
.product-detail .tech-detail{font-size: 14px;}
.product-detail .tech-detail .item{display: flex;padding: 7px 0;border-bottom:1px solid #F2F2F2;}
.product-detail .tech-detail .item:last-child{border: 0;}
.product-detail .tech-detail .item .label{white-space: nowrap;margin-right: 1rem;}

.star-average{text-align: center;color: #FFAB1B;}
.star-line{display: flex;padding: 3px 0;font-size: 14px;}
.star-line .star-bar {
    margin: 0 5px;
    width: 160px;
}
.star-line .star-bar {border-radius: 5px;
    margin: 0 15px;
    width: 270px;
    height: 8px;
    background: #eee;
    vertical-align: middle;
    overflow: hidden;position: relative;}
.star-barsub{position: absolute;background: #FFAB1B;height: 8px;border-radius: 5px;width: 90%;}
.star-type.right{text-align: right;width: 40px;}

.input-choose-file{position: absolute;width: 100%;height: 100%;left: 0; top: 0;opacity: 0;}

.slide-product-detail .gallery-top{margin-bottom: .5rem;}
.slide-product-detail .gallery-top .image,
.slide-product-detail .gallery-thumbs .image,.slide-product-detail-2 .gallery-thumbs-2 .image{border:1px solid #DBDBDB;cursor: pointer;border-radius: 4px;overflow: hidden;}
.swiper-slide.swiper-slide-thumb-active .image{border:1px solid #EE7D22;}
.slide-product-detail .gallery-thumbs{font-size: 11px;text-align: center;}
.slide-product-detail .gallery-thumbs .image{margin-bottom: 3px;}
.slide-product-detail .swiper-button-next,.slide-product-detail-2  .swiper-button-next{right:-3px; top: 40%;}
.slide-product-detail .swiper-button-prev,.slide-product-detail-2  .swiper-button-prev{left: -8px;top: 40%;}
.slide-product-detail .swiper-button-next .btn,.slide-product-detail .swiper-button-prev .btn{font-size: 12px;}
.gallery-top-2{margin-bottom: 2rem;}
.gallery-top-2 .image{height: 100%;overflow: hidden;width: 100%;border:1px solid #DBDBDB;border-radius: 4px;overflow: hidden;}
.gallery-top-2 .image img{height: 100%;object-fit: cover;}

.select-local .btn{font-size: 14px;}
.price-product-detail{margin: .5rem 0;}
.price-product-detail .new{font-size: 20px; font-weight: bold;color: #EE7D22;margin-right: 5px;}
.price-product-detail .old{font-size: 16px;text-decoration: line-through;color: #828282; margin-right: 5px;}
.price-product-detail .tag{font-size: 11px;background: #EE7D22;padding: 1px 10px;border-radius: 4px;white-space: nowrap;}

.box-km{padding: 1rem;border : 1px solid #dbdbdb;border-radius: 4px;}
.label-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px ;
  }
  
  /* Hide the browser's default checkbox */
  .label-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;border-radius: 3px ;overflow: hidden;border: 1px solid #DBDDE0;
  }
  
  /* On mouse-over, add a grey background color */
  .label-checkbox:hover input ~ .checkmark {
    background-color: #ccc;border-radius: 3px ;overflow: hidden;transition: .2s;
  }
  
  /* When the checkbox is checked, add a blue background */
  .label-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;border-radius: 3px ;overflow: hidden;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    
  }
  
  /* Show the checkmark when checked */
  .label-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .label-checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.btn-order,.btn-order:hover{font-size: 14px;color: #fff;background: linear-gradient(39.5deg, #EA3906 21.76%, #EE7D22 74.56%); 
    box-shadow: 0px 2px 10px rgba(238, 125, 34, 0.44);
    border-radius: 4px;font-weight: 600;text-transform: uppercase;}
.btn-order-2,.btn-order-2:hover{font-size: 14px;background: #1A468F;color: #fff;font-weight: 600;text-transform: uppercase;}

.list-comment{}
.list-comment .avatar{width: 40px;height: 40px;border-radius: 50%;overflow: hidden;object-fit: cover;border: 1px solid #DBDBDB;}
.list-comment .name{font-weight: 600;margin-bottom: 5px;}
.list-comment .name.qtv{}
.list-comment .name.qtv::after{content: "Quản trị viên";background: #FFAB1B;font-size: 12px; margin-left: 1rem;padding: 1px 5px;border-radius: 3px;}
.list-comment .comment-ct{font-size: 14px;margin-bottom: 5px;}
.list-comment .media.sub{background: #F2F2F2;padding: .5rem;border-radius: 5px;overflow: hidden;}
.list-comment .time,.item-blog-km .time,.blog-content .time{color: #828282;padding-left: 20px;position: relative;}
.list-comment .time::before,.item-blog-km .time::before,.blog-content .time::before{content: "";width: 15px;height: 13px;background: url(../images/date.svg) no-repeat center;background-size: contain;position: absolute;left: 0;top: 3px;}

.list-menu-right{margin-bottom: 1rem;}
.list-menu-right  .heading{font-weight: 600;font-size: 1.25rem;border-bottom: 1px solid #DBDBDB;padding-bottom: 7px;}
.list-menu-right  .heading img{height: 22px;}
.list-menu-right .list{font-size: 14px;height: 0;overflow: hidden; transition: .3s;opacity: 0;}
.list-menu-right .list li{padding: 5px 0;}
.list-menu-right .list li a:hover{color: #EE7D22;transition: .3s;}
.list-menu-right.expand .list{height: auto;padding: .5rem 0;transition: .3s;opacity: 1;}
.list-menu-right .lastest-news .title{margin-bottom: 3px;max-height: 2.5rem;overflow: hidden;}
   .list-menu-right .lastest-news .image img{border-radius: 4px;}
   .list-menu-right .lastest-news  .time{font-size: 11px;}
   .list-menu-right .lastest-news  .des{font-size: 14px;color: #828282;}

.jan-modal .star-rating{color: #F2F2F2;}
.jan-modal .star-rating i.checked{color: #FFAB1B;cursor: pointer;}

.item-blog-km{margin-bottom: 1.5rem;background: #fff;}
.item-blog-km .title{font-weight: 600;font-size: 1rem;}
.item-blog-km .time,.item-blog-km .des, .blog-content .time{font-size: 14px;color: #828282;margin-bottom: .5rem;}
.item-blog-km .image{overflow: hidden;}
.item-blog-km:hover .image img{transform: scale(1.05);transition: .3s;}
.item-blog-km .image img{transition: .3s;}

.select-page{background: #fff;padding: .35rem .75rem;border: 0;line-height: 1;}
.btn-pagi{font-size: 10px;padding: .2rem .5rem;color: #828282;}

.banner-page{background: url(../images/change/Banner-cate-1.jpg) no-repeat center;min-height: 200px;background-size: cover;display: flex;}
.banner-page h1{font-size: 20px;}

.blogs-home-tn .item .title{font-size: 14px;font-weight: normal;margin-bottom: 5px;}
.blogs-home-tn .item .time{font-size: 11px;}

.item-blog-km{position: relative;}
.item-blog-km .tag-time{background: #fff;border-radius: 5px;padding: 5px 10px;position: absolute;top: 1rem;left: 1rem;text-align: center;}
.item-blog-km .title{font-size: 18px;font-weight: 600;}
.item-blog-km .title.h6{font-size: 1rem;font-weight: normal;}

.search-comment{position: relative;}
.search-comment input{font-size: 14px;background: #fff;padding-left: 2.5rem;}
.search-comment  i.fa-search{position: absolute;color: #828282;top: .65rem;left: 1rem;opacity: .8;}

.blog-video .item{margin-bottom: 1rem;}
.blog-video .item .title{font-size: 14px;font-weight: 600;}
.blog-video .item .time{color: #828282;font-size: 14px;}

.blog-content{cursor: #4f4f4f;}
.blog-content .title{font-size: 24px;font-weight:600;margin-bottom: .75rem;}
.blog-content .author{display: flex;font-size: 14px;line-height: 1;}
.blog-content .author .avt img{width: 18px;height: 18px;border-radius: 50%;object-fit: cover;}
.blog-content .author .avt{width:28px ;padding-right: 10px;}
.blog-content .time::before{height: 15px;}
.blog-content .time{margin-bottom: 0;}

.tags{font-size: 15px;margin-bottom: 1.5rem;}
.tags label{font-weight: 600;margin-bottom: 3px;}
.tags .item.btn-link::after{content: ",";margin: 0 3px;margin-bottom: 3px;}
.tags .item.btn-link:last-child::after{content: "";}

.slide-blog-cate .swiper-button-next,
.slide-blog-cate .swiper-button-prev {
    position: absolute;
    top: auto;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    background: none;
    text-align: center;
    padding-top: 3px;
    bottom: 5px;font-size: 12px;
    color: #fff;
}
.slide-blog-cate .swiper-button-next,
.slide-blog-cate .swiper-container-rtl .swiper-button-prev {right: 10px;left: auto;}
  
.slide-blog-cate .swiper-button-prev,
.slide-blog-cate .swiper-container-rtl .swiper-button-next {left: auto;right: 46px;}
.slide-blog-cate { padding:1rem 0;}
.slide-blog-cate .item {position: relative; overflow: hidden;}

.slide-blog-cate .item .title { background: #00000040;
padding: 1rem 5rem 1rem 1rem;  color: #fff;  position: absolute; bottom: 0; width: 100%;margin-bottom: 0; }

.slide-blog-cate .item .title { font-size: 18px; font-weight: 600;}
  
.jan-table{font-size: 14px;background: #F2F2F2;}
.jan-table tr:first-child td{border: 0;}
.jan-table  .time{}
.jan-table .btn-link{line-height: 1;white-space: nowrap;}
.jan-table td:first-child{width: 55%;}
.line-heading-2{position: absolute;width: 200px;height: 2px;background: #FFAB1B;bottom: -1px;}
.jan-table tr td:last-child{text-align:right ;}

.cate-recrui {margin-bottom: 1.5rem;}
.cate-recrui .item{border-radius: 4px;background-color:#EE7D22 ;color: #fff;text-align: center;text-transform: uppercase;padding: 1.5rem 1rem;
transition: .3s;margin-bottom: 1.5rem;}
.cate-recrui .item:hover{background-color: #F5A05B;transition: .3s;}


.item-recrui {border-bottom: 1px solid #DBDDE0;padding: 1rem 0;font-size: 14px;}
.item-recrui .title{font-size: 20px;font-weight: 600;margin-bottom: .5rem;}
.list-td .item-recrui:last-child{border: 0;}

.item-recrui-right{font-size: 14px;color: #4f4f4f;}
.item-recrui-right .title{color:#1A468F;margin-bottom: 1rem;font-weight: 600;font-size:18px;}

.recrui-content{margin-bottom: 2rem;}
.recrui-content .title{font-size: 24px;font-weight: 600;}
.recrui-content  .detail{font-size: 16px;}

.form-ung-tuyen{background-color: #F2F2F2;padding: .75rem;}
.form-ung-tuyen .form-control{font-size: 14px;border-color: #E0E0E0;min-height: 38px;}
.form-ung-tuyen .form-control::placeholder{color: #DBDDE0;}
.form-ung-tuyen .input-file{position: absolute;top: 0;left: 0;opacity: 0;cursor: pointer;}

.btn-flash-sale,.btn-flash-sale:hover{background: linear-gradient(68.47deg, #EA3906 21.76%, #EE7D22 74.56%); 
box-shadow: 0px 2px 10px rgba(238, 125, 34, 0.44);border-radius: 4px;color: #fff;font-size: 12px;white-space: nowrap;padding: 8px 5px;}

.bar-flash-sale{width: 80px;background: #E0E0E0;border-radius: 8px;height: 8px;position: relative;margin-bottom: 5px;}
.bar-flash-sale .sold{height: 8px;border-radius: 8px;background: #007DFF;position: absolute;left: 0;top: 0;}

.box-list-stores{background: #fff;margin-bottom: 1rem;font-size: 14px;}
.box-list-stores .title{font-size: 20px;font-weight: 600;}
.box-list-stores .label-checkbox{margin-bottom: .65rem;display: inline-block;margin-right: .6rem;padding-left: 25px;}
.list-add-store{color: #4f4f4f;border-radius: 5px;transition: .3s;height: 0;overflow: hidden;opacity: 0;padding: 0 1rem;}
.list-add-store .item{margin-bottom: 1rem;}
.list-add-store .name{color: #1A468F;font-weight: bold;font-size: 16px;margin-bottom: .35rem;}
.list-add-store .item .icon{width: 1.2rem;margin-right: .5rem;}
.list-add-store .item .text{width: calc(100% - 2.5rem);line-height: 1.9;}
.list-add-store.expand{height: 600px;transition: .3s;padding: 1rem;border: 1px solid #DBDDE0; overflow-y: scroll;opacity: 1;}

.banner-list-store{background: url(../images/change/bg-store-list.jpg) no-repeat center; background-size: cover;color: #FFAB1B;
font-weight: 600;text-transform: uppercase;text-align: center;font-size: 15px;}
.banner-list-store .number{margin: .4rem 0;font-size: 1.5rem;color: #fff;}

.link-tab-flash-sale{background: #fff;color: #828282;text-align: center;padding: 1rem;border-right: 1px solid #f2f2f2;font-size: 14px;
cursor: pointer;display: block;}
.link-tab-flash-sale.active{color: #fff;background-color: #ED1D24;}
.link-tab-flash-sale .time{font-size: 1.5rem;font-weight: 600;}

.timer-flash-sale{background: #fff;font-size: 14px;padding: 1rem 0;}


.about-1,.about-2{font-size: 15px;color: #4f4f4f;}
.about-1 .heading span{color: #1A468F;text-transform: uppercase;}
.about-1 .number{font-size: 1.5rem;font-weight: bold;font-family:'Open Sans Condensed' ;color: #EE7D22;}

.about-2 .text-italic{color: #EE7D22;font-family:'Open Sans Condensed' ;font-size: 22px;text-transform: uppercase;font-style: italic;}

.about-3{background:#F2F2F2 ;font-size: 14px;}
.about-3 .heading{font-size: 16px;}
.about-3 .heading i.fa-check-circle{color: #EE7D22;}
.about-3 .item{padding:2.5rem 2rem;margin-bottom: 1.5rem;height: 100%;}
.about-3 .item.active{background: linear-gradient(62.86deg, #EA3906 19.72%, #EE7D22 98.41%);
  border-radius: 8px;color: #fff;}
  .about-3 .item.active i.fa-check-circle, .about-3 .item.active *{color: #fff;}

.total-pay{border:1px solid #DBDBDB;padding: 1rem;border-radius: 5px;}
.total-pay .btn-save{background: linear-gradient(52.91deg, #EA3906 21.76%, #EE7D22 74.56%);font-weight: 600;padding: .65rem;}

.infor-customer{}
.infor-customer .heading{font-size: 20px;font-weight: 600;margin-bottom: .65rem;}

.jan-table-cart{}
.jan-table-cart th,.jan-table-cart thead th label{font-weight: normal;color: #828282;font-size: 12px;text-transform: uppercase;}
.jan-table-cart .label-checkbox .checkmark{top: -3px;}
.group-amount input.form-control{width: 50px;color:#007DFF;text-align: center;font-size: 15px;}
.group-amount .btn{border:1px solid #DBDBDB;color: #828282;font-size: 14px;}
.jan-table-cart .image-product{width: 80px;height: 80px;border:1px solid #dbdbdb;border-radius: 5px;overflow: hidden;}
.jan-table-cart .image-product img{width: 100%;height: 100%;object-fit: cover;-o-object-fit: cover;}
.jan-table-cart .price-new{font-size: 18px;font-weight: 600;white-space: nowrap;}
.jan-table-cart .price-old{font-size: 11px;text-decoration: line-through;color: #828282;}
.jan-table-cart .name-product{font-size: 14px;font-weight: 600; margin-bottom: 3px;}
.jan-table-cart .sum{font-weight: 600;color: #EE7D22;font-size: 18px;white-space: nowrap;}
.jan-table-cart .label-checkbox.label-2 .checkmark{top: calc(50% - 12px);}

#modal-slide-imge{display: block;opacity: 0;visibility: hidden;font-size: 12px;text-align: center;}
#modal-slide-imge.show{opacity: 1;visibility: visible;}

.product-suggest{}
.product-suggest .label-checkbox .checkmark{top: calc(50% - 10px);}
.product-suggest .image-product img{border-radius: 4px;width: 40px;height: 40px;object-fit: cover;}


.product-description{height: 100vh;overflow: hidden;position: relative;}
.product-description::after{content: "";
  position: absolute;bottom: 0;left: 0;width: 100%;height: 100px;background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 98.44%);
}
.product-description.expand{height: auto;}
.product-description.expand::after{display: none;}

.list-location-top{background: linear-gradient(4.91deg, #EA3906 21.76%, #EE7D22 74.56%);color: #fff;font-size: 11px;
text-transform: uppercase;white-space: nowrap;padding: 5px 0;}
.list-location-top .swiper-slide{text-align: center;}
.list-location-top .swiper-button-next,.list-location-top .swiper-button-prev{margin-top: 0;top: 0;height: auto;}

.jan-card{background: #fff;border:0;border-radius: 0;font-size: 14px;margin-bottom: 1rem;}
.jan-card .card-title{color: #1A468F;font-size: 18px;font-weight: 600;}
.jan-card  label{margin-bottom: 3px;}
.jan-card  input.form-control{color: #000;}

.item-dot{display: flex;margin-bottom: .5rem;}
.item-dot::before{content: "\f111";
  font-family: "Font Awesome 5 Pro";font-weight: bold;font-size: 6px;margin-top: .5rem;margin-right: .5rem;color: #4f4f4f;}

  .card-2 {border-color: #f2f2f2!important;}
.card-2 .heading{background: #F2F2F2;text-transform: uppercase;font-weight: 600;font-size: 15px;}
.card-2 .btn-choose{background: #1A468F;color: #fff; font-size: 14px;min-width: 150px;}

.item-choose{display: flex;padding: .35rem 1rem;}
.item-choose .label{width: 120px;align-self: center;margin-bottom: 0;}

.item-check{padding: .5rem 1rem;margin-bottom: .5rem;}
.item-check .label-checkbox{padding-left: 0;}
.item-check .label-checkbox .checkmark {left: auto;right: 0;}
.item-check .label-checkbox  .text-1{width: 30%;}
.item-check .label-checkbox input:checked ~ .checkmark{background: #1A468F;}

.jan-modal-2 .modal-content{border-radius: 0;position: relative;}
.list-filter-modal{background: #F6F6F7;padding: 1rem;}
.item-product-modal-2 {font-size: 14px;margin-bottom: .75rem;}
.item-product-modal-2 .image-product {
  width: 80px;
  height: 80px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  overflow: hidden;
}
.item-product-modal-2 .image-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.list-product-modal-2{padding: 0rem 1rem;max-height: 70vh;overflow: auto;}

.list-filter-modal{max-height: 70vh;overflow: auto;}
.list-filter-modal .heading{font-weight: 600;font-size: 15px;cursor: pointer;padding: .3rem 0;}
.list-filter-modal .menu.sub .heading::after{content: "\f078";font-family: "Font Awesome 5 Pro";font-size: 11px;color: #828282;font-weight: bold;float: right;margin-top: 3px;}
.list-filter-modal .menu.sub .sub-menu{padding: 0 ;height: 0;overflow: hidden;transition: .3s;}
.list-filter-modal .menu.sub.show .sub-menu{padding: .75rem 0;height: auto;transition: .3s;}
.btn-x{background: #fff;border: 1px solid #DBDDE0;border-radius: 0;width: calc((100% - 1rem) / 2);display: inline-block;margin-right: .3rem;margin-bottom: .3rem;}
.btn-x:hover,.btn-x.active{color: #EE7D22;border-color: #EE7D22;transition: .3s;}

.jan-modal-2 .modal-content::after{content: "";
  position: absolute;bottom: 0;left: 0;width: 100%;height: 100px;background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 98.44%);
}

@media(min-width:320px){
    
}

@media(min-width:375px){
    
}

@media(min-width:576px){
    .header .nav-center{font-size: 12px;}

    .about-3 .item.active{background:none;
      border-radius: 8px;color: #333;}
      .about-3 .item.active i.fa-check-circle{color: #EE7D22;}
       .about-3 .item.active *{color: #333;}
}

@media(min-width:768px){
    .container{max-width: 100%;}
    .header{background: #fff;border-bottom: 0;}
   .header .nav-center{background: #fff;border-bottom: 0;box-shadow: 0 0 10px lightgrey;margin-bottom: 10px;}
  
   .header .nav-center .nav-item{margin-bottom: 0rem;}
  
   .btn-local{font-size: 10px;}
   .header .form-search input{height: 38px;}
   .list-menu-cate{width: calc(100% - 30px);font-size: 12px;position: absolute;z-index: 100;}
   .list-menu-cate.un-expand{height: 40px;overflow: hidden;}
   
   .list-menu-cate .subcate{width:500px;left: calc(100% + 0px);}
   .item-sub-link{font-size: 12px; padding: 5px 0;}
   .item-sub-link:hover{color: #49BCF7;transition: .2s;}

   .content-right{width: calc(100% - 200px);}
   .menu-ngang{font-size: 11px;}
   .menu-ngang .icon{display: none;}
   .item-product .tag-1{font-size: 10px;}
    
   .menu-fix.fixed{border: 1px solid #f2f2f2;}
   .list-comment .media.sub{padding: 1rem;}
   .list-menu-right .list{height: auto;padding: .5rem 0;opacity: 1;}

   .banner-page{ min-height: 230px;}
   .banner-page h1{font-size: 24px;font-weight: 600;}

   .box-list-stores{position: absolute; top: .75rem;left: .75rem;}
   
    
}

@media(min-width:992px){
    .list-menu-cate{width: calc(100% - 30px);}
    .list-menu-cate .subcate{width: 700px;left: 255px;}
    
    .content-right{width: calc(100% - 250px);}
    .menu-ngang .icon{display: block;}
    .menu-ngang-2{font-size: 13px;}

    .menu-op{justify-content: space-between;overflow: scroll;flex-wrap: nowrap;}
.menu-op .link-view-more{border: 0;padding: 0;font-size: 14px;margin-bottom: 0;background: none;}
.header.fixed .nav-center{position: fixed;top: 0;z-index: 101;width: 100%;}
.header.fixed .nav-top{display: none;}
.slide-brand{border:0px;}
}

@media(min-width:1200px){
    .container{max-width: 1100px;}
    .btn-local{font-size: initial;}
    .header .form-search input{height: 38px;font-size: 13px;}
    .list-menu-cate{width: calc(100% - 30px);font-size: 14px;}
    .list-menu-cate.un-expand{height: 45px;}
   
   .btn-local:hover .onhover{opacity: 1;visibility: visible;transition: .2s;z-index: 101;}
   .header .form-search input{min-width: 200px;}
   .item-sub-link{font-size: 14px; }
   .menu-ngang{font-size: 14px;}
   .menu-ngang-2{font-size: 15px;}
   .item-product .title{font-size: 15px;}
   .item-product{padding: 2rem 1rem 1rem;}

   .banner-fixed-left{width: 100px;top: 110px;left: 0rem;display: block;position: absolute;z-index: 100;}
   .banner-fixed-right{width: 100px;top: 110px;right: 0rem;display: block;position: absolute;z-index: 100;}
   .spvx{width: calc(100% - 100px);}
   .btn-order-2,.btn-order-2:hover,.btn-order,.btn-order:hover{font-size: 16px;}

   .banner-page{ min-height: 280px;}
   .banner-page h1{font-size: 34px;}

   .about-3 .item.active{background: linear-gradient(62.86deg, #EA3906 19.72%, #EE7D22 98.41%);
    border-radius: 8px;color: #fff;}
    .about-3 .item.active i.fa-check-circle, .about-3 .item.active *{color: #fff;}
  
  
}

@media(min-width:1366px){
    .header .nav-center{font-size: 14px;}
    .list-menu-cate{width: calc(100% - 30px);font-size: 14px;}
    .container{max-width: 1170px;}
    .list-menu-cate .subcate{width: 900px;left: calc(100% + 0px);}
    .banner-fixed-left{width: 110px;position: fixed;top: 120px;left: 0rem;z-index: 100;}
    .banner-fixed-right{width: 110px;position: fixed;top: 120px;right: 0rem;z-index: 100;}

   
}

@media(min-width:1440px){
    .container{max-width: 1200px;}
    .banner-fixed-left{width: 120px;top: 100px;left: 1rem;}
    .banner-fixed-right{width: 120px;top: 100px;right: 1rem;}
    
}
@media(min-width:1600px){
  .container{max-width: 1300px;}
  .header .nav-center{font-size: 16px;}
  .header .nav-center .nav-item a{line-height: 1.25;}
    .banner-fixed-left{width: 130px;top: 100px;left: 1rem;}
    .banner-fixed-right{width: 130px;top: 100px;right: 1rem;}
    
}





  @media (min-width: 768px) and (max-width: 1200px){
    
   
  }

.sp-wrap{max-width: 100%;width: 100%;margin: 0;border: 0;}

.list-tags-right{display: flex;flex-wrap: wrap;margin-bottom: 1rem;}
.list-tags-right .item{border: 1px solid #4f4f4f;border-radius: 3px;padding: 4px 8px;color: #4f4f4f;white-space: nowrap;font-size: 12px;
margin-right: .65rem;margin-bottom: .75rem;}