﻿
@{
    ViewData["Title"] = "IndexPublic";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}

<div class="pt-1 bg-fff">
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">

            </div>
            <div class="col-lg-6 col-md-8  col-sm-12 col-12 px-md-0 ">
                <div id="carouselHome" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/change/slide-home-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/change/slide-home-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/change/slide-home-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/change/slide-home-1.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>

                    <ol class="carousel-indicators carousel-indicators-2 d-none d-md-flex">
                        <li data-target="#carouselHome" data-slide-to="0" class="active">
                            Đặt online giảm đến 40%
                        </li>
                        <li data-target="#carouselHome" data-slide-to="1">
                            Sàn gỗ công nghiệp
                            lì xì đến 10 triệu
                        </li>
                        <li data-target="#carouselHome" data-slide-to="2">
                            Đặt online giảm đến 40%
                        </li>
                        <li data-target="#carouselHome" data-slide-to="3">
                            Sàn gỗ công nghiệp
                            lì xì đến 10 triệu
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-12 col-12 mt-md-3 mt-lg-0 ml-auto px-md-0 px-lg-3">
                <ul class="list-group list-news-right mb-2 mt-3 mt-md-0">
                    <li class="list-group-item active">Trải nghiệM cùng JANHOME</li>
                    <li class="list-group-item">
                        <a href="" title="">
                            7 món quà dành tặng cho bạn gái
                            vừa ý nghĩa vừa tiết kiệm
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="" title="">
                            Top 10 sản phẩm bán chạy nhất JAN
                            - HOME năm 2019
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="" title="">
                            7 món quà dành tặng cho bạn gái
                            vừa ý nghĩa vừa tiết kiệm
                        </a>
                    </li>
                </ul>
                <a href="" title="">
                    <img src="images/change/round4.png" class="img-fluid mb-2" />
                </a>
                <a href="" title="">
                    <img src="images/change/round42.png" class="img-fluid mb-2" />
                </a>

            </div>
        </div>
        <div class="row menu-ngang-2 mt-4 justify-content-around flex-wrap">
            <div class="col">
                <div class="item">
                    <a href="">
                        <img src="images/icon-n-1.svg" class="img-fluid mr-2" />
                        Giờ vàng giá sốc
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <a href="">
                        <img src="images/icon-n-2.svg" class="img-fluid mr-2" />
                        Giờ vàng giá sốc
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <a href="">
                        <img src="images/icon-n-3.svg" class="img-fluid mr-2" />
                        Giờ vàng giá sốc
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <a href="">
                        <img src="images/icon-n-4.svg" class="img-fluid mr-2" />
                        Giờ vàng giá sốc
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <a href="">
                        <img src="images/icon-n-5.svg" class="img-fluid mr-2" />
                        Giờ vàng giá sốc
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>






<section class="my-4 flash-sale">
    <div class="container ">
        <div class="bg-fff pt-3 pb-2 px-2 border-r-4"
             style="background: url(images/change/bg-flash.png) no-repeat top center;background-size: cover;">
            <div class="">
                <div class="row mb-3 no-gutters ">
                    <div class="col-12 d-flex flex-wrap">
                        <a href="" class="align-self-center mr-2">
                            <img src="images/change/Flashsale.svg" class="img-fluid" />
                        </a>
                        <div class="timer d-flex align-self-center mr-2 ml-auto ml-md-0">
                            <div id="hour">
                                12
                            </div>
                            <div id="minute">
                                12
                            </div>
                            <div id="second">
                                12
                            </div>
                        </div>
                        <a href="" class="btn btn-outline-light btn-sm px-lg-4 align-self-center">
                            Xem thêm<i class="fas fa-chevron-right ml-2 "></i>
                        </a>

                    </div>


                </div>
            </div>
            <!-- Slider main container -->
            <div class="slide-product slide-1">
                <div class="swiper-container ">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-1.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-2.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-1.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- If we need navigation buttons -->

                </div>
                <div class="swiper-button-prev">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                </div>
                <div class="swiper-button-next">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-xl-8 col-md-8 col-sm-12 col-12">
            <a href="" title="">
                <img src="images/change/banner-sm-1.jpg" class="w-100 mb-3 mb-md-0" />
            </a>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-12 col-12">
            <a href="" title="">
                <img src="images/change/banner-sm-2.jpg" class="w-100" />
            </a>
        </div>
    </div>

</section>

<!--best seller-->
<section class="my-4">
    <div class="container ">
        <div class="bg-fff pt-3 border-r-4">
            <div class="px-3">
                <div class="row mb-3 no-gutters ">
                    <div class="col-8">
                        <a href="" class="h5 font-weight-bold ">Sản phẩm bán chạy nhất</a>
                    </div>
                    <div class="col-4 text-right">
                        <a href="" class="link-view-more">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Slider main container -->
            <div class="slide-product slide-2">
                <div class="swiper-container ">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-1.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-2.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-1.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- If we need navigation buttons -->

                </div>
                <div class="swiper-button-prev">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                </div>
                <div class="swiper-button-next">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sàn gỗ nổi bật-->
<section class="my-4 san-go-nb">
    <div class="container ">
        <div class="bg-fff pt-3 border-r-4">
            <div class="px-3">
                <div class="row mb-3 no-gutters ">
                    <div class="col-md-3 col-12 mb-2 mb-md-0">
                        <a href="" class="h5 font-weight-bold ">Sàn gỗ nổi bật</a>
                    </div>
                    <div class="col-md-9 col-12 text-right d-flex menu-op align-self-center">
                        <a href="" class="link-view-more font-weight-normal mr-3">Sàn gỗ thanh lý</a>
                        <a href="" class="link-view-more font-weight-normal mr-3">Sàn gỗ Việt Nam</a>
                        <a href="" class="link-view-more font-weight-normal mr-3">Sàn gỗ Hàn Quốc</a>
                        <a href="" class="link-view-more font-weight-normal mr-3">Sàn gỗ Đức</a>
                        <a href="" class="link-view-more font-weight-normal mr-3">Sàn gỗ cốt xanh</a>
                        <a href="" class="link-view-more font-weight-normal">Xem thêm <b>136</b> sản phẩm</a>
                    </div>
                </div>
                <div class="row no-gutters mb-3 mb-md-0">
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="item-product item-product-large">
                            <div class="image">
                                <a href="">
                                    <img src="images/change/image4x8.jpg " class="img-fluid" />
                                </a>
                            </div>
                            <div class="py-1">
                                <h5 class="title">
                                    <a href="" title="">
                                        Sàn gỗ JanHome siêu chịu nước
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000 đ/m2
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="row no-gutters h-100 ">
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="item-product item-product-large">
                            <div class="image">
                                <a href="">
                                    <img src="images/change/image4x8.jpg " class="img-fluid" />
                                </a>
                            </div>
                            <div class="py-1">
                                <h5 class="title">
                                    <a href="" title="">
                                        Sàn gỗ JanHome siêu chịu nước
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000 đ/m2
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="row no-gutters h-100 ">
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="slide-cate mb-3 mb-lg-4">
    <div class="container">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="image">
                        <img src="images/change/bn-pk.jpg" class="img-fluid" alt="" />
                        <a href="" class="text text-uppercase">
                            <small>Không gian</small>
                            <h4 class="font-weight-bold">Phòng khách</h4>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img src="images/change/bn-pk.jpg" class="img-fluid" alt="" />
                        <a href="" class="text text-uppercase">
                            <small>Không gian</small>
                            <h4 class="font-weight-bold">Phòng khách</h4>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img src="images/change/bn-pk.jpg" class="img-fluid" alt="" />
                        <a href="" class="text text-uppercase">
                            <small>Không gian</small>
                            <h4 class="font-weight-bold">Phòng khách</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sàn nhựa nổi bật-->
<section class="my-4 san-nhua-nb">
    <div class="container ">
        <div class="bg-fff pt-3 border-r-4">
            <div class="px-3">
                <div class="row mb-3 no-gutters ">
                    <div class="col-md-3 col-12 mb-2 mb-md-0">
                        <a href="" class="h5 font-weight-bold ">Sàn nhựa nổi bật</a>
                    </div>
                    <div class="col-md-9 col-12 text-right d-flex menu-op align-self-center">
                        <a href="" class="link-view-more font-weight-normal mr-3">Sàn nhựa Aimaru</a>
                        <a href="" class="link-view-more font-weight-normal mr-3">Sàn nhựa giá rẻ</a>
                        <a href="" class="link-view-more font-weight-normal mr-3">Sàn nhựa hèm khóa</a>
                        <a href="" class="link-view-more font-weight-normal mr-3">Sàn nhựa BPC</a>
                        <a href="" class="link-view-more font-weight-normal mr-3">Sàn nhựa thanh lý</a>
                        <a href="" class="link-view-more font-weight-normal">Xem thêm <b>136</b> sản phẩm</a>
                    </div>
                </div>
                <div class="row no-gutters mb-3 mb-md-0">
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="item-product item-product-large">
                            <div class="image">
                                <a href="">
                                    <img src="images/change/image4x8.jpg " class="img-fluid" />
                                </a>
                            </div>
                            <div class="py-1">
                                <h5 class="title">
                                    <a href="" title="">
                                        Sàn gỗ JanHome siêu chịu nước
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000 đ/m2
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="row no-gutters h-100 ">
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="item-product item-product-large">
                            <div class="image">
                                <a href="">
                                    <img src="images/change/image4x8.jpg " class="img-fluid" />
                                </a>
                            </div>
                            <div class="py-1">
                                <h5 class="title">
                                    <a href="" title="">
                                        Sàn gỗ JanHome siêu chịu nước
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000 đ/m2
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="row no-gutters h-100 ">
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-6">
                                <div class="item-product">
                                    <div class="tag-1">
                                        Trả góp 0% - Trả trước 0đ
                                    </div>
                                    <div class="image">
                                        <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                        <div class="tag-2">
                                            <img src="images/change/tag-2-2.png" class="img-fluid " />
                                        </div>
                                    </div>

                                    <div class="">
                                        <h5 class="title">
                                            <a href="" title="">
                                                Sàn gỗ JanHome siêu chịu nước
                                            </a>
                                        </h5>
                                        <div class="price-new">
                                            225,000 đ/m2
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                        <div class="size small mb-1">
                                            KT: 602 x 30 x 34 mm
                                        </div>
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="my-4 hang-thanh-ly">
    <div class="container ">
        <div class="bg-fff pt-3 pb-2 px-2 border-r-4"
             style="background: url(images/change/bg-flash.png) no-repeat top center;background-size: cover;">
            <div class="px-3">
                <div class="row mb-3 no-gutters ">
                    <div class="col-12 d-flex flex-wrap">
                        <a href="" class="align-self-center h5 mr-3 text-uppercase mb-0" style="color: #fff;">
                            <b>Hàng thanh lý</b>
                        </a>

                        <a href="" class="btn btn-outline-light btn-sm px-lg-4 align-self-center">
                            Xem thêm<i class="fas fa-chevron-right ml-2 "></i>
                        </a>

                    </div>


                </div>
            </div>
            <!-- Slider main container -->
            <div class="slide-product slide-3">
                <div class="swiper-container ">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-2.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-2.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-2.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- If we need navigation buttons -->

                </div>
                <div class="swiper-button-prev">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                </div>
                <div class="swiper-button-next">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--ĐỒ trnag trí-->
<section class="my-4">
    <div class="container ">
        <div class="bg-fff pt-3 border-r-4">
            <div class="px-3">
                <div class="row mb-3 no-gutters ">
                    <div class="col-8">
                        <a href="" class="h5 font-weight-bold ">Đồ trang trí</a>
                    </div>
                    <div class="col-4 text-right">
                        <a href="" class="link-view-more">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Slider main container -->
            <div class="slide-product slide-4">
                <div class="swiper-container ">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-1.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-2.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-1.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- If we need navigation buttons -->

                </div>
                <div class="swiper-button-prev">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                </div>
                <div class="swiper-button-next">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--ĐỒ gia dụng-->
<section class="my-4">
    <div class="container ">
        <div class="bg-fff pt-3 border-r-4">
            <div class="px-3">
                <div class="row mb-3 no-gutters ">
                    <div class="col-8">
                        <a href="" class="h5 font-weight-bold ">Đồ gia dụng</a>
                    </div>
                    <div class="col-4 text-right">
                        <a href="" class="link-view-more">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Slider main container -->
            <div class="slide-product slide-5">
                <div class="swiper-container ">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-1.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-2.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    Trả góp 0% - Trả trước 0đ
                                </div>
                                <div class="image">
                                    <a href=""><img src="images/change/image 4x4.png" class="img-fluid" /></a>
                                    <div class="tag-2">
                                        <img src="images/change/tag-2-1.png" class="img-fluid " />
                                    </div>
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Sàn gỗ JanHome siêu chịu nước
                                        </a>
                                    </h5>
                                    <div class="price-new">
                                        225,000 đ/m2
                                    </div>
                                    <div class="price-old">
                                        225,000đ
                                    </div>
                                    <div class="size small mb-1">
                                        KT: 602 x 30 x 34 mm
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            4.5/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            135 đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- If we need navigation buttons -->

                </div>
                <div class="swiper-button-prev">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                </div>
                <div class="swiper-button-next">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="banner-in py-5"
         style="background: url(images/change/banner-in.jpg) no-repeat center;background-size: cover;">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-8 col-sm-8 col-12">
                <div>Chúng tôi hỗ trợ bạn 24/7.</div>
                <div>Hãy liên lạc với chúng tôi theo số</div>
                <div class="large"><a href="">1900 0022</a></div>
            </div>
        </div>
    </div>
</section>

<section class="blogs-home py-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-6">
                <a href="" class="h5 font-weight-bold">Blog Tin tức</a>
            </div>
            <div class="col-6 text-right">
                <a href="" class="link-view-more">Xem thêm <i class="fas fa-chevron-right ml-1 small"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7 col-md-6 col-sm-12 col-12">
                <div class="item">
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/IBDeDJbH6Y8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <a href="" title="" class="">
                        <h6 class="title h5 mt-3 ">
                            Sàn gỗ công nghiệp Thái Lan có chất lượng tốt không?
                        </h6>
                    </a>
                    <div class="des">
                        Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay. Xu hướng lựa chọn
                        rèm vải không còn được phổ biến nữa...
                    </div>
                    <div class="text-right mb-3">
                        <a href="" class="link-view-more">
                            Đọc tiếp<i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-6 col-sm-12 col-12 pl-md-0">
                <div class="list-right">
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="images/image3x4.jpg" class="img-fluid"
                                             alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9 pl-0">
                                <h6 class="title">
                                    <a href="" title="">Sàn gỗ công nghiệp Thái Lan có chất lượng tốt không?</a>
                                </h6>
                                <div class="time">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="images/image3x4.jpg" class="img-fluid"
                                             alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9 pl-0">
                                <h6 class="title">
                                    <a href="" title="">Sàn gỗ công nghiệp Thái Lan có chất lượng tốt không?</a>
                                </h6>
                                <div class="time">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="images/image3x4.jpg" class="img-fluid"
                                             alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9 pl-0">
                                <h6 class="title">
                                    <a href="" title="">Sàn gỗ công nghiệp Thái Lan có chất lượng tốt không?</a>
                                </h6>
                                <div class="time">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="images/image3x4.jpg" class="img-fluid"
                                             alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9 pl-0">
                                <h6 class="title">
                                    <a href="" title="">Sàn gỗ công nghiệp Thái Lan có chất lượng tốt không?</a>
                                </h6>
                                <div class="time">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="images/image3x4.jpg" class="img-fluid"
                                             alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9 pl-0">
                                <h6 class="title">
                                    <a href="" title="">Sàn gỗ công nghiệp Thái Lan có chất lượng tốt không?</a>
                                </h6>
                                <div class="time">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="images/image3x4.jpg" class="img-fluid"
                                             alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9 pl-0">
                                <h6 class="title">
                                    <a href="" title="">Sàn gỗ công nghiệp Thái Lan có chất lượng tốt không?</a>
                                </h6>
                                <div class="time">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>

<section class="service-home py-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="images/shipment-international.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Vận chuyển</label>
                        <div class="small">
                            Free shipping on all order
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="images/professions-man-telecommunicator.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Support 24/7</label>
                        <div class="small">
                            Chúng tôi hỗ trợ bạn 24/7
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="images/saving-piggy-dollars.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Dịch vụ đổi trả hàng</label>
                        <div class="small">
                            Đổi trả hàng trong vòng 7 ngày
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
