<template>
    <div class="productadd">
        <b-tabs class="col-md-12" pills vertical>
            <b-tab title="1. Thông tin chung" active>
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <b-card class="mt-3" header="Thông tin danh mục">
                            <b-form-group label="Danh mục cha">
                                <treeselect :multiple="false"
                                            :options="unflatten(ZoneOptions)"
                                            placeholder="Xin mời bạn lựa chọn danh mục"
                                            v-model="objRequest.parentId"
                                            :default-expanded-level="Infinity" />

                            </b-form-group>
                            <b-form-group label="Url">
                                <b-form-input v-model="objRequest.url" placeholder="Đường dẫn" required></b-form-input>
                            </b-form-group>
                            <b-form-group label="Hình nền">
                                <b-form-group>
                                    <b-form-file id="file-field1" size="sm" v-on:change="updatePreview2"></b-form-file>
                                    <img style="margin-top:10px" :src="objRequest.background" class="preview-image img-thumbnail-full" v-on:click="openUpload(2)">
                                </b-form-group>
                            </b-form-group>
                            <b-form-group label="Banner">
                                <b-form-group>
                                    <b-form-file id="file-field2" size="sm" v-on:change="updatePreview3"></b-form-file>
                                    <img style="margin-top:10px" :src="objRequest.banner" class="preview-image img-thumbnail-full" v-on:click="openUpload(3)">
                                </b-form-group>
                            </b-form-group>
                        </b-card>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <b-card class="mt-3" header="Thông tin phụ">
                            <div class="row">

                                <div class="col-md-6">
                                    <button class="btn btn-info btn-submit-form col-md-12 btncus" type="submit" @click="DoAddEdit()">
                                        <i class="fa fa-save"></i> Cập nhật
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-success col-md-12 btncus" type="button" @click="DoRefesh()">
                                        <i class="fa fa-refresh"></i> Làm mới
                                    </button>
                                </div>
                            </div>
                        </b-card>
                        <b-card header="Cấu hình">
                            <b-form-group>
                                <b-form-checkbox v-model="objRequest.isShowMenu">Hiển thị trên menu</b-form-checkbox>
                            </b-form-group>
                            <b-form-group label="Thứ tự">
                                <b-form-input v-model="objRequest.sortOrder" placeholder="Thứ tự" required></b-form-input>
                            </b-form-group>
                            <b-form-group label="Loại">
                                <b-form-select v-model="objRequest.type" :options="Types"></b-form-select>
                            </b-form-group>
                            <b-form-group label="Trạng thái">
                                <b-form-select v-model="objRequest.status" :options="Status"></b-form-select>
                            </b-form-group>
                        </b-card>
                        <b-card header="Hình ảnh">
                            <b-form-group label="Icon">
                                <b-form-group>
                                    <b-form-file size="sm" v-on:change="updatePreviewIcon"></b-form-file>
                                    <img style="margin-top:10px;width:30px;height:30px" :src="objRequest.icon" class="preview-image img-thumbnail">
                                </b-form-group>
                            </b-form-group>
                            <b-form-group label="Avatar">
                                <b-form-group>
                                    <b-form-file id="file-field" size="sm" v-on:change="updatePreview"></b-form-file>
                                    <img style="margin-top:10px" :src="objRequest.avatar" class="preview-image img-thumbnail" v-on:click="openUpload(1)">
                                </b-form-group>
                            </b-form-group>
                        </b-card>
                    </div>
                </div>
            </b-tab>
            <b-tab v-if="objRequest.id > 0" title="2. Thông tin bổ sung">
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <b-card class="mt-3" header="Thông tin danh mục">
                            <b-form-group label="Ngôn ngữ">
                                <b-form-select v-model="langSelected" @change="onChangeSelectd" :options="Languages"></b-form-select>
                            </b-form-group>
                            <b-form-group label="Mô tả">
                                <b-form-textarea v-model="objRequestLanguage.description" placeholder="Mô tả" rows="3" max-rows="6" required></b-form-textarea>
                            </b-form-group>
                            <b-form-group label="Nội dung">
                                <b-form-textarea v-model="objRequestLanguage.content" placeholder="Nội dung" rows="6" max-rows="10"></b-form-textarea>
                            </b-form-group>
                            <b-form-group label="Url">
                                <b-form-input v-model="objRequestLanguage.url" placeholder="Đường dẫn" required></b-form-input>
                            </b-form-group>
                            <b-form-group label="Banner Link">
                                <b-form-input v-model="objRequestLanguage.bannerLink" placeholder="Đường dẫn khi kích vào BannerLink" required></b-form-input>
                            </b-form-group>
                        </b-card>
                        <div class="card">
                            <div class="card-header">
                                SEO Analysis

                                <b-btn v-b-toggle.collapseSEO variant="primary" class="pull-right"><i class="fa fa-angle-double-down" aria-hidden="true"></i></b-btn>

                            </div>
                            <b-collapse id="collapseSEO" class="mt-2">
                                <div class="card-body">
                                    <b-form-group label="Tiêu đề SEO">
                                        <b-form-input v-model="objRequestLanguage.metaTitle" placeholder="Tiêu đề SEO" required></b-form-input>
                                    </b-form-group>
                                    <b-form-group label="Từ khóa SEO">
                                        <b-form-input v-model="objRequestLanguage.metaKeyword" placeholder="Từ khóa SEO" required></b-form-input>
                                    </b-form-group>
                                    <b-form-group label="Mô tả">
                                        <b-form-textarea v-model="objRequestLanguage.metaDescription" placeholder="Mô tả" rows="3" max-rows="6" required></b-form-textarea>
                                    </b-form-group>
                                </div>
                            </b-collapse>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <b-card class="mt-3" header="Thông tin phụ">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-info btn-submit-form col-md-12 btncus" type="submit" @click="DoAddEditLang()">
                                        <i class="fa fa-save"></i> Cập nhật
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-success col-md-12 btncus" type="button" @click="DoRefesh()">
                                        <i class="fa fa-refresh"></i> Làm mới
                                    </button>
                                </div>
                            </div>
                        </b-card>

                    </div>
                </div>

            </b-tab>
        </b-tabs>

    </div>
</template>


<script>
    import axios from 'axios';
    import "vue-loading-overlay/dist/vue-loading.css";
    import { mapGetters, mapActions } from "vuex";
    import Loading from "vue-loading-overlay";

    // import the component
    import Treeselect from '@riophae/vue-treeselect'
    // import the styles
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'
    import 'vue-multiselect-listbox/dist/vue-multi-select-listbox.css'
    import 'vue-select/dist/vue-select.css';
    import { stringify } from 'querystring';
    export default {
        name: "zoneedit",
        data() {
            return {
                isLoading: false,
                preview: '/assets/img/unnamed.jpg',
                objRequest: {
                    id: 0,
                    type: 0,
                    status: 1,
                    avatar: '/assets/img/unnamed.jpg',
                    background: '/assets/img/unnamed.jpg',
                    banner: '/assets/img/unnamed.jpg',
                    icon: '/assets/img/unnamed.jpg',
                },
                langSelected: "",
                objRequestLanguage: {


                },
                objRequestLanguages: [],
                Languages: [],
                Types: [

                ],
                Status: [

                ],
                ZoneOptions: [

                ]
            };
        },
        created: {},
        components: {
            Loading,
            Treeselect
        },

        mounted() {
            if (this.$route.params.id > 0) {
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getZone(this.$route.params.id).then(respose => {

                    console.log(respose);
                    if (respose.data != null) {
                        this.objRequest = respose.data;
                    }
                    if (respose.listData != null) {
                        this.objRequestLanguages = respose.listData;
                        if (this.objRequestLanguages != null && this.objRequestLanguages.length > 0) {
                            this.objRequestLanguage = this.objRequestLanguages[0];
                        }
                    }
                    this.langSelected = this.objRequestLanguage.languageCode;
                    if (this.objRequest.avatar == null || this.objRequest.avatar.length < 0) {
                        this.objRequest.avatar = this.preview;
                    }
                    if (this.objRequest.banner == null || this.objRequest.banner.length < 0) {
                        this.objRequest.banner = this.preview;
                    }
                    if (this.objRequest.background == null || this.objRequest.background.length < 0) {
                        this.objRequest.background = this.preview;
                    }
                });



                this.isLoading = false;
            }



            this.getAllLanguages().then(respose => {
                let lang = respose.listData;

                this.Languages = lang.map(function (item) {
                    return {
                        value: item.languageCode,
                        text: item.name
                    }
                });
            });
            this.supportsZone().then(respose => {
                this.Types = respose.listTypes.map(function (item) {
                    return {
                        value: item.key,
                        text: item.value
                    }
                });
                this.Status = respose.listStatus.map(function (item) {
                    return {
                        value: item.key,
                        text: item.value
                    }
                });
            });

            this.onChangePaging();

        },

        computed: {


        },

        methods: {
            ...mapActions(["updateZone", "addZone", "getZone", "getAllLanguages", "getAllZone", "mergeZoneLang", "supportsZone"]),

            onChangePaging() {
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getAllZone({
                    tuKhoa: "",
                    languageCode: "vi-VN",
                    type: 0,
                    status: 0,
                }).then(respose => {
                    var data = respose.listData;
                    this.ZoneOptions = data.map(function (value) {
                        var obj = {};
                        obj.id = value.id;
                        obj.label = value.name;
                        obj.parentId = value.parentId;
                        return obj;
                    });
                    this.ZoneOptions.push({ id: 0, label: "Chọn danh mục cha", parentId: 0 });

                });
                this.isLoading = false;
            },
            onChangeSelectd() {

                if (this.objRequestLanguages != null && this.objRequestLanguages.length > 0) {

                    let lang = this.langSelected || "vi-VN     ";
                    let lstObjLang = this.objRequestLanguages.filter(function (item) {
                        return item.languageCode.trim() === lang.trim()
                    });
                    if (lstObjLang != null && lstObjLang != undefined && lstObjLang.length > 0) {
                        this.objRequestLanguage = lstObjLang[0];
                    } else {
                        this.objRequestLanguage = {};
                        this.objRequestLanguage.languageCode = lang;
                    }
                }
            },
            DoAddEdit() {

                if (this.objRequest.id > 0) {
                    this.updateZone(this.objRequest)
                        .then(response => {
                            debugger
                            if (response.success == true) {
                                this.$toast.success(response.message, {});

                            }
                            else {
                                this.$toast.error(response.message, {});

                            }
                        })
                        .catch(e => {
                            this.$toast.error(response.error + ". Error:" + e, {});

                        });
                } else {
                    this.addZone(this.objRequest)
                        .then(response => {
                            if (response.success == true) {
                                this.$toast.success(response.message, {});
                                this.objRequest.id = response.id;
                                this.$router.push({
                                    path: "/zone/edit/" + response.id,
                                });
                            }
                            else {
                                this.$toast.error(response.message, {});

                            }
                        })
                        .catch(e => {
                            this.$toast.error(response.error + ". Error:" + e, {});

                        });
                }
            },
            DoAddEditLang() {
                this.objRequestLanguage.zoneId = this.objRequest.id;
                this.mergeZoneLang(this.objRequestLanguage)
                    .then(response => {
                        if (response.success == true) {
                            this.$toast.success(response.message, {});
                            //add lại vào
                            this.objRequestLanguages.push(this.objRequestLanguage);
                        }
                        else {
                            this.$toast.error(response.message, {});

                        }
                    })
                    .catch(e => {
                        this.$toast.error(response.error + ". Error:" + e, {});

                    });
            },
            unflatten: function (arr) {
                var tree = [],
                    mappedArr = {},
                    arrElem,
                    mappedElem;

                // First map the nodes of the array to an object -> create a hash table.
                for (var i = 0, len = arr.length; i < len; i++) {
                    arrElem = arr[i];
                    mappedArr[arrElem.id] = arrElem;
                    mappedArr[arrElem.id]['children'] = [];
                }
                for (var id in mappedArr) {
                    if (mappedArr.hasOwnProperty(id)) {
                        mappedElem = mappedArr[id];
                        // If the element is not at the root level, add it to its parent array of children.
                        if (mappedElem.parentId) {
                            try {
                                mappedArr[mappedElem['parentId']]['children'].push(mappedElem);
                            }
                            catch (ex) {
                                console.log(ex);
                            }
                        }
                        // If the element is at the root level, add it to first level elements array.
                        else {
                            tree.push(mappedElem);
                        }
                    }
                }
                return tree;
            },


            openUpload(options) {
                if (options == 1) {
                    document.getElementById('file-field').click()
                }
                if (options == 2) {
                    document.getElementById('file-field1').click()
                }
                if (options == 3) {
                    document.getElementById('file-field2').click()
                }

            },
            updatePreview(e) {
                var reader, files = e.target.files
                if (files.length === 0) {
                    console.log('Empty')
                }
                this.selectedFile = files[0];
                reader = new FileReader();
                reader.onload = (e) => {
                    this.objRequest.avatar = e.target.result;
                }
                reader.readAsDataURL(files[0])
            },
            updatePreview2(e) {
                var reader, files = e.target.files
                if (files.length === 0) {
                    console.log('Empty')
                }
                this.selectedFile = files[0];
                reader = new FileReader();
                reader.onload = (e) => {
                    this.objRequest.background = e.target.result;
                }
                reader.readAsDataURL(files[0])
            },
            updatePreview3(e) {
                var reader, files = e.target.files
                if (files.length === 0) {
                    console.log('Empty')
                }
                this.selectedFile = files[0];
                reader = new FileReader();
                reader.onload = (e) => {
                    this.objRequest.banner = e.target.result;
                }
                reader.readAsDataURL(files[0])
            },
            updatePreviewIcon(e) {
                var reader, files = e.target.files
                if (files.length === 0) {
                    console.log('Empty')
                }
                this.selectedFile = files[0];
                reader = new FileReader();
                reader.onload = (e) => {
                    this.objRequest.icon = e.target.result;
                }
                reader.readAsDataURL(files[0])
            }
        },
    };
</script>
<style>
</style>
