<template>
    <div>
        <b-card header-tag="header" class="card-filter" footer-tag="footer">
            <b-col md="12">
                <b-row class="form-group">
                    <b-col md="4">
                        <b-form-input v-model="keyword" v-on:keyup.enter="onChangePaging()" type="text" placeholder="Tìm kiếm theo tên"></b-form-input>
                    </b-col>
                    <b-col md="2">
                        <b-select :options="Language" v-model="SearchLanguageCode"></b-select>
                    </b-col>
                    <b-col md="2">
                        <b-select :options="Types" v-model="SearchTypes"></b-select>
                    </b-col>
                    <b-col md="2">
                        <b-select :options="Status" v-model="SearchStatus"></b-select>
                    </b-col>
                    <!--<b-col md="2">
                        <b-btn v-b-toggle.collapse1 variant="primary">
                            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                        </b-btn>
                    </b-col>-->

                </b-row>
            </b-col>
        </b-card>
        <div class="card card-data">
            <div class="card-body">
                <div role="toolbar" class="mb-2" aria-label="Toolbar with button groups and dropdown menu">
                    <div role="group" class="mx-1 btn-group">
                        <router-link class="btn btn-success" :to="{ path: 'add' }">
                            <i class="fa fa-plus"></i> Thêm mới
                        </router-link>
                        <button type="button" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i> Xóa
                        </button>
                    </div>
                    <b-dropdown class="mx-1" variant="info" right text="Hành động" icon>
                        <b-dropdown-item>Kích hoạt</b-dropdown-item>
                        <b-dropdown-item>Không kích hoạt</b-dropdown-item>
                    </b-dropdown>
                </div>
            </div>
            <vue-ads-table :columns="columns"
                           :rows="unflatten(rows)">
                <template slot="action" slot-scope="props">
                    <router-link :to="{path: 'edit/'+ props.row.id}">
                        <i style="color:gold" class="fa fa-edit"></i>
                    </router-link>
                    <a @click="remove(props.row)">
                        <i style="color:red" class="fa fa-minus-circle"></i>
                    </a>
                </template>
            </vue-ads-table>

        </div>
        <!--<div>
            <b-card header-tag="header" class="card-filter" footer-tag="footer">
                <loading :active.sync="isLoading"
                         :height="35"
                         :width="35"
                         :color="color"
                         :is-full-page="fullPage"></loading>
                <div>
                    <b-col md="12">
                        <b-row class="form-group">
                            <b-col md="4">
                                <b-form-input v-model="keyword" v-on:keyup.enter="onChangePaging()" type="text" placeholder="Tìm kiếm theo tên"></b-form-input>
                            </b-col>
                            <b-col md="2">
                                <v-select :options="Language" v-model="SearchLanguageCode" :reduce="language => language.LanguageCode" label="Name"></v-select>
                            </b-col>
                            <b-col md="2">
                                <v-select :options="Types" :reduce="type => type.value" label="text" v-model="SearchTypes"></v-select>
                            </b-col>
                            <b-col md="2">
                                <b-btn v-b-toggle.collapse1 variant="primary">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                </b-btn>
                            </b-col>

                        </b-row>
                    </b-col>
                    <b-collapse id="collapse1" class="mt-2">
                        <b-card>
                            <p class="card-text">Collapse contents Here</p>
                            <b-btn v-b-toggle.collapse1_inner size="sm">Toggle Inner Collapse</b-btn>
                            <b-collapse id="collapse1_inner" class="mt-2">
                                <b-card>Hello!</b-card>
                            </b-collapse>
                        </b-card>
                    </b-collapse>
                </div>
            </b-card>
            <div class="card card-data">
                <div class="card-body">
                    <div role="toolbar" class="mb-2" aria-label="Toolbar with button groups and dropdown menu">
                        <div role="group" class="mx-1 btn-group">
                            <router-link class="btn btn-success" :to="{ path: 'add' }">
                                <i class="fa fa-plus"></i> Thêm mới
                            </router-link>
                            <button type="button" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i> Xóa
                            </button>
                        </div>
                        <b-dropdown class="mx-1" variant="info" right text="Hành động" icon>
                            <b-dropdown-item>Kích hoạt</b-dropdown-item>
                            <b-dropdown-item>Không kích hoạt</b-dropdown-item>
                        </b-dropdown>

                        <div class="mx-1 btn-group mi-paging">
                            <b-pagination v-model="currentPage"
                                          :total-rows="zones.Total"
                                          :per-page="pageSize"
                                          aria-controls="_zone"></b-pagination>
                        </div>
                    </div>
                    <table class="table">
                        <thead class="thead-dark table table-centered table-nowrap">
                            <tr>
                                <th v-for="field in fields"
                                    @click="field.sortable ? sortor(field.key) : null"
                                    class="text-center"
                                    style="max-width:150px"
                                    scope="col">{{field.label}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in zones.ListData">
                                <td class="text-center" scope="row">{{item.Id}}</td>
                                <td class="text-center">{{item.Name}}</td>
                                <td class="text-center">{{item.Avatar}}</td>
                                <td class="text-center" style="max-width:100px">{{item.Background}}</td>
                                <td class="text-center">{{item.Type}}</td>
                                <td class="text-center" style="max-width:100px">{{item.Banner}}</td>
                                <td class="text-center" style="max-width:100px">{{item.BannerLink}}</td>
                                <td class="text-center">{{item.LanguageCode}}</td>
                                <td class="text-center">{{item.SortOrder}}</td>
                                <td class="text-center">
                                    <router-link :to="{path: 'edit/'+item.Id}" class="btn btn-warning">
                                        <i class="fa fa-edit"></i>
                                    </router-link>
                                    <button class="btn btn-xs btn-danger" @click="remove(item)">
                                        <i class="fa fa-minus-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>-->
        <!--<div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="top">
                    <div class="actions action-btns">
                        <div class="btn-group dropdown actions-dropodown">
                            <button type="button" class="btn btn-white px-1 py-1 dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="feather icon-trash"></i>Delete</a>
                                <a class="dropdown-item" href="#"><i class="feather icon-archive"></i>Archive</a>
                                <a class="dropdown-item" href="#"><i class="feather icon-file"></i>Print</a>
                                <a class="dropdown-item" href="#"><i class="feather icon-save"></i>Another Action</a>
                            </div>
                        </div><div class="dt-buttons btn-group"><button class="btn btn-outline-primary" tabindex="0" aria-controls="DataTables_Table_0"><span><i class="feather icon-plus"></i> Add New</span></button> </div>
                    </div><div class="action-filters"><div class="dataTables_length" id="DataTables_Table_0_length"><label><select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm"><option value="4">4</option><option value="10">10</option><option value="15">15</option><option value="20">20</option></select></label></div><div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div></div>
                </div><div class="clear"></div><table class="table data-thumb-view dataTable no-footer dt-checkboxes-select" id="DataTables_Table_0" role="grid">
                    <thead>
                        <tr role="row"><th class="dt-checkboxes-cell dt-checkboxes-select-all sorting_disabled" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 34.4px;" data-col="0" aria-label=""><input type="checkbox"></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Image: activate to sort column ascending" style="width: 178.21px;">Image</th><th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="NAME: activate to sort column ascending" style="width: 372.61px;" aria-sort="descending">NAME</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="CATEGORY: activate to sort column ascending" style="width: 93.41px;">CATEGORY</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="POPULARITY: activate to sort column ascending" style="width: 101.41px;">POPULARITY</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ORDER STATUS: activate to sort column ascending" style="width: 103.81px;">ORDER STATUS</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="PRICE: activate to sort column ascending" style="width: 67.81px;">PRICE</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ACTION: activate to sort column ascending" style="width: 69.41px;">ACTION</th></tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd">
                            <td class="dt-checkboxes-cell"><input type="checkbox" class="dt-checkboxes"></td>
                            <td class="product-img">
                                <img src="./images/elements/magic-mouse.png" alt="Img placeholder">
                            </td>
                            <td class="product-name sorting_1">Fitbit - Flex 1" USB Charging Cable</td>
                            <td class="product-category">Fitness</td>
                            <td>
                                <div class="progress progress-bar-primary">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:87%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="chip chip-warning">
                                    <div class="chip-body">
                                        <div class="chip-text">on hold</div>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price">$14.99</td>
                            <td class="product-action">
                                <span class="action-edit"><i class="feather icon-edit"></i></span>
                                <span class="action-delete"><i class="feather icon-trash"></i></span>
                            </td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="dt-checkboxes-cell"><input type="checkbox" class="dt-checkboxes"></td>
                            <td class="product-img">
                                <img src="./images/elements/ipad-pro.png" alt="Img placeholder">
                            </td>
                            <td class="product-name sorting_1">Fitbit - Charge Wireless Activity Tracker (Large)</td>
                            <td class="product-category">Computers</td>
                            <td>
                                <div class="progress progress-bar-primary">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:87%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="chip chip-primary">
                                    <div class="chip-body">
                                        <div class="chip-text">pending</div>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price">$129.99</td>
                            <td class="product-action">
                                <span class="action-edit"><i class="feather icon-edit"></i></span>
                                <span class="action-delete"><i class="feather icon-trash"></i></span>
                            </td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="dt-checkboxes-cell"><input type="checkbox" class="dt-checkboxes"></td>
                            <td class="product-img">
                                <img src="./images/elements/beats-headphones.png" alt="Img placeholder">
                            </td>
                            <td class="product-name sorting_1">Fitbit - Charge HR Activity Tracker + Heart Rate (Large)</td>
                            <td class="product-category">Audio</td>
                            <td>
                                <div class="progress progress-bar-warning">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:60%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="chip chip-primary">
                                    <div class="chip-body">
                                        <div class="chip-text">pending</div>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price">$149.99</td>
                            <td class="product-action">
                                <span class="action-edit"><i class="feather icon-edit"></i></span>
                                <span class="action-delete"><i class="feather icon-trash"></i></span>
                            </td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="dt-checkboxes-cell"><input type="checkbox" class="dt-checkboxes"></td>
                            <td class="product-img">
                                <img src="./images/elements/iphone-x.png" alt="Img placeholder">
                            </td>
                            <td class="product-name sorting_1">Fitbit - Activity Tracker</td>
                            <td class="product-category">Fitness</td>
                            <td>
                                <div class="progress progress-bar-danger">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:35%"></div>
                                </div>
                            </td>
                            <td>
                                <div class="chip chip-danger">
                                    <div class="chip-body">
                                        <div class="chip-text">canceled</div>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price">$99.99</td>
                            <td class="product-action">
                                <span class="action-edit"><i class="feather icon-edit"></i></span>
                                <span class="action-delete"><i class="feather icon-trash"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table><div class="bottom"><div class="actions"></div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div>
            </div>
        </div>-->
        <!--<div class="row">
            <div class="col-md-5">

                <div class="dropdown-menu" id="list-1" style="display:block;position:unset;width:100%">
                    <a v-for="item in ListLocation" @click="changeValue(item.id)" class="dropdown-item" :value="item.id">{{item.name}}</a>
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary btn-block mb-2" @click="alltoRight">&raquo;</button>
                <button class="btn btn-primary btn-block mb-2" @click="onetoRight">&rsaquo;</button>
                <button class="btn btn-primary btn-block mb-2" @click="onetoLeft">&lsaquo;</button>
                <button class="btn btn-primary btn-block mb-2" @click="alltoLeft">&laquo;</button>
            </div>
            <div class="col-md-5">
                <div class="dropdown-menu" style="display:block;position:unset;width:100%">
                    <button class="dropdown-item" v-for="item in ListValue" :value="item.id">
                        <div style="display:flex;width:100%" >
                            <div class="col-md-4">
                                {{item.name}}
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" v-model="item.price" />
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" v-model="item.salePrice" />
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>-->
    </div>
</template>
<script>
    import "vue-loading-overlay/dist/vue-loading.css";
    import msgNotify from "./../../common/constant";
    import { mapGetters, mapActions } from "vuex";
    import Loading from "vue-loading-overlay";
    import VueAdsTable from '../../components/Table';
    import debounce from "../../services/debounce";
    let columns = [
        {
            property: 'id',
            title: 'Mã danh mục',
            direction: null,
            filterable: true,
        },
        {
            property: 'name',
            title: 'Tên danh mục',
            direction: null,
            filterable: true,
        },
        {
            property: 'sortOrder',
            title: 'Sắp xếp',
            direction: null,
            filterable: true,
        },
        {
            property: 'action',
            title: 'Thao tác',
            direction: null,
            filterable: false,
        },
    ];

    //const fields = [
    //    { key: "Id", label: "Id" },
    //    { key: "Name", label: "Name", sortable: true },
    //    { key: "Avatar", label: "Avatar" },
    //    { key: "Background", label: "Background" },
    //    { key: "Type", label: "Type" },
    //    { key: "Banner", label: "Banner" },
    //    { key: "BannerLink", label: "BannerLink" },
    //    { key: "LanguageCode", label: "LanguageCode" },
    //    { key: "SortOrder", label: "SortOrder", sortable: true },
    //    { key: "Is", label: "Thao tác" }
    //];
    let classes = {
        group: {
            'vue-ads-font-bold': true,
            'vue-ads-border-b': true,
            'vue-ads-italic': true,
        },
        '0/all': {
            'vue-ads-py-3': true,
            'vue-ads-px-2': true,
        },
        'even/': {
            'vue-ads-bg-blue-lighter': true,
        },
        'odd/': {
            'vue-ads-bg-blue-lightest': true,
        },
        '0/': {
            'vue-ads-bg-blue-lighter': false,
            'vue-ads-bg-blue-dark': true,
            'vue-ads-text-white': true,
            'vue-ads-font-bold': true,
        },
        '1_/': {
            'hover:vue-ads-bg-red-lighter': true,
        },
        '1_/0': {
            'leftAlign': true
        }
    };
    export default {
        name: "location",
        components: {
            Loading,
            VueAdsTable,
        },
        data() {
            return {
                columns,
                classes,
                filter: '',
                start: 0,
                end: 500,
                rows: [],

                isLoading: false,
                LeftSelect: 0,
                ListLocation: [
                    {
                        id: 1,
                        name: "Hà Nội",
                        price: 0,
                        salePrice: 0,
                    }, {
                        id: 2,
                        name: "TP Hồ Chí Minh",
                        price: 0,
                        salePrice: 0,
                    },
                    {
                        id: 3,
                        name: "Thanh Hóa",
                        price: 0,
                        salePrice: 0,
                    },
                    {
                        id: 4,
                        name: "Hà Tĩnh",
                        price: 0,
                        salePrice: 0,
                    }

                ],
                ListValue: [
                    {
                        id: 1,
                        name: "Hà Nội",
                        price: 0,
                        salePrice: 0,
                    }, {
                        id: 2,
                        name: "TP Hồ Chí Minh",
                        price: 0,
                        salePrice: 0,
                    },
                ],

                SearchTypes: 0,
                SearchStatus: 0,
                SearchLanguageCode: "vi-VN     ",
                messeger: "",
                currentSort: "Id",
                currentSortDir: "asc",
                keyword: "",
                currentPage: 1,
                pageSize: 10,
                loading: true,

                Language: [

                ],
                Types: [

                ],
                Status: [

                ],

                bootstrapPaginationClasses: {
                    ul: "pagination",
                    li: "page-item",
                    liActive: "active",
                    liDisable: "disabled",
                    button: "page-link"
                },
                customLabels: {
                    first: "First",
                    prev: "Previous",
                    next: "Next",
                    last: "Last"
                }
            };
        },
        methods: {
            ...mapActions(["getZones", "getAllZone", "deleteZone", "getAllLanguages", "supportsZone"]),
            onChangePaging() {
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getAllZone({
                    tuKhoa: this.keyword || "",
                    languageCode: this.SearchLanguageCode || "vi-VN",
                    type: this.SearchTypes,
                    status: this.SearchStatus
                }).then(respose => {
                    this.rows = respose.listData;
                    console.log(this.unflatten(this.rows));

                });
                this.isLoading = false;
            },
            alltoRight: function () {

            },
            onetoRight: function () {

            },
            alltoLeft: function () {

            },
            onetoLeft: function () {

            },
            changeValue: function (id) {
                var obj = this.ListLocation.filter(word => word.id === id);
                console.log(this.ListValue);
                this.ListValue.push({
                    id: obj[0].id,
                    name: obj[0].name,
                    price: 0,
                    salePrice: 0,
                });
                
                this.ListLocation.splice(obj, 1);
            },

            remove: function (item) {
                //var vm = this;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.deleteZone(item)
                    .then(response => {
                        if (response.success == true) {
                            this.onChangePaging();
                            this.$toast.success(response.message, {});
                            //this.isLoading = false;

                        } else {
                            this.$toast.error(response.message, {});
                            //this.isLoading = false;
                        }
                    })
                    .catch(e => {
                        this.$toast.error(response.message + ". Error:" + e, {});
                    });

                //vm.$confirm('Confirm Title', 'Confirm Message', function (e) {
                //    debugger

                //}, function () {

                //})
            },

            unflatten: function (arr) {
                var tree = [],
                    mappedArr = {},
                    arrElem,
                    mappedElem;

                // First map the nodes of the array to an object -> create a hash table.
                for (var i = 0, len = arr.length; i < len; i++) {
                    arrElem = arr[i];
                    mappedArr[arrElem.id] = arrElem;
                    mappedArr[arrElem.id]['_children'] = [];
                }
                for (var id in mappedArr) {
                    if (mappedArr.hasOwnProperty(id)) {
                        mappedElem = mappedArr[id];
                        // If the element is not at the root level, add it to its parent array of children.
                        if (mappedElem.parentId) {
                            try {
                                mappedArr[mappedElem['parentId']]['_children'].push(mappedElem);
                            }
                            catch (ex) {
                                console.log(ex);
                            }
                        }
                        // If the element is at the root level, add it to first level elements array.
                        else {
                            tree.push(mappedElem);
                        }
                    }
                }
                return tree;
            },
        },
        computed: {
            ...mapGetters(["zones"])
        },
        mounted() {
            this.onChangePaging();
            this.getAllLanguages().then(respose => {
                this.Language = respose.listData.map(function (item) {
                    return {
                        value: item.languageCode,
                        text: item.name
                    };
                });
            });
            this.supportsZone().then(respose => {
                this.Types = respose.listTypes.map(function (item) {
                    return {
                        value: item.key,
                        text: item.value
                    }
                });
                this.Status = respose.listStatus.map(function (item) {
                    return {
                        value: item.key,
                        text: item.value
                    }
                });
            });
        },
        watch: {

            SearchLanguageCode: function () {
                this.onChangePaging();
            },
            SearchTypes: function () {
                this.onChangePaging();
            },
            SearchStatus: function () {
                this.onChangePaging();
            },
        }
    };
</script>


<style>
    .vue-ads-cursor-pointer i {
        color: green;
        padding-right: 15px;
    }

    .vue-ads-p-2 {
        padding-right: 50px;
    }
</style>
