<template>

    <div style="display:flex;width:100%">
        <loading :active.sync="isLoading"
                 :height="35"
                 :width="35"
                 :color="color"
                 :is-full-page="fullPage"></loading>

        <b-tabs class="col-md-12" pills vertical>
            <b-tab title="1. Nhập thông tin bài viết" active>
                <div class="row productedit">
                <div class="col-md-12">
                    <b-card class="mt-3 " header="Thêm / Sửa bài viết">
                        <loading :active.sync="isLoading"
                                 :height="35"
                                 :width="35"
                                 :color="color"
                                 :is-full-page="fullPage"></loading>
                        <b-form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <b-form-group label="Trạng thái">
                                        <treeselect
                                            :options="StatusOptions"
                                            :disable-branch-nodes="true"
                                            v-model="objRequest.status"
                                            :default-expanded-level="Infinity"
                                            placeholder="Xin mời bạn lựa chọn trạng thái"
                                        />
                                    </b-form-group>
                                </div>
                                <div class="col-md-6">
                                    <b-form-group label="Kiểu">
                                        <treeselect
                                            :options="TypeOptions"
                                            :disable-branch-nodes="true"
                                            v-model="objRequest.type"
                                            :default-expanded-level="Infinity"
                                            placeholder="Xin mời bạn lựa chọn loại bài viết"
                                        />
                                    </b-form-group>
                                </div>
                            </div>
                        </b-form>
                    </b-card>
                </div>
                <div class="col-md-12">
                    <div class="mt-3">
                        <b-card header="Thông số">
                            <b-form-group label="Chọn danh mục">
                                <treeselect
                                    :multiple="true"
                                    :flat="true"
                                    :options="ZoneOptions"
                                    placeholder="Xin mời bạn lựa chọn danh mục"
                                    @select="getSelectedUser"
                                    v-model="ZoneValues"
                                    :default-expanded-level="Infinity"
                                />
                                <p>{{ZoneValues}}</p>
                            </b-form-group>
                            <b-form-group label="Xin mời bạn chọn sản phẩm">
                                <DualListBox
                                    :source="ProductOptionsSource"
                                    :destination="ProductOptionsDestination"
                                    label="name"
                                    @onChangeList="onChangeList"
                                />
                                <p>{{this.ProductOptionsDestination}}</p>
                            </b-form-group>
                        </b-card>
                        <b-card header="Hình ảnh">
                            <b-form-group>
                                <b-form-file v-model="objRequest.avatar" id="file-field" size="sm"
                                             v-on:change="updatePreview"></b-form-file>
                                <img style="margin-top:10px" :src="preview" class="preview-image img-thumbnail"
                                     v-on:click="openUpload">
                                <p>{{objRequest.avatar}}</p>
                            </b-form-group>
                        </b-card>
                    </div>
                </div>
                </div>
            </b-tab>
            <b-tab title="2. Nhập thông tin ngôn ngữ">
                <div class="row productedit">
                <div class="col-md-12">
                    <b-card class="mt-3" header="Chọn ngôn ngữ">
                        <b-form-group label="Chọn ngôn ngữ">
                            <treeselect
                                :options="LanguageCodes"
                                :disable-branch-nodes="true"
                                @select="getSelectedLanguge"
                                v-model="LanguageValues"
                                :default-expanded-level="Infinity"
                                :disabled="disabled"
                                placeholder="Xin mời bạn lựa chọn ngôn ngữ"
                            />
                            <p>{{LanguageValues}}</p>
                        </b-form-group>
                    </b-card>
                </div>
                <div class="col-md-12">
                    <b-card class="mt-3 " header="Thêm / Sửa bài viết">
                        <loading :active.sync="isLoading"
                                 :height="35"
                                 :width="35"
                                 :color="color"
                                 :is-full-page="fullPage"></loading>

                        <b-form class="form-horizontal">
                            <b-form-group label="Đường dẫn">
                                <b-form-input v-model="objRequest.url" placeholder="Url" required></b-form-input>
                            </b-form-group>

                            <b-form-group label="Tác giả">
                                <b-form-input v-model="objRequest.author" placeholder="Tác giả" required></b-form-input>
                            </b-form-group>
                            <b-form-group label="Nguồn">
                                <b-form-input v-model="objRequest.source" placeholder="Nguồn" required></b-form-input>
                            </b-form-group>
                            <b-form-group label="Tiêu đề" label-for="input-1">
                                <b-form-input id="input-1"
                                              v-model="objRequest.title"
                                              type="text"
                                              required
                                              placeholder="Tiêu đề"></b-form-input>
                            </b-form-group>
                            <b-form-group label="Mô tả">
                                <ckeditor tag-name="textarea" class="col-md-12 form-control" :editor="editor"
                                          v-model="objRequest.description" :config="editorConfig">
                                </ckeditor>
                            </b-form-group>
                            <b-form-group label="Nội dung">
                                <ckeditor tag-name="textarea" class="col-md-12 form-control" :editor="editor"
                                          v-model="objRequest.body" :config="editorConfig">
                                </ckeditor>
                                <!--                                <b-form-textarea rows="5" max-rows="10" v-model="objRequest.body" placeholder="Thân bài viết"-->
                                <!--                                                 required></b-form-textarea>-->
                            </b-form-group>
                        </b-form>
                    </b-card>
                </div>
                <div class="col-md-12">
                    <b-card class="mt-3 " header="SEO Analysis">
                        <b-form class="form-horizontal">
                            <b-form-group label="Tiêu đề SEO">
                                <b-form-input v-model="objRequest.metaTitle" placeholder="Tiêu đề Seo"
                                              required></b-form-input>
                            </b-form-group>
                            <b-form-group label="Mô tả SEO">
                                <b-form-textarea rows="3" max-rows="6" v-model="objRequest.metaDescription"
                                                 placeholder="Mô tả SEO"
                                                 required></b-form-textarea>
                            </b-form-group>
                            <b-form-group label="Từ khóa SEO">
                                <b-form-input v-model="objRequest.metaKeyword" placeholder="Từ khóa SEO"
                                              required></b-form-input>
                            </b-form-group>
                        </b-form>
                    </b-card>
                </div>
                <div class="col-md-12">
                    <b-card class="mt-3 " header=" Social Share">
                        <b-form-group label="Tiêu để  Facebook">
                            <b-form-input v-model="objRequest.socialTitle" placeholder="Tiêu để mạng xã hội"
                                          required></b-form-input>
                        </b-form-group>
                        <b-form-group label="Mô tả Facebook">
                            <b-form-textarea rows="3" max-rows="6" v-model="objRequest.socialDescription"
                                             placeholder="Mô tả xã hội"
                                             required></b-form-textarea>
                        </b-form-group>
                        <b-form-group label="Ảnh Facebook">
                            <b-form-file v-model="objRequest.socialImage" id="file-field" size="sm"
                                         v-on:change="updatePreview"></b-form-file>
                            <img style="margin-top:10px" :src="previewImageFacebook" class="preview-image img-thumbnail"
                                 v-on:click="openUpload">
                            <p>{{objRequest.socialImage}}</p>
                        </b-form-group>
                    </b-card>
                </div>
                <div class="col-md-12">
                    <div class="mt-3">
                        <b-card header="Thông số">
                            <b-form-group label="Số từ">
                                <b-form-input type="number" v-model="objRequest.wordCount" placeholder="Số từ"
                                              required></b-form-input>
                            </b-form-group>
                            <b-form-group label="Lượt thích">
                                <b-form-input type="number" v-model="objRequest.likeCount" placeholder="Lượt thích"
                                              required></b-form-input>
                            </b-form-group>
                            <b-form-group label="Lượt xem">
                                <b-form-input type="number" v-model="objRequest.viewCount" placeholder="Lượt thích"
                                              required></b-form-input>
                            </b-form-group>
                            <b-form-group label="Số lượng vote">
                                <b-form-input type="number" v-model="objRequest.voteCount" placeholder="Số lượng vote"
                                              required></b-form-input>
                            </b-form-group>
                            <b-form-group>
                                <b-form-checkbox v-model="objRequest.isAllowComment">
                                    Cho phép comment
                                </b-form-checkbox>
                            </b-form-group>
                        </b-card>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mt-3">
                        <b-card header="Đăng bài">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-info btn-submit-form col-md-12 btncus" type="submit"
                                            @click="DoAddEditLang()">
                                        <i class="fa fa-save"></i> Cập nhật
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-success col-md-12 btncus" type="button" @click="DoRefesh()">
                                        <i class="fa fa-refresh"></i> Làm mới
                                    </button>
                                </div>
                            </div>
                        </b-card>
                    </div>
                </div>
                </div>
            </b-tab>
        </b-tabs>


<!--        <tabs :options="{ useUrlFragment: false }" @clicked="tabClicked" @changed="tabChanged">-->
<!--            <tab name="Nhập thông tin bài viết">-->
<!--                <div class="col-md-12">-->
<!--                    <b-card class="mt-3 " header="Thêm / Sửa bài viết">-->
<!--                        <loading :active.sync="isLoading"-->
<!--                                 :height="35"-->
<!--                                 :width="35"-->
<!--                                 :color="color"-->
<!--                                 :is-full-page="fullPage"></loading>-->
<!--                        <b-form class="form-horizontal">-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-6">-->
<!--                                    <b-form-group label="Trạng thái">-->
<!--                                        <treeselect-->
<!--                                            :options="StatusOptions"-->
<!--                                            :disable-branch-nodes="true"-->
<!--                                            v-model="objRequest.status"-->
<!--                                            :default-expanded-level="Infinity"-->
<!--                                            placeholder="Xin mời bạn lựa chọn trạng thái"-->
<!--                                        />-->
<!--                                    </b-form-group>-->
<!--                                </div>-->
<!--                                <div class="col-md-6">-->
<!--                                    <b-form-group label="Kiểu">-->
<!--                                        <treeselect-->
<!--                                            :options="TypeOptions"-->
<!--                                            :disable-branch-nodes="true"-->
<!--                                            v-model="objRequest.type"-->
<!--                                            :default-expanded-level="Infinity"-->
<!--                                            placeholder="Xin mời bạn lựa chọn loại bài viết"-->
<!--                                        />-->
<!--                                    </b-form-group>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </b-form>-->
<!--                    </b-card>-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                    <div class="mt-3">-->
<!--                        <b-card header="Thông số">-->
<!--                            <b-form-group label="Chọn danh mục">-->
<!--                                <treeselect-->
<!--                                    :multiple="true"-->
<!--                                    :flat="true"-->
<!--                                    :options="ZoneOptions"-->
<!--                                    placeholder="Xin mời bạn lựa chọn danh mục"-->
<!--                                    @select="getSelectedUser"-->
<!--                                    v-model="ZoneValues"-->
<!--                                    :default-expanded-level="Infinity"-->
<!--                                />-->
<!--                                <p>{{ZoneValues}}</p>-->
<!--                            </b-form-group>-->
<!--                            <b-form-group label="Xin mời bạn chọn sản phẩm">-->
<!--                                <DualListBox-->
<!--                                    :source="ProductOptionsSource"-->
<!--                                    :destination="ProductOptionsDestination"-->
<!--                                    label="name"-->
<!--                                    @onChangeList="onChangeList"-->
<!--                                />-->
<!--                                <p>{{this.ProductOptionsDestination}}</p>-->
<!--                            </b-form-group>-->
<!--                        </b-card>-->
<!--                        <b-card header="Hình ảnh">-->
<!--                            <b-form-group>-->
<!--                                <b-form-file v-model="objRequest.avatar" id="file-field" size="sm"-->
<!--                                             v-on:change="updatePreview"></b-form-file>-->
<!--                                <img style="margin-top:10px" :src="preview" class="preview-image img-thumbnail"-->
<!--                                     v-on:click="openUpload">-->
<!--                                <p>{{objRequest.avatar}}</p>-->
<!--                            </b-form-group>-->
<!--                        </b-card>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </tab>-->
<!--            <tab name="Nhập thông tin ngôn ngữ">-->
<!--                <div class="col-md-12">-->
<!--                    <b-card class="mt-3" header="Chọn ngôn ngữ">-->
<!--                        <b-form-group label="Chọn ngôn ngữ">-->
<!--                            <treeselect-->
<!--                                :options="LanguageCodes"-->
<!--                                :disable-branch-nodes="true"-->
<!--                                @select="getSelectedLanguge"-->
<!--                                v-model="LanguageValues"-->
<!--                                :default-expanded-level="Infinity"-->
<!--                                :disabled="disabled"-->
<!--                                placeholder="Xin mời bạn lựa chọn ngôn ngữ"-->
<!--                            />-->
<!--                            <p>{{LanguageValues}}</p>-->
<!--                        </b-form-group>-->
<!--                    </b-card>-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                    <b-card class="mt-3 " header="Thêm / Sửa bài viết">-->
<!--                        <loading :active.sync="isLoading"-->
<!--                                 :height="35"-->
<!--                                 :width="35"-->
<!--                                 :color="color"-->
<!--                                 :is-full-page="fullPage"></loading>-->

<!--                        <b-form class="form-horizontal">-->
<!--                            <b-form-group label="Đường dẫn">-->
<!--                                <b-form-input v-model="objRequest.url" placeholder="Url" required></b-form-input>-->
<!--                            </b-form-group>-->

<!--                            <b-form-group label="Tác giả">-->
<!--                                <b-form-input v-model="objRequest.author" placeholder="Tác giả" required></b-form-input>-->
<!--                            </b-form-group>-->
<!--                            <b-form-group label="Nguồn">-->
<!--                                <b-form-input v-model="objRequest.source" placeholder="Nguồn" required></b-form-input>-->
<!--                            </b-form-group>-->
<!--                            <b-form-group label="Tiêu đề" label-for="input-1">-->
<!--                                <b-form-input id="input-1"-->
<!--                                              v-model="objRequest.title"-->
<!--                                              type="text"-->
<!--                                              required-->
<!--                                              placeholder="Tiêu đề"></b-form-input>-->
<!--                            </b-form-group>-->
<!--                            <b-form-group label="Mô tả">-->
<!--                                <ckeditor tag-name="textarea" class="col-md-12 form-control" :editor="editor"-->
<!--                                          v-model="objRequest.description" :config="editorConfig">-->
<!--                                </ckeditor>-->
<!--                            </b-form-group>-->
<!--                            <b-form-group label="Nội dung">-->
<!--                                <ckeditor tag-name="textarea" class="col-md-12 form-control" :editor="editor"-->
<!--                                          v-model="objRequest.body" :config="editorConfig">-->
<!--                                </ckeditor>-->
<!--                                &lt;!&ndash;                                <b-form-textarea rows="5" max-rows="10" v-model="objRequest.body" placeholder="Thân bài viết"&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                 required></b-form-textarea>&ndash;&gt;-->
<!--                            </b-form-group>-->
<!--                        </b-form>-->
<!--                    </b-card>-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                    <b-card class="mt-3 " header="SEO Analysis">-->
<!--                        <b-form class="form-horizontal">-->
<!--                            <b-form-group label="Tiêu đề SEO">-->
<!--                                <b-form-input v-model="objRequest.metaTitle" placeholder="Tiêu đề Seo"-->
<!--                                              required></b-form-input>-->
<!--                            </b-form-group>-->
<!--                            <b-form-group label="Mô tả SEO">-->
<!--                                <b-form-textarea rows="3" max-rows="6" v-model="objRequest.metaDescription"-->
<!--                                                 placeholder="Mô tả SEO"-->
<!--                                                 required></b-form-textarea>-->
<!--                            </b-form-group>-->
<!--                            <b-form-group label="Từ khóa SEO">-->
<!--                                <b-form-input v-model="objRequest.metaKeyword" placeholder="Từ khóa SEO"-->
<!--                                              required></b-form-input>-->
<!--                            </b-form-group>-->
<!--                        </b-form>-->
<!--                    </b-card>-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                    <b-card class="mt-3 " header=" Social Share">-->
<!--                        <b-form-group label="Tiêu để  Facebook">-->
<!--                            <b-form-input v-model="objRequest.socialTitle" placeholder="Tiêu để mạng xã hội"-->
<!--                                          required></b-form-input>-->
<!--                        </b-form-group>-->
<!--                        <b-form-group label="Mô tả Facebook">-->
<!--                            <b-form-textarea rows="3" max-rows="6" v-model="objRequest.socialDescription"-->
<!--                                             placeholder="Mô tả xã hội"-->
<!--                                             required></b-form-textarea>-->
<!--                        </b-form-group>-->
<!--                        <b-form-group label="Ảnh Facebook">-->
<!--                                <b-form-file v-model="objRequest.socialImage" id="file-field" size="sm"-->
<!--                                             v-on:change="updatePreview"></b-form-file>-->
<!--                                <img style="margin-top:10px" :src="previewImageFacebook" class="preview-image img-thumbnail"-->
<!--                                     v-on:click="openUpload">-->
<!--                                <p>{{objRequest.socialImage}}</p>-->
<!--                        </b-form-group>-->
<!--                    </b-card>-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                    <div class="mt-3">-->
<!--                        <b-card header="Thông số">-->
<!--                            <b-form-group label="Số từ">-->
<!--                                <b-form-input type="number" v-model="objRequest.wordCount" placeholder="Số từ"-->
<!--                                              required></b-form-input>-->
<!--                            </b-form-group>-->
<!--                            <b-form-group label="Lượt thích">-->
<!--                                <b-form-input type="number" v-model="objRequest.likeCount" placeholder="Lượt thích"-->
<!--                                              required></b-form-input>-->
<!--                            </b-form-group>-->
<!--                            <b-form-group label="Lượt xem">-->
<!--                                <b-form-input type="number" v-model="objRequest.viewCount" placeholder="Lượt thích"-->
<!--                                              required></b-form-input>-->
<!--                            </b-form-group>-->
<!--                            <b-form-group label="Số lượng vote">-->
<!--                                <b-form-input type="number" v-model="objRequest.voteCount" placeholder="Số lượng vote"-->
<!--                                              required></b-form-input>-->
<!--                            </b-form-group>-->
<!--                            <b-form-group>-->
<!--                                <b-form-checkbox v-model="objRequest.isAllowComment">-->
<!--                                    Cho phép comment-->
<!--                                </b-form-checkbox>-->
<!--                            </b-form-group>-->
<!--                        </b-card>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                    <div class="mt-3">-->
<!--                        <b-card header="Đăng bài">-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-6">-->
<!--                                    <button class="btn btn-info btn-submit-form col-md-12 btncus" type="submit"-->
<!--                                            @click="DoAddEdit()">-->
<!--                                        <i class="fa fa-save"></i> Cập nhật-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="col-md-6">-->
<!--                                    <button class="btn btn-success col-md-12 btncus" type="button" @click="DoRefesh()">-->
<!--                                        <i class="fa fa-refresh"></i> Làm mới-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </b-card>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </tab>-->
<!--        </tabs>-->

    </div>


</template>


<script>
    import axios from 'axios';
    import "vue-loading-overlay/dist/vue-loading.css";
    import msgNotify from "./../../common/constant";
    import {mapGetters, mapActions} from "vuex";
    import Loading from "vue-loading-overlay";
    // import the component
    import Treeselect from '@riophae/vue-treeselect'
    // import the styles
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'
    import 'vue-multiselect-listbox/dist/vue-multi-select-listbox.css'
    import 'vue-select/dist/vue-select.css';
    // import 'vue-tabs-component/docs/resources/tabs-component.css'
    import DualListBox from "./DualListBox";
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    // import {Tabs, Tab} from 'vue-tabs-component';

    // Import component

    export default {
        name: "articleaddedit",
        data() {
            return {
                editor: ClassicEditor,
                editorData: '<p>Content of the editor.</p>',
                editorConfig: {
                    // The configuration of the editor.
                },
                disabled: false,
                selectedFile: null,
                preview: '/assets/img/unnamed.jpg',
                previewImageFacebook: '/assets/img/unnamed.jpg',
                isLoading: false,
                fullPage: false,
                color: "#007bff",
                objRequest: {
                    Id: 0
                },
                LanguageCodes: [],
                LanguageValues: null,
                Manufacturers: [],
                ZoneValues: [],
                ZoneOptions: [],
                ProductOptionsSource: [],
                ProductOptionsDestination: [],
                ProductSelectedStateOption: [],
                ProductIdSelected: "",
                ZoneArticleIdSelected: "",
                ListArticleInLanguage: [],
                StatusOptions: [],
                TypeOptions:[],
            };
        },
        created() {
            axios.get('http://localhost:60613/api/Article/GetZoneArticle').then(response => {
                this.ZoneOptions = response.data;
                console.log(response)
            }).catch(e => {
                console.log(e)
            });
            axios.get('http://localhost:60613/api/Article/GetProductAtArticle').then(response => {
                this.ProductOptionsSource = response.data;
            }).catch(e => {
                console.log(e)
            });

            axios.get('http://localhost:60613/api/Common/GetAllLanguageOptions').then(response => {
                this.LanguageCodes = response.data;
                console.log(response.data)
            }).catch(e => {
                console.log(e)
            });
            axios.get('http://localhost:60613/api/Common/GetAllStatusOptions').then(response => {
                this.StatusOptions = response.data;
                console.log(response)
            }).catch(e => {
                console.log(e)
            });
            axios.get('http://localhost:60613/api/Common/GetAllTypeOptions').then(response => {
                this.TypeOptions = response.data;
                console.log(response)
            }).catch(e => {
                console.log(e)
            });

            if (this.$route.params.id > 0) {
                var id = this.$route.params.id;
                console.log(id);
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                axios.get(`http://localhost:60613/api/Article/GetById?id=${id}`).then(response => {
                    console.log(response.data.data.articles.avatar);
                    console.log(response.data.data.articleInLanguageViewModels);
                    this.objRequest.status = response.data.data.articles.status;
                    this.objRequest.type = response.data.data.articles.type;
                    this.objRequest.isAllowComment = response.data.data.articles.isAllowComment;
                    this.ProductOptionsDestination = response.data.data.productAtArticles;
                    this.ZoneValues = Object.values(response.data.data.listZoneIds);
                    this.objRequest.Id = response.data.data.articles.id;
                    if (response.data.data.articles.avatar != null && response.data.data.articles.avatar != "") {
                        this.preview = response.data.data.articles.avatar;
                    }
                    var listArticleInLanguage = response.data.data.articleInLanguageViewModels;
                    this.ListArticleInLanguage = listArticleInLanguage;
                    for (var i = 0; i < listArticleInLanguage.length; i++) {
                        this.LanguageValues=listArticleInLanguage[0].languageCode;
                        this.objRequest.url = listArticleInLanguage[0].url;
                        this.objRequest.author = listArticleInLanguage[0].author;
                        this.objRequest.source = listArticleInLanguage[0].source;
                        this.objRequest.title = listArticleInLanguage[0].title;
                        this.objRequest.description = listArticleInLanguage[0].description;
                        this.objRequest.body = listArticleInLanguage[0].body;
                        this.objRequest.metaTitle = listArticleInLanguage[0].metaTitle;
                        this.objRequest.metaDescription = listArticleInLanguage[0].metaDescription;
                        this.objRequest.metaKeyword = listArticleInLanguage[0].metaKeyword;
                        this.objRequest.socialTitle = listArticleInLanguage[0].socialTitle;
                        this.objRequest.socialDescription = listArticleInLanguage[0].socialDescription;
                        this.objRequest.socialImage = listArticleInLanguage[0].socialImage;
                        this.previewImageFacebook = listArticleInLanguage[0].socialImage;
                        this.objRequest.wordCount = listArticleInLanguage[0].wordCount;
                        this.objRequest.likeCount = listArticleInLanguage[0].likeCount;
                        this.objRequest.viewCount = listArticleInLanguage[0].viewCount;
                        this.objRequest.voteCount = listArticleInLanguage[0].voteCount;
                        this.objRequest.LanguageCode = listArticleInLanguage[0].languageCode;
                    }
                    console.log();

                }).catch(e => {
                    console.log(e)
                });
                this.isLoading = false;
            }
        },
        components: {
            Loading,
            Treeselect,
            DualListBox
        },

        mounted() {
        },

        computed: {
            ...mapGetters(["article", "isOR", "fileName"])
        },
        watch: {
            article: function (val) {
                this.objRequest = this.article
            }
        },
        methods: {
            ...mapActions(["updateArticle", "addArticle", "getArticle", "uploadFile"]),
            tabClicked(selectedTab) {
                console.log('Current tab re-clicked:' + selectedTab.tab.name);
            },
            tabChanged(selectedTab) {
                console.log('Tab changed to:' + selectedTab.tab.name);
            },
            DoAddEdit() {
                console.log(this.ZoneValues.toString());
                var result = Array.prototype.map.call(this.ProductOptionsDestination, function (item) {
                    return item.id;
                }).join(",");
                console.log(result);
                this.objRequest.ZoneIds = this.ZoneValues.toString();
                this.objRequest.ProductIds = result;
                this.isLoading = true;
                if (this.objRequest.Id > 0) {
                    this.updateArticle(this.objRequest)
                        .then(response => {
                            console.log(response);
                            if (response.success == true) {
                                this.$toast.success("cập nhật thành công", {});
                                this.isLoading = false;
                                this.$router.go(-1)
                            } else {
                                this.$router.go(-1);
                                this.$toast.error("cập nhật thất bại", {});
                                this.isLoading = false;
                            }
                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                } else {
                    this.addArticle(this.objRequest)
                        .then(response => {
                            if (response.success == true) {
                                this.$toast.success("đăng bài thành công", {});
                                this.isLoading = false;
                                this.$router.go(-1)
                            } else {
                                this.$router.go(-1);
                                this.$toast.error("cập nhật thất bại", {});
                                this.isLoading = false;
                            }
                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                }
            },
            DoRefesh() {
                this.objRequest.Title = ""
            },
            openUpload() {
                document.getElementById('file-field').click()
            },
            updatePreview(e) {
                var reader, files = e.target.files;
                if (files.length === 0) {
                    console.log('Empty')
                }
                this.selectedFile = files[0];
                reader = new FileReader();
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                this.uploadFile(data).then(response => {
                    if (response.success == true) {
                        reader.onload = (e) => {
                            this.preview = e.target.result;
                            console.log(this.selectedFile);
                            this.objRequest.avatar = response.linkImage;
                        };
                        reader.readAsDataURL(files[0])
                    } else {
                        this.$toast.error(msgNotify.error + ". Error:" + e, {});
                        this.isLoading = false;
                    }
                }).catch(e => {
                    this.$toast.error(msgNotify.error + ". Error:" + e, {});
                    this.isLoading = false;
                });
            },
            getSelectedUser(node, id) {
                this.objRequest.ZoneId = node.id;
            },
            getSelectedLanguge(node, id) {
                this.LanguageValues = node.id;
                this.objRequest.LanguageCode = node.id;
                if (this.ListArticleInLanguage!=null){
                    for (var i = 0; i < this.ListArticleInLanguage.length; i++) {
                        if (node.id == this.ListArticleInLanguage[i].languageCode) {
                            this.objRequest.url = this.ListArticleInLanguage[i].url;
                            this.objRequest.author = this.ListArticleInLanguage[i].author;
                            this.objRequest.source = this.ListArticleInLanguage[i].source;
                            this.objRequest.title = this.ListArticleInLanguage[i].title;
                            this.objRequest.description = this.ListArticleInLanguage[i].description;
                            this.objRequest.body = this.ListArticleInLanguage[i].body;
                            this.objRequest.metaTitle = this.ListArticleInLanguage[i].metaTitle;
                            this.objRequest.metaDescription = this.ListArticleInLanguage[i].metaDescription;
                            this.objRequest.metaKeyword = this.ListArticleInLanguage[i].metaKeyword;
                            this.objRequest.socialTitle = this.ListArticleInLanguage[i].socialTitle;
                            this.objRequest.socialDescription = this.ListArticleInLanguage[i].socialDescription;
                            this.objRequest.socialImage = this.ListArticleInLanguage[i].socialImage;
                            this.objRequest.wordCount = this.ListArticleInLanguage[i].wordCount;
                            this.objRequest.likeCount = this.ListArticleInLanguage[i].likeCount;
                            this.objRequest.viewCount = this.ListArticleInLanguage[i].viewCount;
                            this.objRequest.voteCount = this.ListArticleInLanguage[i].voteCount;
                            this.objRequest.LanguageCode = this.ListArticleInLanguage[i].languageCode;
                        }
                        else{
                            this.objRequest.url = "";
                            this.objRequest.author = "";
                            this.objRequest.source = "";
                            this.objRequest.title = "";
                            this.objRequest.description = "";
                            this.objRequest.body = "";
                            this.objRequest.metaTitle = "";
                            this.objRequest.metaDescription = "";
                            this.objRequest.metaKeyword = "";
                            this.objRequest.socialTitle = "";
                            this.objRequest.socialDescription = "";
                            this.objRequest.socialImage = "";
                            this.objRequest.wordCount = "";
                            this.objRequest.likeCount = "";
                            this.objRequest.viewCount = "";
                            this.objRequest.voteCount = "";
                            this.objRequest.LanguageCode =node.id;
                        }
                    }
                }
                console.log(this.LanguageValues)
            },
            onChangeList: function ({source, destination}) {
                this.ProductOptionsSource = source;
                this.ProductOptionsDestination = destination;
            }
        }
    };
</script>
