<template>
    <div class="list-data">
        <b-card header-tag="header" class="card-filter" footer-tag="footer">
            <div>
                <b-col md="12">
                    <b-row class="form-group">
                        <b-col md="4">
                            <b-form-input type="text" v-model="searchTitle" v-on:keyup.enter="onChangePaging()"
                                          placeholder="Tìm kiếm theo tên"></b-form-input>
                        </b-col>
                        <b-col md="2">
                            <b-btn v-b-toggle.collapse1 variant="primary">
                                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                            </b-btn>
                        </b-col>
                        <b-col md="2">
                            <b-button variant="outline-primary" @click="this.onChangePaging">Tìm kiếm</b-button>
                        </b-col>
                    </b-row>
                </b-col>
                <b-collapse id="collapse1" class="mt-2">
                    <b-card>
                        <div class="row">
                            <b-col md="4">
                                <treeselect
                                    :options="StatusOptions"
                                    :disable-branch-nodes="true"
                                    v-model="searchStatus"
                                    :default-expanded-level="Infinity"
                                    placeholder="Xin mời bạn lựa chọn trạng thái"
                                />
                            </b-col>
                            <b-col md="4">
                                <treeselect
                                    :options="TypeOptions"
                                    :disable-branch-nodes="true"
                                    v-model="searchType"
                                    :default-expanded-level="Infinity"
                                    placeholder="Xin mời bạn lựa chọn loại bài viết"
                                />
                            </b-col>
                            <b-col md="4">
                                <treeselect
                                    :multiple="true"
                                    :flat="true"
                                    :options="ZoneOptions"
                                    placeholder="Xin mời bạn lựa chọn danh mục"
                                    v-model="ZoneValues"
                                    :default-expanded-level="Infinity"
                                />
                            </b-col>
                        </div>
                    </b-card>
                </b-collapse>
            </div>
        </b-card>
        <b-card>
        </b-card>
        <b-card>
            <div role="toolbar" aria-label="Toolbar with button groups and dropdown menu" class="mb-2">
                <div role="group" class="mx-1 btn-group">
                    <router-link :to="{ path: 'add' }">
                        <b-button class="btn btn-success" v-b-tooltip.hover title="Thêm mới bài viết">
                            <i class="fa fa-plus"></i> Thêm mới
                        </b-button>
                    </router-link>
                </div>
                <div class="mx-1 btn-group mi-paging">
                    <b-pagination class="pagination b-pagination pagination-md" v-model="currentPage"
                                  :total-rows="totalArticles"
                                  :per-page="pageSize"></b-pagination>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-centered table-nowrap">
                    <thead class="thead-dark table table-centered table-nowrap">
                    <tr>
                        <th v-for="field in fields"
                            @click="field.sortable ? sortor(field.key) : null"
                            class="text-center"
                            style="max-width:150px"
                            scope="col">{{field.label}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in articless">
                        <td class="text-center" scope="row">{{item.id}}</td>
                        <td class="text-center">{{item.title}}</td>
                        <td class="text-center">{{item.status}}</td>
                        <td class="text-center">{{item.createdDate}}</td>
                        <td class="text-center">
                            <router-link :to="{path: 'edit/'+item.id}">
                                <b-button class="btn btn-warning" v-b-tooltip.hover title="Sửa bài viết">
                                    <i class="fa fa-edit"></i>
                                </b-button>
                            </router-link>
                            <b-button class="btn btn-xs btn-danger" v-b-tooltip.hover title="Hạ bài viết"
                                      @click="remove(item)">
                                <i class="fa fa-trash-o"></i>
                            </b-button>
                            <b-button class="btn btn-xs btn-danger" v-b-tooltip.hover title="Đăng bài viết"
                                      @click="remove(item)">
                                <i class="fa fa-newspaper-o"></i>
                            </b-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </b-card>

    </div>
</template>
<script>
    import "vue-loading-overlay/dist/vue-loading.css";
    import msgNotify from "./../../common/constant";
    import {mapGetters, mapActions} from "vuex";
    import Loading from "vue-loading-overlay";
    import axios from 'axios';
    import Treeselect from '@riophae/vue-treeselect'
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'

    const fields = [
        {key: "Id", label: "Id"},
        {key: "Title", label: "Tiêu đề", sortable: true},
        {key: "Status", label: "Trạng thái"},
        {key: "CreatedDate", label: "Thời gian tạo"},
        {key: "Action", label: "Thao tác"}
    ];
    export default {
        name: "Articles",
        components: {
            Loading
        },
        data() {
            return {
                isLoading: false,
                fields,
                searchTitle: "",
                searchStatus: 0,
                searchType: 0,
                StatusOptions: [],
                TypeOptions:[],
                ZoneValues: [],
                ZoneOptions: [],
                _Articles: {
                    Id: 0,
                    Title: "",
                    Description: "",
                    Body: "",
                    Avatar: "",
                    Author: "",
                    Status: "",
                    Source: "",
                    Type: 0,
                    CreatedDate: "",
                    LastModifiedDate: "",
                    DistributionDate: "",
                    CreatedBy: "",
                    LastModifiedBy: "",
                    PublishedBy: "",
                    WordCount: "",
                    ViewCount: "",
                    LikeCount: 0,
                    VoteCount: 0,
                    IsAllowComment: false,
                    Url: "",
                    SocialTitle: "",
                    SocialDescription: "",
                    SocialImage: "",
                    LanguageCode: "",
                    ZoneId: 0,
                    Zones: []
                },
                messager: "",
                currentSort: "Id",
                currrentSortDir: "asc",
                currentPage: 1,
                pageSize: 10,
                loading: true,
                bootstrapPaginationClasses: {
                    ul: "pagination",
                    li: "page-item",
                    liActive: "active",
                    liDisable: "disabled",
                    button: "page-link"
                },
                customLabels: {
                    first: "First",
                    prev: "Previous",
                    next: "Next",
                    last: "Last"
                }
            };
        },
        methods: {
            ...mapActions(["getArticle", "getPageArticle", "deleteArticle"]),
            onChangePaging() {
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getPageArticle({
                    initial: initial,
                    pageIndex: this.currentPage,
                    pageSize: this.pageSize,
                    status: this.searchStatus,
                    title: this.searchTitle,
                    type: this.searchType,
                    zoneIds:this.ZoneValues
                });
                this.isLoading = false;
            },
            remove(item) {
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                if (confirm("Bạn có thực sự muốn xoá?")) {
                    this.deleteArticle(item)
                        .then(response => {
                            if (response.success == true) {
                                this.$toast.success(response.message, {});
                                this.isLoading = false;
                                this.onChangePaging();
                            } else {
                                this.$toast.success(response.message, {});
                                this.isLoading = false;
                            }
                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                        })
                }

            },

        },
        watch: {
            currentPage: function (val) {
                this.onChangePaging();
            }
        },
        computed: {
            ...mapGetters(["articless", "totalArticles"])
        },
        created() {
            axios.get('http://localhost:60613/api/Article/GetZoneArticle').then(response => {
                this.ZoneOptions = response.data;
                console.log(response)
            }).catch(e => {
                console.log(e)
            });
            axios.get('http://localhost:60613/api/Common/GetAllStatusOptions').then(response => {
                this.StatusOptions = response.data;
                console.log(response)
            }).catch(e => {
                console.log(e)
            });
            axios.get('http://localhost:60613/api/Common/GetAllTypeOptions').then(response => {
                this.TypeOptions = response.data;
                console.log(response)
            }).catch(e => {
                console.log(e)
            });
            this.onChangePaging();
        },
        components: {
            Treeselect
        }

    }
</script>
