<template>
    <div class="productadd">
        <loading :active.sync="isLoading"
                 :height="35"
                 :width="35"
                 :color="color"
                 :is-full-page="fullPage"></loading>
        <div class="row productedit">
            <div class="col-sm-6 col-md-8">
                <div class="card">
                    <div class="card-header">
                        Thông tin chính
                    </div>
                    <div class="card-body">
                        <b-form class="form-horizontal">
                            <b-form-group label="Tên khuyến mãi">
                                <b-form-input v-model="objRequest.code" placeholder="Mã sản phẩm" required></b-form-input>
                            </b-form-group>
                            <b-form-group label="Loại">
                                <b-form-input v-model="objRequest.url" placeholder="Đường dẫn" required></b-form-input>
                            </b-form-group>
                            <b-form-group label="Số tiền">
                                <b-form-input v-model="objRequest.url" placeholder="Đường dẫn" required></b-form-input>
                            </b-form-group>
                        </b-form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-header">
                        Thao tác
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-info btn-submit-form col-md-12 btncus" type="submit" @click="DoAddEdit()">
                                    <i class="fa fa-save"></i> Cập nhật
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success col-md-12 btncus" type="button" @click="DoRefesh()">
                                    <i class="fa fa-refresh"></i> Làm mới
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>


<script>
    import "vue-loading-overlay/dist/vue-loading.css";
    import msgNotify from "../../common/constant";
    import { mapGetters, mapActions } from "vuex";
    import Loading from "vue-loading-overlay";

    export default {
        name: "productaddedit",
        data() {
            return {
                isLoading: false,
                fullPage: false,
                color: "#007bff",
                currentSort: "Id",
                currentSortDir: "asc",
                loading: true,
                selected: [],
                objLocations: {
                    locationId: 0,
                },
                objCombo: {
                    name: ''
                },
                Locations: [],
                editorConfig: {
                },
                objRequest: {

                },
                objRequestDetail: {

                },
                objRequestDetails: [

                ],
                ListTags: [],
                Tags: [

                ],
                Languages: [],
                ManufacturerIds: [

                ],
                ZoneOptions: [

                ],
                ZoneValues: [],
                ProductUnit: []
            };
        },
        created: {},
        components: {
            Loading
        },
        mounted() {
            if (this.$route.params.id > 0) {
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getProduct(this.$route.params.id).then(respose => {
                    this.objRequest = respose.data;
                    this.objRequestDetails = respose.data.productInLanguage;
                    if (respose.data.productInLanguage != null) {
                        this.objRequestDetails = respose.data.productInLanguage;
                        if (this.objRequestDetails != null && this.objRequestDetails.length > 0) {
                            this.objRequestDetail = this.objRequestDetails[0];
                        }
                    }
                    this.langSelected = this.objRequestDetail.languageCode;
                });
                this.isLoading = false;
            }
            this.onChangePaging();
        },

        computed: {
            ...mapGetters(["product", "fileName"]),
        },

        methods: {
            ...mapActions(["updateProduct",
                "addProduct",
                "getProduct",
                "uploadFile",
                "getAllManufacturers",
                "getTagAll",
                "getAllLanguages",
                "addProductInLanguage",
                "addProductInLocation",
                "getAllZone",
                "deleteProduct",
                "productUnitGet"
            ]),
            onChangePaging() {
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getAllZone({
                    tuKhoa: "",
                    languageCode: "vi-VN",
                    type: 0,
                    status: 0,
                }).then(respose => {
                    var data = respose.listData;
                    this.ZoneOptions = data.map(function (value) {
                        var obj = {};
                        obj.id = value.id;
                        obj.label = value.name;
                        obj.parentId = value.parentId;
                        return obj;
                    });
                    this.ZoneOptions.push({ id: 0, label: "Chọn danh mục cha", parentId: 0 });

                });
                this.isLoading = false;
            },
            DoAddEdit() {
                this.isLoading = true;
                if (this.objRequest.id > 0) {
                    this.updateProduct(this.objRequest)
                        .then(response => {
                            if (response.success == true) {
                                this.$toast.success(response.message, {});
                                this.isLoading = false;
                            }
                            else {
                                this.$toast.error(response.message, {});
                                this.isLoading = false;
                            }

                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                } else {
                    let objProduct = {};
                    objProduct = this.objRequest;
                    //let tagsData = [];
                    //let lstTags = this.ListTags;
                    //for (let i = 0; i < lstTags.length; i++) {
                    //    let datatag = {};
                    //    datatag.TagId = lstTags[i].id;
                    //    datatag.TagMode = 0;
                    //    tagsData.push(datatag);
                    //}
                    //objProduct.TagInProduct = tagsData;
                    this.addProduct(objProduct)
                        .then(response => {
                            if (response.success == true) {
                                this.$toast.success(response.message, {});
                                this.objRequest.id = response.data.productID;
                                this.objRequestDetail.ProductId = response.data.productID;
                                this.$router.push({
                                    path: "/product/edit/" + response.data.productID,
                                });
                                this.isLoading = false;
                            }
                            else {
                                this.$toast.error(response.message, {});
                                this.isLoading = false;
                            }
                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                }
            },
            getSelectedUser(node, id) {
                this.objRequest.ZoneId = node.id;
            },
            onChangeSelectd() {

                if (this.objRequestDetails != null && this.objRequestDetails.length > 0) {
                    debugger;
                    let lang = this.langSelected || "vi-VN     ";
                    let lstObjLang = this.objRequestDetails.filter(function (item) {
                        return item.languageCode.trim() === lang.trim()
                    });
                    if (lstObjLang != null && lstObjLang != undefined && lstObjLang.length > 0) {
                        this.objRequestDetail = lstObjLang[0];
                    } else {
                        this.objRequestDetail = {};
                        this.objRequestDetail.languageCode = lang;
                    }
                }
            },
            AddPriceOfProductInLocation() {
                this.isLoading = true;
                this.objLocations.Price = this.objRequest.price;
                this.objLocations.SalePrice = this.objRequest.discountPrice;
                this.objLocations.ProductId = this.objRequest.id;
                this.addProductInLocation(this.objLocations)
                    .then(response => {
                        if (response.success == true) {
                            this.$toast.success(response.message, {});
                            this.isLoading = false;
                        }
                        else {
                            this.$toast.error(response.message, {});
                            this.isLoading = false;
                        }
                    })
                    .catch(e => {
                        this.$toast.error(msgNotify.error + ". Error:" + e, {});
                        this.isLoading = false;
                    });
            },
            DoAddDetail() {
                this.objRequestDetail.productId = this.objRequest.id;
                this.addProductInLanguage(this.objRequestDetail)
                    .then(response => {
                        if (response.success == true) {
                            this.$toast.success(response.message, {});
                        }
                        else {
                            this.$toast.error(response.message, {});
                        }
                    })
                    .catch(e => {
                        this.$toast.error(msgNotify.error + ". Error:" + e, {});
                        this.isLoading = false;
                    });
            },
            unflatten: function (arr) {
                var tree = [],
                    mappedArr = {},
                    arrElem,
                    mappedElem;

                // First map the nodes of the array to an object -> create a hash table.
                for (var i = 0, len = arr.length; i < len; i++) {
                    arrElem = arr[i];
                    mappedArr[arrElem.id] = arrElem;
                    mappedArr[arrElem.id]['children'] = [];
                }
                for (var id in mappedArr) {
                    if (mappedArr.hasOwnProperty(id)) {
                        mappedElem = mappedArr[id];
                        // If the element is not at the root level, add it to its parent array of children.
                        if (mappedElem.parentId) {
                            try {
                                mappedArr[mappedElem['parentId']]['children'].push(mappedElem);
                            }
                            catch (ex) {
                                console.log(ex);
                            }
                        }
                        // If the element is at the root level, add it to first level elements array.
                        else {
                            tree.push(mappedElem);
                        }
                    }
                }
                return tree;
            },
            openUpload() {
                document.getElementById('file-field').click()
            },
            updatePreview(e) {
                let reader, files = e.target.files
                if (files.length === 0) {
                    console.log('Empty')
                }
                this.selectedFile = files[0];
                reader = new FileReader();
                let data = new FormData();
                for (let x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                this.uploadFile(data).then(response => {
                    if (response.Success == true) {
                        reader.onload = (e) => {
                            this.preview = e.target.result;
                            this.objRequest.Avatar = response.data[0].name;
                            console.log(this.selectedFile);
                        }
                        reader.readAsDataURL(files[0])
                    }
                    else {
                        this.$toast.error(msgNotify.error + ". Error:" + e, {});
                        this.isLoading = false;
                    }
                }).catch(e => {
                    this.$toast.error(msgNotify.error + ". Error:" + e, {});
                    this.isLoading = false;
                });

            },
            openUploads() {
                document.getElementById('files-field').click()
            },
            updatePreviews(e) {
                let reader, files = e.target.files
                if (files.length === 0) {
                    console.log('Empty')
                }
                this.selectedFile = files[0];
                reader = new FileReader();
                let data = new FormData();
                for (let x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                this.uploadFile(data).then(response => {
                    if (response.Success == true) {
                        reader.onload = (e) => {
                            this.previews = e.target.result;
                            this.objRequest.AvatarArray = response.data[0].name;
                            console.log(this.selectedFile);
                        }
                        reader.readAsDataURL(files[0])
                    }
                    else {
                        this.$toast.error(msgNotify.error + ". Error:" + e, {});
                        this.isLoading = false;
                    }
                }).catch(e => {
                    this.$toast.error(msgNotify.error + ". Error:" + e, {});
                    this.isLoading = false;
                });
            }
        }
    };
</script>
<style>
</style>
