<template>
    <div class="row" style="display:flex;width:100%">
        
        <loading :active.sync="isLoading"
                 :height="35"
                 :width="35"></loading>
        <div class="col-md-8">
            <b-button type="button" @click="c2method()" variant="danger">
                <i class="fa fa-refresh"></i> Call modal
            </b-button>
            <b-card class="mt-3" header="Thêm / Sửa quảng cáo">
                <b-form class="form-horizontal">
                    <b-form-group label="Tên chiến dịch:" label-for="input-1">
                        <b-form-input id="input-1"
                                      v-model="adsObj.Name"
                                      type="text"
                                      required
                                      placeholder="Tên chiến dịch"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Loại">
                        <b-form-select v-model="adsObj.Type" :options="Types" required></b-form-select>
                    </b-form-group>

                    <b-form-group label="Vị trí">
                        <b-form-input v-model="adsObj.Position" type="number" required placeholder="Vị trí"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Đường dẫn">
                        <b-form-input v-model="adsObj.Url" type="text" required placeholder="Đường dẫn"></b-form-input>
                    </b-form-group>

                    <b-form-group label="Thứ tự">
                        <b-form-input v-model="adsObj.SortOrder" type="number" required placeholder="Thứ tự"></b-form-input>
                    </b-form-group>

                    <b-form-group label="Nội dung">
                        <b-form-textarea v-model="adsObj.Content" placeholder="Nội dung" rows="3" max-rows="6"></b-form-textarea>
                    </b-form-group>

                </b-form>
            </b-card>
        </div>
        <div class="col-md-4">
            <div class="mt-3" style="position:fixed;width:25%">
                <b-card header="Đăng bài">

                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-info btn-submit-form col-md-12 btncus" type="submit" @click="DoAddEdit()">
                                <i class="fa fa-save"></i> Cập nhật
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success col-md-12 btncus" type="button" @click="DoRefesh()">
                                <i class="fa fa-refresh"></i> Làm mới
                            </button>
                        </div>
                    </div>
                    <b-form-group style="margin-top:10px">
                        <b-form-checkbox v-model="adsObj.IsEnable">Kích hoạt</b-form-checkbox>
                    </b-form-group>

                </b-card>
                <b-card header="Đăng hình ảnh">

                    <b-form-group>
                        <b-form-file id="file-field" size="sm" v-on:change="updatePreview"></b-form-file>

                        <img style="margin-top:10px" :src="preview" class="preview-image img-thumbnail" v-on:click="openUpload">
                    </b-form-group>

                    <!--<FileFields v-bind:imagePreview="adsObj.Thumb"></FileFields>-->
                </b-card>
            </div>


        </div>
        <cmodal></cmodal>
    </div>
</template>


<script>
    import "vue-loading-overlay/dist/vue-loading.css";
    import msgNotify from "./../../common/constant";
    import { mapGetters, mapActions } from "vuex";
    import Loading from "vue-loading-overlay";

    import cmodal from './../../components/fileManager/list'

    import FileFields from "../../components/FileField";
    import EventBus from "./../../common/eventBus";
    // Import component

    export default {
        name: "AdsEdit",
        data() {
            return {

                selectedFile: null,
                preview: '/assets/img/unnamed.jpg',
                isLoading: false,
                fullPage: false,
                color: "#007bff",
                adsObj: {
                    Id: 0,
                    Type: 0,
                    IsEnable: false
                },
                Types: [
                    { value: 0, text: "Chọn loại" },
                    { value: 1, text: "Loại thiết bị" },
                    { value: 2, text: "Loại sàn gỗ" }
                ]
            };
        },

        created() {
            EventBus.$on('FileSelected', value => {
                alert(value)
            })
        },
        destroyed() {

            EventBus.$off('FileSelected');
        },
        components: {
            Loading,

            'cmodal': cmodal,

            //   FileFields

        },

        mounted() {

            if (this.$route.params.id > 0) {
                this.isLoading = true;
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getAds(this.$route.params.id).then(respose => {
                    this.adsObj = respose.Data;
                    if (this.adsObj.Thumb != null && this.adsObj.Thumb != undefined && this.adsObj.Thumb.length > 0) {
                        this.preview = this.adsObj.Thumb;
                    }
                });
                this.isLoading = false;
            }
        },

        computed: {
            ...mapGetters(["ads"]),
        },

        methods: {
            ...mapActions(["addAds", "editAds", "getAds"]),

            c2method() {
                EventBus.$emit('FileManagerOpen', 'abc');
            },


            DoAddEdit() {
                this.isLoading = true;
                var fromData = new FormData();
                fromData.append('image', this.selectedFile);
                fromData.append('ads', JSON.stringify(this.adsObj));
                if (this.adsObj.Id > 0) {
                    this.editAds(fromData)
                        .then(response => {
                            if (response.Success == true) {
                                this.$toast.success(response.Message, {});
                                this.isLoading = false;
                            }
                            else {
                                this.$toast.error(response.Message, {});
                                this.isLoading = false;
                            }

                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                } else {
                    this.addAds(fromData)
                        .then(response => {
                            if (response.Success == true) {
                                this.$toast.success(response.Message, {});
                                this.isLoading = false;
                            }
                            else {
                                this.$toast.error(response.Message, {});
                                this.isLoading = false;
                            }
                        })
                        .catch(e => {
                            this.$toast.error(msgNotify.error + ". Error:" + e, {});
                            this.isLoading = false;
                        });
                }
            },
            openUpload() {
                document.getElementById('file-field').click()
            },
            updatePreview(e) {
                console.log('e', e)
                var reader, files = e.target.files
                if (files.length === 0) {
                    console.log('Empty')
                }
                this.selectedFile = files[0];
                reader = new FileReader();
                reader.onload = (e) => {
                    this.preview = e.target.result;

                    console.log(this.selectedFile);
                }
                reader.readAsDataURL(files[0])
            }
        },
        //watch: {
        //    ads: function () {
        //        this.adsObj = Object.assign({}, this.$store.getters.ads);
        //    }
        //},
    };
</script>
<style>
</style>
